Repository optuna/optuna, pull requests merged in 2018-12, with the labels that each got.

#267 Fix a style error in FAQ.
  docs/source/faq.rst
Labels: bug, document

#242 Add `load_if_exists` option
  docs/source/reference/structs.rst
  optuna/cli.py
  optuna/storages/rdb/storage.py
  optuna/structs.py
  optuna/study.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/test_cli.py
  tests/test_study.py
Labels: feature

#256 implementing keras integration
  .circleci/config.yml
  docs/source/tutorial/pruning.rst
  optuna/integration/__init__.py
  optuna/integration/keras.py
  setup.py
  tests/integration_tests/test_keras.py
Labels: feature

#282 Optimize query of count trials.
  optuna/pruners.py
  optuna/storages/rdb/models.py
Labels: enhancement

#236 Add a pruner based on ASHA
  docs/source/reference/pruners.rst
  optuna/pruners/__init__.py
  optuna/pruners/base.py
  optuna/pruners/median.py
  optuna/pruners/successive_halving.py
  tests/pruners_tests/__init__.py
  tests/pruners_tests/test_median.py
  tests/pruners_tests/test_successive_halving.py
Labels: feature
