Repository optuna/optuna, pull requests merged in 2019-05, with the labels that each got.

#366 feat: Added PyTorch example MNIST
  .circleci/config.yml
  examples/README.md
  examples/pytorch_simple.py
Labels: example

#396 Fix installation failure with Python-3.5.2.
  setup.py
Labels: bug

#395 Escape '%' character in storage URL.
  optuna/storages/rdb/storage.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: bug

#402 Fix a bug that `FixedTrial` cannot handle categorical parameters correctly.
  optuna/trial.py
  tests/test_trial.py
Labels: bug

#407 Use `optuna.load_study()` function instead of `optuna.Study()` constructor.
  docs/source/tutorial/distributed.rst
  examples/chainermn_simple.py
  examples/pruning/chainermn_integration.py
  optuna/cli.py
  optuna/integration/chainermn.py
  tests/test_cli.py
Labels: document
