Repository optuna/optuna, pull requests merged in 2019-07, with the labels that each got.

#399 Add SkoptSampler.
  docs/source/reference/integration.rst
  optuna/integration/__init__.py
  optuna/integration/skopt.py
  optuna/testing/sampler.py
  setup.py
  tests/integration_tests/test_skopt.py
  tests/samplers_tests/test_samplers.py
Labels: feature

#449 Fix the problem reported by #448.
  optuna/samplers/random.py
  tests/samplers_tests/test_samplers.py
Labels: bug

#439 Make `TPESampler` pruning aware.
  optuna/samplers/tpe/sampler.py
  optuna/storages/base.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: enhancement

#410 Apply maximize to examples
  examples/chainer_simple.py
  examples/lightgbm_simple.py
  examples/sklearn_additional_args.py
  examples/sklearn_simple.py
  examples/tensorflow_estimator_simple.py
  examples/xgboost_simple.py
Labels: example

#445 Change the default gamma function for `TPESampler`.
  optuna/samplers/tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: enhancement

#447 Add CMA-ES Sampler.
  docs/source/reference/integration.rst
  optuna/integration/__init__.py
  optuna/integration/cma.py
  optuna/testing/distribution.py
  setup.py
  tests/integration_tests/test_cma.py
  tests/integration_tests/test_sampler.py
  tests/integration_tests/test_skopt.py
  tests/samplers_tests/test_samplers.py
Labels: feature

#466 Make tpe faster
  optuna/samplers/tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: enhancement

#467 Reduce CI time.
  .circleci/config.yml
  tests/integration_tests/test_chainermn.py
  tests/test_study.py
Labels: test

#461 Add `intersection_search_space` function.
  docs/source/reference/samplers.rst
  optuna/integration/skopt.py
  optuna/samplers/__init__.py
  optuna/samplers/base.py
  tests/integration_tests/test_skopt.py
  tests/samplers_tests/test_samplers.py
Labels: enhancement
