Repository optuna/optuna, pull requests merged in 2019-04, with the labels that each got.

#371 Add `KerasPruningCallback` and `TensorFlowPruningHook` to document.
  docs/source/reference/integration.rst
Labels: document

#359 feat: Simple mxnet example for MNIST
  .circleci/config.yml
  examples/README.md
  examples/mxnet_simple.py
Labels: example

#336 Introduce Alembic.
  docs/source/tutorial/cli.rst
  optuna/cli.py
  optuna/storages/rdb/alembic.ini
  optuna/storages/rdb/alembic/env.py
  optuna/storages/rdb/alembic/script.py.mako
  optuna/storages/rdb/alembic/versions/v0.9.0.a.py
  optuna/storages/rdb/models.py
  optuna/storages/rdb/storage.py
  setup.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/test_cli.py
Labels: enhancement

#349 Add cache to RDBStorage.
  optuna/storages/base.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/models.py
  optuna/storages/rdb/storage.py
  optuna/structs.py
  optuna/study.py
  optuna/testing/integration.py
  optuna/testing/storage.py
  tests/integration_tests/test_chainer.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_keras.py
  tests/integration_tests/test_lightgbm.py
  tests/integration_tests/test_xgboost.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_study.py
Labels: enhancement

#373 Fix minor problems of `TPESampler` and `ParzenEstimator`.
  optuna/samplers/tpe/parzen_estimator.py
  optuna/samplers/tpe/sampler.py
Labels: bug
