Repository optuna/optuna, pull requests merged in 2019-01, with the labels that each got.

#295 Add instruction sentences for RDB URL setup in the tutorial.
  docs/source/tutorial/rdb.rst
Labels: document

#291 Add an FAQ page about unit tests of objective functions.
  docs/source/faq.rst
Labels: document

#260 Update lightgbm.py
  optuna/integration/lightgbm.py
  tests/integration_tests/test_lightgbm.py
Labels: feature

#277 Add an example and FAQ about object functions that take additional arguments.
  docs/source/faq.rst
  examples/README.md
  examples/chainer_simple.py
  examples/chainermn_simple.py
  examples/lightgbm_simple.py
  examples/pruning/chainer_integration.py
  examples/pruning/lightgbm_integration.py
  examples/pruning/simple.py
  examples/pruning/xgboost_integration.py
  examples/sklearn_additional_args.py
  examples/sklearn_simple.py
  examples/xgboost_simple.py
Labels: example

#292 Integration for TensorFlow's Estimator API
  docs/source/tutorial/pruning.rst
  optuna/integration/__init__.py
  optuna/integration/tensorflow.py
  tests/integration_tests/test_tensorflow.py
Labels: feature

#300 Add supplementary comments in integration modules.
  optuna/integration/lightgbm.py
  optuna/integration/tensorflow.py
Labels: document

#280 Don't suggest "number of boosting iterations" parameter in GBDT examples.
  docs/source/tutorial/pruning.rst
  examples/lightgbm_simple.py
  examples/pruning/lightgbm_integration.py
  examples/pruning/xgboost_integration.py
  examples/xgboost_simple.py
  optuna/integration/lightgbm.py
  optuna/integration/xgboost.py
Labels: example

#304 Fix warning issue on recent sklearn version
  examples/sklearn_additional_args.py
  examples/sklearn_simple.py
Labels: example

#306 Fix typo in FAQ.
  docs/source/faq.rst
Labels: document

#296 Enable `--disallow-untyped-defs` mypy flag.
  .circleci/config.yml
  optuna/dashboard.py
  optuna/integration/chainermn.py
  optuna/study.py
  setup.py
  tests/storages_tests/rdb_tests/test_models.py
  tests/test_cli.py
  tests/test_study.py
Labels: enhancement

#311 Add a blank line to show code example.
  optuna/visualization.py
Labels: document
