Repository optuna/optuna, pull requests merged in 2019-06, with the labels that each got.

#397 Feature request: PercentilePruner
  docs/source/reference/pruners.rst
  optuna/pruners/__init__.py
  optuna/pruners/median.py
  optuna/pruners/percentile.py
  optuna/storages/base.py
  tests/pruners_tests/test_percentile.py
  tests/storages_tests/test_storages.py
Labels: feature

#415 Fix the error that occurs when using a study that contains old trials.
  optuna/storages/rdb/storage.py
Labels: bug

#425 Replace `connect_args` in `RDBStorage` constructor with `engine_kwargs` argument.
  optuna/storages/rdb/storage.py
  optuna/testing/storage.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: enhancement

#428 Fix broken test.
  tests/test_trial.py
Labels: test

#431 Add `BaseDistribution.single` methods.
  optuna/distributions.py
  tests/test_distributions.py
Labels: enhancement

#430 Add `product_search_space` function.
  docs/source/reference/samplers.rst
  optuna/samplers/__init__.py
  tests/samplers_tests/test_samplers.py
Labels: enhancement
