Repository optuna/optuna, pull requests merged in 2019-11, with the labels that each got.

#657 Add MANIFEST.in file.
  MANIFEST.in
Labels: other

#661 Add a border to each data point in a slice plot.
  optuna/visualization.py
Labels: visualization

#662 Fix colorbar of contour plots.
  optuna/visualization.py
Labels: bug, visualization

#658 Use a log-scale axis in slice plots if a parameter type is LogUniformDistribution.
  optuna/visualization.py
  tests/test_visualization.py
Labels: visualization

#659 Improve handling of reported values.
  optuna/trial.py
  tests/test_trial.py
Labels: enhancement

#666 Use a log-scale axis in contour plots if a parameter type is LogUniformDistribution.
  optuna/visualization.py
  tests/test_visualization.py
Labels: visualization

#672 Fix CI failure due to pytorch_lightning-v0.5.3.
  setup.py
Labels: bug

#674 Fix `import optuna` failure on Python2.7 environment without LightGBM installed.
  .circleci/config.yml
  optuna/integration/lightgbm.py
Labels: CI, bug

#678 Change subsample's low value from 0 to 0.1 in the catboost example.
  examples/catboost_simple.py
Labels: example

#676 Replace the company name with `Optuna Contributors` in the docs
  docs/source/conf.py
Labels: document

#668 Update the documentation of `Trial` class.
  optuna/trial.py
Labels: document

#682 Add punctuation to copyright in docs
  docs/source/conf.py
Labels: document

#630 Add more `optuna.visualization` tests
  optuna/visualization.py
  tests/test_visualization.py
Labels: test, visualization

#675 Code of Conduct addition
  CODE_OF_CONDUCT.md
Labels: other

#687 Add a note about type casting of reported values to `trial.report()` doc.
  optuna/trial.py
Labels: document

#663 Make `{FrozenTrial,Trial}.trial_id` private
  docs/source/reference/structs.rst
  optuna/dashboard.py
  optuna/pruners/successive_halving.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/storage.py
  optuna/structs.py
  optuna/study.py
  tests/integration_tests/test_chainermn.py
  tests/pruners_tests/test_median.py
  tests/pruners_tests/test_percentile.py
  tests/pruners_tests/test_successive_halving.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_structs.py
Labels: feature

#660 Allow specifying step interval for `{Median,Percentile}Pruner`
  optuna/pruners/median.py
  optuna/pruners/percentile.py
  tests/pruners_tests/test_median.py
Labels: feature

#693 Validate arguments to `PercentilePruner`
  optuna/pruners/percentile.py
  tests/pruners_tests/test_percentile.py
Labels: enhancement

#690 Improve documentation of `Trial.should_prune`
  optuna/trial.py
Labels: document

#573 Make distribution classes single inheritance.
  optuna/distributions.py
  tests/test_distributions.py
Labels: enhancement

#691 Extract exception classes to optuna.exceptions module.
  docs/source/reference/exceptions.rst
  docs/source/reference/index.rst
  docs/source/reference/structs.rst
  docs/source/tutorial/pruning.rst
  examples/pruning/simple.py
  examples/visualization/plot_intermediate_values.ipynb
  examples/visualization/plot_optimization_history.ipynb
  examples/visualization/plot_parallel_coordinate.ipynb
  optuna/__init__.py
  optuna/cli.py
  optuna/exceptions.py
  optuna/integration/chainer.py
  optuna/integration/chainermn.py
  optuna/integration/fastai.py
  optuna/integration/keras.py
  optuna/integration/lightgbm.py
  optuna/integration/mxnet.py
  optuna/integration/pytorch_ignite.py
  optuna/integration/pytorch_lightning.py
  optuna/integration/sklearn.py
  optuna/integration/tensorflow.py
  optuna/integration/tfkeras.py
  optuna/integration/xgboost.py
  optuna/storages/rdb/storage.py
  optuna/structs.py
  optuna/study.py
  tests/integration_tests/test_chainer.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_keras.py
  tests/integration_tests/test_lightgbm.py
  tests/integration_tests/test_pytorch_ignite.py
  tests/integration_tests/test_tfkeras.py
  tests/integration_tests/test_xgboost.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_sampler.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/test_cli.py
  tests/test_study.py
Labels: compatibility

#694 Remove the version constraint for `pytorch_lightning`.
  setup.py
Labels: other

#689 Expose `RDBStorage` constructor.
  docs/source/reference/index.rst
  docs/source/reference/storages.rst
  optuna/storages/rdb/storage.py
  optuna/study.py
Labels: document

#700 Implement version property of DictLogger.
  examples/pytorch_lightning_simple.py
Labels: example

#701 Validate report step
  optuna/trial.py
  tests/integration_tests/test_pytorch_ignite.py
  tests/test_trial.py
Labels: compatibility, enhancement

#708 Replace `pfnet/optuna` to `optuna/optuna`.
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/source/faq.rst
  docs/source/installation.rst
  docs/source/tutorial/configurations.rst
  docs/source/tutorial/pruning.rst
  docs/source/tutorial/sampler.rst
  examples/README.md
  optuna/integration/chainermn.py
  optuna/integration/fastai.py
  optuna/pruners/successive_halving.py
  optuna/storages/rdb/storage.py
  optuna/study.py
  optuna/visualization.py
  setup.py
  tests/test_study.py
Labels: document

#667 Visual edits
  examples/README.md
  examples/visualization/plot_contour.ipynb
  examples/visualization/plot_intermediate_values.ipynb
  examples/visualization/plot_optimization_history.ipynb
  examples/visualization/plot_parallel_coordinate.ipynb
  examples/visualization/plot_slice.ipynb
Labels: example

#705 Prefix '_' to private attributes of classes in `optuna.integration`.
  optuna/integration/chainer.py
  optuna/integration/cma.py
  optuna/integration/fastai.py
  optuna/integration/keras.py
  optuna/integration/lightgbm.py
  optuna/integration/mxnet.py
  optuna/integration/pytorch_ignite.py
  optuna/integration/pytorch_lightning.py
  optuna/integration/sklearn.py
  optuna/integration/tensorflow.py
  optuna/integration/tfkeras.py
  optuna/integration/xgboost.py
  tests/integration_tests/test_chainer.py
Labels: compatibility

#699 Prefix '_' to private classes and attributes in `optuna.samplers`.
  optuna/samplers/random.py
  optuna/samplers/tpe/parzen_estimator.py
  optuna/samplers/tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
Labels: compatibility

#704 Make plot functions return Plotly graph object.
  optuna/visualization.py
Labels: visualization

#716 Make `bokeh-allow-websocket-origins` required.
  optuna/dashboard.py
Labels: compatibility

#720 Add minimum width to subplots in slice plot
  optuna/visualization.py
Labels: enhancement

#710 Drop CI jobs for Python 2.7.
  .circleci/config.yml
  CONTRIBUTING.md
  README.md
  docs/source/installation.rst
  tests/test_structs.py
  tests/test_trial.py
Labels: CI

#715 Remove `__future__`.
  examples/chainer_simple.py
  examples/chainermn_simple.py
  examples/mxnet_simple.py
  examples/pruning/chainer_integration.py
  examples/pruning/chainermn_integration.py
  examples/pruning/mxnet_integration.py
  examples/pruning/tensorflow_estimator_integration.py
  examples/pruning/xgboost_integration.py
  examples/pytorch_ignite_simple.py
  examples/pytorch_lightning_simple.py
  examples/pytorch_simple.py
  examples/tensorflow_estimator_simple.py
  examples/xgboost_simple.py
  optuna/cli.py
  optuna/integration/chainer.py
  optuna/integration/chainermn.py
  optuna/integration/cma.py
  optuna/integration/fastai.py
  optuna/integration/keras.py
  optuna/integration/lightgbm.py
  optuna/integration/mxnet.py
  optuna/integration/pytorch_lightning.py
  optuna/integration/sklearn.py
  optuna/integration/skopt.py
  optuna/integration/tensorflow.py
  optuna/integration/tfkeras.py
  optuna/integration/xgboost.py
  optuna/logging.py
  optuna/storages/rdb/alembic/env.py
Labels: compatibility

#724 Remove version checks from setup.py
  setup.py
Labels: compatibility

#712 Remove Python 2 version check from `integration.__init__.py` condition.
  optuna/integration/__init__.py
Labels: compatibility

#714 Remove `six`.
  optuna/distributions.py
  optuna/pruners/base.py
  optuna/pruners/percentile.py
  optuna/samplers/base.py
  optuna/storages/base.py
  optuna/storages/rdb/storage.py
  optuna/study.py
  optuna/trial.py
  setup.py
Labels: compatibility

#718 Make `study_id` private.
  optuna/integration/lightgbm.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/storage.py
  optuna/structs.py
  optuna/study.py
  optuna/testing/integration.py
  optuna/trial.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_tensorflow.py
  tests/pruners_tests/test_median.py
  tests/pruners_tests/test_nop.py
  tests/pruners_tests/test_percentile.py
  tests/pruners_tests/test_successive_halving.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_sampler.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_cli.py
  tests/test_structs.py
  tests/test_study.py
  tests/test_trial.py
Labels: compatibility

#719 Add `FrozenTrial.__lt__` to sort trials without key.
  optuna/structs.py
  tests/test_structs.py
Labels: compatibility

#702 [RFC] Introduce doctest
  .circleci/config.yml
  docs/source/conf.py
  optuna/study.py
  setup.py
Labels: document

#735 Merge visualization examples
  examples/README.md
  examples/visualization/plot_contour.ipynb
  examples/visualization/plot_intermediate_values.ipynb
  examples/visualization/plot_optimization_history.ipynb
  examples/visualization/plot_parallel_coordinate.ipynb
  examples/visualization/plot_slice.ipynb
  examples/visualization/plot_study.ipynb
Labels: example, visualization

#726 Fix implementations of `__eq__`
  optuna/distributions.py
  optuna/structs.py
  tests/test_distributions.py
Labels: enhancement

#738 Cosmetic fix for GitHub templates.
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/questions-help-support.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: other

#743 `BaseDistribution.__hash__` to take `__class__` into account
  optuna/distributions.py
  tests/test_distributions.py
Labels: compatibility

#744 First Contribution clarity edits
  docs/source/tutorial/first.rst
Labels: document

#746 Consistent import of `optuna` in examples
  examples/chainer_simple.py
  examples/dask_ml_simple.py
  examples/distributed/kubernetes/sklearn_distributed.py
  examples/mxnet_simple.py
  examples/pruning/mxnet_integration.py
  examples/pytorch_simple.py
  examples/sklearn_additional_args.py
  examples/sklearn_simple.py
  examples/tensorflow_eager_simple.py
Labels: example

#741 Add badge on README that launches starter notebook
  README.md
  examples/quickstart.ipynb
Labels: example

#751 Fix deprecated property access.
  optuna/study.py
Labels: other

#742 `setup.py` cosmetics
  setup.py
Labels: compatibility
