Repository optuna/optuna, pull requests merged in 2019-12, with the labels that each got.

#753 Remove Google Colab preinstalled library from `quickstart.ipynb`
  examples/quickstart.ipynb
Labels: example

#754 Setup `intersphinx`
  docs/source/conf.py
Labels: document

#749 Add Gitter badge to README.md.
  README.md
Labels: document

#750 Replace slack with gitter in the issue template.
  .github/ISSUE_TEMPLATE/questions-help-support.md
Labels: document

#757 Remove redundant trailing commas
  tests/test_distributions.py
Labels: code-fix

#756 Remove StudySummary.__ne__.
  optuna/structs.py
  tests/test_structs.py
Labels: code-fix

#736 `trials_dataframe` to allow returning `DataFrame` with flattened columns
  optuna/study.py
  tests/test_study.py
Labels: compatibility, feature

#730 Add scikit-image example
  examples/README.md
  examples/skimage_lbp_simple.py
  setup.py
Labels: example

#759 Add CI jobs for Python 3.8.
  .circleci/config.yml
  setup.py
Labels: CI

#761 Followup #730.
  examples/skimage_lbp_simple.py
Labels: code-fix

#721 Use default parameter when tuned parameter doesn't improve
  optuna/integration/lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: bug

#765 Fix a typo in RDBStorage.
  optuna/storages/rdb/storage.py
Labels: code-fix

#737 Add "Open In Colab" badge to visualization example
  examples/visualization/plot_study.ipynb
Labels: example

#692 Use Joblib to parallelize optimization
  optuna/samplers/random.py
  optuna/storages/rdb/storage.py
  optuna/study.py
  setup.py
  tests/samplers_tests/test_samplers.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: feature

#768 Use the preferred module level logger in `structs.py`
  optuna/structs.py
Labels: enhancement

#681 Dissect `optuna.visualization.py`
  optuna/testing/visualization.py
  optuna/visualization.py
  optuna/visualization/__init__.py
  optuna/visualization/contour.py
  optuna/visualization/intermediate_values.py
  optuna/visualization/optimization_history.py
  optuna/visualization/parallel_coordinate.py
  optuna/visualization/plotly_imports.py
  optuna/visualization/slice.py
  optuna/visualization/utils.py
  tests/test_visualization.py
  tests/visualization_tests/__init__.py
  tests/visualization_tests/test_contour.py
  tests/visualization_tests/test_intermediate_plot.py
  tests/visualization_tests/test_optimization_history.py
  tests/visualization_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_slice.py
  tests/visualization_tests/test_utils.py
Labels: code-fix

#769 Remove a temporary workaround in the `test_callbacks` function.
  tests/test_study.py
Labels: test

#706 Remove `enable_cache` option from `RDBStorage`.
  optuna/storages/rdb/storage.py
  optuna/testing/storage.py
  tests/integration_tests/test_chainermn.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_study.py
Labels: compatibility

#770 Change `logger` to study's module variable
  optuna/study.py
Labels: code-fix

#772 Remove deprecated `product_search_space` function.
  docs/source/reference/samplers.rst
  optuna/integration/cma.py
  optuna/integration/skopt.py
  optuna/samplers/__init__.py
  tests/samplers_tests/test_samplers.py
Labels: compatibility

#773 Add lock acquisition to make `test_callbacks` test thread-safe.
  tests/test_study.py
Labels: test

#740 Add badges to README
  README.md
Labels: other

#778 Use SourceFileLoader instead of imp module
  optuna/cli.py
Labels: enhancement

#776 Follow Google Analytics Privacy Disclosure Policy
  docs/source/_templates/footer.html
  docs/source/privacy.rst
Labels: document

#771 Improving usability of TrialState in trials dataframes.
  optuna/structs.py
  optuna/study.py
  tests/test_study.py
Labels: compatibility

#774 Remove slow CI tests
  .circleci/config.yml
  tests/test_study.py
Labels: test

#781 Remove cython from requirements.
  setup.py
Labels: CI

#777 Separate standard library imports from third party imports.
  examples/chainermn_simple.py
  examples/distributed/kubernetes/sklearn_distributed.py
  examples/mxnet_simple.py
  examples/optuna_search_cv_simple.py
  examples/pruning/chainermn_integration.py
  examples/pruning/tensorflow_estimator_integration.py
  examples/pytorch_ignite_simple.py
  examples/pytorch_simple.py
  examples/tensorflow_estimator_simple.py
  optuna/cli.py
  optuna/dashboard.py
  optuna/integration/chainermn.py
  optuna/integration/cma.py
  optuna/integration/lightgbm_tuner/optimize.py
  optuna/integration/lightgbm_tuner/sklearn.py
  optuna/pruners/percentile.py
  optuna/samplers/tpe/parzen_estimator.py
  optuna/samplers/tpe/sampler.py
  optuna/storages/rdb/alembic/env.py
  optuna/storages/rdb/models.py
  optuna/storages/rdb/storage.py
  optuna/study.py
  optuna/testing/visualization.py
  optuna/visualization/parallel_coordinate.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
  tests/integration_tests/test_chainer.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_cma.py
  tests/integration_tests/test_lightgbm.py
  tests/integration_tests/test_tensorflow.py
  tests/pruners_tests/test_percentile.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
  tests/samplers_tests/tpe_tests/test_sampler.py
  tests/storages_tests/rdb_tests/test_models.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_cli.py
  tests/test_distributions.py
  tests/test_logging.py
  tests/test_structs.py
  tests/test_study.py
  tests/test_trial.py
  tests/visualization_tests/test_contour.py
  tests/visualization_tests/test_intermediate_plot.py
  tests/visualization_tests/test_optimization_history.py
  tests/visualization_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_slice.py
Labels: code-fix

#758 Only allow `float`, `str` and castable to `float` in categorical distribution
  optuna/distributions.py
  optuna/integration/chainermn.py
  optuna/testing/sampler.py
  optuna/trial.py
  tests/integration_tests/test_sampler.py
  tests/integration_tests/test_skopt.py
  tests/samplers_tests/test_samplers.py
  tests/test_dashboard.py
  tests/test_distributions.py
  tests/test_study.py
  tests/test_trial.py
Labels: compatibility

#775 Add 'attrs' option to `Study.trials_dataframe()`.
  optuna/study.py
  tests/test_study.py
Labels: compatibility

#779 Refactor model definition of `examples/pytorch_simple.py`
  examples/pytorch_simple.py
Labels: example

#787 Followup #681.
  optuna/visualization/contour.py
  optuna/visualization/intermediate_values.py
  optuna/visualization/optimization_history.py
  optuna/visualization/parallel_coordinate.py
  optuna/visualization/plotly_imports.py
  optuna/visualization/slice.py
  tests/visualization_tests/test_contour.py
  tests/visualization_tests/test_intermediate_plot.py
  tests/visualization_tests/test_optimization_history.py
  tests/visualization_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_slice.py
Labels: code-fix, test

#696 Add options to disable trials deep copy.
  optuna/pruners/percentile.py
  optuna/pruners/successive_halving.py
  optuna/samplers/tpe/sampler.py
  optuna/storages/base.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/storage.py
  optuna/study.py
  tests/storages_tests/test_storages.py
  tests/test_study.py
Labels: enhancement

#789 Fix Colab badge on visualization example notebook
  examples/visualization/plot_study.ipynb
Labels: example

#790 Remove `cache_mode` argument to fix a broken test.
  tests/test_study.py
Labels: test

#780 Add warning about use of InMemoryStorage with multi-processing.
  optuna/study.py
  tests/test_study.py
Labels: enhancement

#788 Document `BasePruner` in docs
  docs/source/reference/pruners.rst
  optuna/pruners/nop.py
  optuna/pruners/percentile.py
  optuna/pruners/successive_halving.py
  optuna/samplers/random.py
Labels: document

#729 speed up study.best_trial on RDB.
  optuna/storages/rdb/models.py
  optuna/storages/rdb/storage.py
Labels: enhancement

#784 Update example dataframe in tutorial.
  docs/source/tutorial/rdb.rst
Labels: document

#792 Early commit after RDB session creation
  optuna/storages/rdb/storage.py
Labels: code-fix

#796 Add favicon to doc
  docs/image/favicon.ico
  docs/source/conf.py
Labels: document

#795 Add MLflow example
  examples/README.md
  examples/mlflow/keras_mlflow.py
  setup.py
Labels: example

#801 [Hotfix] Add version restriction of scipy for CI jobs.
  setup.py
Labels: CI

#799 Use callback to report results to MLflow.
  examples/mlflow/keras_mlflow.py
Labels: example

#807 Avoid redundant sort (reverse) in successive halving
  optuna/pruners/successive_halving.py
Labels: enhancement

#804 Revise quickstart Jupyter notebook
  examples/quickstart.ipynb
Labels: example

#808 Refactoring of successive halving
  optuna/pruners/successive_halving.py
Labels: code-fix

#802 Add README with gif to MLflow example
  examples/mlflow/README.md
Labels: example

#793 Update docstring of `BasePruner.prune`
  optuna/pruners/base.py
Labels: document

#791 Merge with master branch in CI jobs
  .circleci/config.yml
Labels: CI

#816 Fix indentation in tutorial/index.rst
  docs/source/tutorial/index.rst
Labels: document

#819 Fix warnings in the documentation build
  docs/Makefile
  docs/source/conf.py
  docs/source/privacy.rst
  docs/source/reference/index.rst
  docs/source/tutorial/index.rst
  setup.py
Labels: document
