Repository optuna/optuna, pull requests merged in 2019-09, with the labels that each got.

#504 Call session commit after read access.
  optuna/storages/rdb/storage.py
Labels: bug

#491 Remove `InTrialStudy` class.
  docs/source/reference/study.rst
  optuna/integration/cma.py
  optuna/integration/skopt.py
  optuna/samplers/base.py
  optuna/samplers/random.py
  optuna/samplers/tpe/sampler.py
  optuna/study.py
  optuna/testing/sampler.py
  optuna/trial.py
  tests/integration_tests/test_cma.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_sampler.py
  tests/test_study.py
Labels: compatibility

#493 New pruner interface
  optuna/pruners/base.py
  optuna/pruners/percentile.py
  optuna/pruners/successive_halving.py
  optuna/structs.py
  optuna/testing/integration.py
  optuna/trial.py
  tests/pruners_tests/test_median.py
  tests/pruners_tests/test_percentile.py
  tests/pruners_tests/test_successive_halving.py
  tests/test_trial.py
Labels: compatibility

#489 [MRG] Added Keras example
  examples/keras_simple.py
Labels: example

#506 Remove `_id` suffix from `BaseStorage.create_new_{study,trial}_id` methods.
  optuna/storages/base.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/storage.py
  optuna/study.py
  optuna/testing/integration.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_tensorflow.py
  tests/pruners_tests/test_median.py
  tests/pruners_tests/test_percentile.py
  tests/pruners_tests/test_successive_halving.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_sampler.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_cli.py
  tests/test_trial.py
Labels: enhancement

#464 Add `Study._append_trial` method.
  optuna/storages/base.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/storage.py
  optuna/structs.py
  optuna/study.py
  tests/storages_tests/test_storages.py
  tests/test_structs.py
  tests/test_study.py
Labels: feature

#511 Plotly version 4.0.0 support
  examples/visualization/plot_intermediate_values.ipynb
  examples/visualization/plot_intermediate_values.png
  optuna/visualization.py
  setup.py
  tests/test_visualization.py
Labels: enhancement

#519 Change class to use for type checking.
  optuna/trial.py
Labels: enhancement

#422 Add cascade settings
  optuna/storages/rdb/models.py
  tests/storages_tests/rdb_tests/test_models.py
Labels: enhancement

#522 move example's setup to setup.py
  .circleci/config.yml
  setup.py
Labels: enhancement

#357 Create sklearn.py
  docs/source/reference/integration.rst
  optuna/integration/__init__.py
  optuna/integration/sklearn.py
  setup.py
  tests/integration_tests/test_sklearn.py
Labels: feature

#523 Add datetime start during a trial
  optuna/trial.py
  tests/test_trial.py
Labels: enhancement

#524 Add delete_study api for storage package
  optuna/cli.py
  optuna/storages/base.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/storage.py
  tests/storages_tests/test_storages.py
  tests/test_cli.py
Labels: feature

#532 Change the deprecated product_search_space to intersection_search_space.
  optuna/integration/cma.py
Labels: enhancement

#527 Remove dependency on pandas
  optuna/study.py
  setup.py
Labels: enhancement

#537 Fix `test_keras_pruning_callback` to be compatible with `keras==2.3.0`.
  tests/integration_tests/test_keras.py
Labels: enhancement

#480 Add user-defined callbacks.
  optuna/study.py
  tests/test_study.py
Labels: feature

#513 Add function for optimization history visualization
  examples/visualization/plot_optimization_history.ipynb
  optuna/visualization.py
  tests/test_visualization.py
Labels: feature

#530 Pruning callback for tf.keras
  docs/source/reference/integration.rst
  docs/source/tutorial/pruning.rst
  examples/pruning/tfkeras_integration.py
  optuna/integration/__init__.py
  optuna/integration/tfkeras.py
  setup.py
  tests/integration_tests/test_tfkeras.py
Labels: feature

#541 Apply small fixes to history and intermediate plots.
  optuna/visualization.py
  tests/test_visualization.py
Labels: enhancement

#505 Fix round-off errors by using decimal module #503
  optuna/trial.py
  tests/test_trial.py
Labels: enhancement

#545 Fix OOM errors during execution of TF Keras example on CircleCI.
  examples/pruning/tfkeras_integration.py
Labels: example

#548 Add datetime_start property to FixedTrial.
  optuna/trial.py
  tests/test_trial.py
Labels: enhancement

#546 Update high value using Decimal.
  optuna/trial.py
  tests/test_trial.py
Labels: enhancement

#525 Add Python3.4 version check to RDBStorage.
  optuna/storages/rdb/storage.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: enhancement

#550 Fix typos (Follow-up of #525)
  tests/storages_tests/rdb_tests/test_storage.py
Labels: enhancement
