Repository optuna/optuna, pull requests merged in 2019-10, with the labels that each got.

#562 Quick fix for TensorFlow 2.0.
  optuna/integration/tensorflow.py
  tests/integration_tests/test_tensorflow.py
  tests/integration_tests/test_tfkeras.py
Labels: enhancement

#558 Add a function to delete a study object
  docs/source/reference/study.rst
  optuna/__init__.py
  optuna/study.py
  tests/test_study.py
Labels: enhancement

#569 Improve clarity of mxnet example
  examples/mxnet_simple.py
Labels: example

#578 .gitignore files related to examples
  .gitignore
Labels: example

#559 Add PyTorch Ignite example.
  examples/README.md
  examples/ignite_simple.py
  setup.py
Labels: example

#574 Make study returns an empty dataframe if no trials
  optuna/study.py
  tests/test_study.py
Labels: enhancement

#575 Make lightgbm examples more practical
  examples/lightgbm_simple.py
  examples/pruning/lightgbm_integration.py
Labels: example

#570 Add an example of `MXNetPruningCallback`
  examples/README.md
  examples/pruning/mxnet_integration.py
Labels: example

#579 [MRG] Removed init arguments from study docs
  optuna/study.py
Labels: document

#587 Add maximize support at Dashboard
  optuna/dashboard.py
Labels: enhancement

#583 Add experimental warning to OptunaSearchCV.
  optuna/integration/sklearn.py
Labels: document

#592 Fix the problem that `OptunaSearchCV` document isn't generated.
  optuna/integration/sklearn.py
Labels: document

#584 Add PyTorch Lightning example
  .circleci/config.yml
  examples/README.md
  examples/pytorch_lightning_simple.py
  setup.py
Labels: example

#590 Add links to nbviewer
  examples/README.md
Labels: document

#594 Add function for high-dimentional parameter relationships visualization.
  examples/README.md
  examples/visualization/plot_parallel_coordinate.ipynb
  optuna/visualization.py
  tests/test_visualization.py
Labels: feature

#595 Add function for parameter relationships visualization as contour plot.
  examples/README.md
  examples/visualization/plot_contour.ipynb
  optuna/visualization.py
  tests/test_visualization.py
Labels: feature

#596 Add function for parameter relationships visualization as slice plot.
  examples/README.md
  examples/visualization/plot_slice.ipynb
  optuna/visualization.py
  tests/test_visualization.py
Labels: feature

#598 Add missing call to check function
  optuna/integration/tensorflow.py
Labels: bug

#591 Apply a small fix to the docstring of `Study`.
  optuna/study.py
Labels: document

#535 Cache best trial_id
  optuna/storages/in_memory.py
Labels: enhancement

#549 Add automatic LightGBM tuner with stepwise logic.
  optuna/integration/__init__.py
  optuna/integration/lightgbm.py
  optuna/integration/lightgbm_tuner/__init__.py
  optuna/integration/lightgbm_tuner/alias.py
  optuna/integration/lightgbm_tuner/optimize.py
  optuna/integration/lightgbm_tuner/sklearn.py
  setup.py
  tests/integration_tests/lightgbm_tuner_tests/__init__.py
  tests/integration_tests/lightgbm_tuner_tests/test_alias.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: feature

#561 Add a PyTorch Ignite handler for pruning.
  docs/source/reference/integration.rst
  docs/source/tutorial/pruning.rst
  optuna/integration/__init__.py
  optuna/integration/ignite.py
  setup.py
  tests/integration_tests/test_ignite.py
Labels: feature

#597 Implement PyTorch Lightning integration
  .circleci/config.yml
  docs/source/reference/integration.rst
  docs/source/tutorial/pruning.rst
  optuna/integration/__init__.py
  optuna/integration/pytorch_lightning.py
  setup.py
  tests/integration_tests/test_pytorch_lightning.py
Labels: feature

#620 Fix an example for tensorflow==1.15.0.
  examples/tensorflow_eager_simple.py
Labels: example

#618 Align CircleCI `install-examples` step name to anchor
  .circleci/config.yml
Labels: test

#608 Enclose plot_slice() of slice plot example in backquotes
  examples/visualization/plot_slice.ipynb
Labels: example

#624 Hotfix: add missing comma
  optuna/integration/lightgbm_tuner/optimize.py
Labels: bug

#615 Add visualization functions to API reference doc.
  docs/source/reference/visualization.rst
Labels: document

#616 Add `ValueError` test to `test_get_contour_plot()`
  tests/test_visualization.py
Labels: test

#533 Add an option to force_garbage_collection for every trial.
  optuna/study.py
  tests/test_study.py
Labels: enhancement

#619 Add EPS to resolve ValueError in LightGBMTuner
  optuna/integration/lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: bug

#625 Fix the learning rate in the `LightGBMTuner`
  optuna/integration/lightgbm_tuner/alias.py
  optuna/integration/lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_alias.py
Labels: enhancement

#611 Followup #535.
  optuna/storages/in_memory.py
  tests/storages_tests/test_in_memory.py
Labels: enhancement

#607 Public APIs for checking visualization availability
  docs/source/reference/visualization.rst
  optuna/visualization.py
  tests/test_visualization.py
Labels: feature

#614 Add pruning to chainer example
  examples/chainer_simple.py
Labels: example

#635 Add document about stepwise tuning for LightGBM.
  docs/source/reference/integration.rst
  optuna/integration/lightgbm_tuner/__init__.py
Labels: document

#639 Update the experimental warning of `OptunaSearchCV`.
  optuna/integration/sklearn.py
Labels: document

#634 Update `BaseStudy.trials` doc to specify order constraint.
  optuna/study.py
Labels: document

#636 Fix the module of type variables.
  optuna/integration/lightgbm_tuner/__init__.py
  optuna/integration/lightgbm_tuner/optimize.py
  optuna/integration/lightgbm_tuner/sklearn.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: test

#640 Remove `TrialModel.where_study_id`.
  optuna/storages/rdb/models.py
  tests/storages_tests/rdb_tests/test_models.py
Labels: enhancement

#641 Avoid iterating through all trials unnecessarily
  optuna/storages/in_memory.py
Labels: enhancement

#633 Add `--pruning` option to the PyTorch Ignite example.
  .circleci/config.yml
  examples/README.md
  examples/ignite_simple.py
Labels: example

#644 Add type casting to float.
  optuna/integration/keras.py
  optuna/integration/tensorflow.py
  optuna/integration/tfkeras.py
Labels: bug

#637 Record all error raising trials as failures
  optuna/study.py
  tests/integration_tests/test_chainermn.py
  tests/test_study.py
Labels: enhancement

#638 Catch no exceptions in `optimize` by default
  optuna/integration/chainermn.py
  optuna/study.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_sampler.py
  tests/test_study.py
  tests/test_visualization.py
Labels: compatibility, enhancement

#650 Fix assertions in test_optimize_with_catch.
  tests/test_study.py
Labels: test

#648 Hide `pip` progress bar from CircleCI log
  .circleci/config.yml
Labels: CI

#649 Update CONTRIBUTING.md file.
  CONTRIBUTING.md
Labels: document

#646 Fix a bug that `LightGBMTuner` doesn't update `tuning_history` or `best_params`.
  optuna/integration/lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: bug

#653 Remove `OptunaConfig`.
  optuna/__init__.py
  optuna/cli.py
  optuna/config.py
  tests/test_cli.py
  tests/test_config.py
Labels: compatibility, feature

#654 Skip XGBoost tests and examples with Python 2.7 in CircleCI
  .circleci/config.yml
Labels: CI

#645 Prefix Ignite with "PyTorch"
  docs/source/reference/integration.rst
  docs/source/tutorial/pruning.rst
  examples/README.md
  examples/pytorch_ignite_simple.py
  optuna/integration/__init__.py
  optuna/integration/pytorch_ignite.py
  tests/integration_tests/test_pytorch_ignite.py
Labels: compatibility, feature

#651 Add PULL_REQUEST_TEMPLATE.md file.
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: document

#643 Distributed Optimization on Kubernetes example
  .circleci/config.yml
  examples/README.md
  examples/distributed/kubernetes/Dockerfile
  examples/distributed/kubernetes/README.md
  examples/distributed/kubernetes/k8s-manifests.yaml
  examples/distributed/kubernetes/sklearn_distributed.py
Labels: example
