Repository optuna/optuna, pull requests merged in 2019-03, with the labels that each got.

#323 Add Tensorflow examples.
  .circleci/config.yml
  examples/README.md
  examples/pruning/tensorflow_estimator_integration.py
  examples/tensorflow_estimator.py
Labels: example

#326 Fix import errors in Python3.5.0 and Python3.5.1
  optuna/cli.py
  optuna/dashboard.py
  optuna/distributions.py
  optuna/integration/chainermn.py
  optuna/integration/keras.py
  optuna/logging.py
  optuna/pruners/successive_halving.py
  optuna/samplers/random.py
  optuna/samplers/tpe/parzen_estimator.py
  optuna/samplers/tpe/sampler.py
  optuna/storages/base.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/models.py
  optuna/storages/rdb/storage.py
  optuna/study.py
  optuna/testing/storage.py
  optuna/visualization.py
  tests/integration_tests/test_chainer.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_tensorflow.py
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_distributions.py
  tests/test_study.py
  tests/test_trial.py
Labels: bug

#328 fix code block for resume in rdb.rst
  docs/source/tutorial/rdb.rst
Labels: document

#330 Add `load_study` function.
  docs/source/reference/study.rst
  optuna/__init__.py
  optuna/study.py
  tests/test_study.py
Labels: feature

#331 Add implementation of maximize.
  examples/pruning/tensorflow_estimator_integration.py
  optuna/integration/lightgbm.py
  optuna/integration/tensorflow.py
  optuna/pruners/median.py
  optuna/pruners/successive_halving.py
  optuna/samplers/tpe/sampler.py
  optuna/storages/base.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/storage.py
  optuna/study.py
  tests/integration_tests/test_lightgbm.py
  tests/integration_tests/test_tensorflow.py
  tests/pruners_tests/test_median.py
  tests/pruners_tests/test_successive_halving.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_cli.py
  tests/test_study.py
Labels: feature

#334 Apply lazy import in `optuna.integration` for Python 3.x.
  optuna/integration/__init__.py
  tests/integration_tests/test_integration.py
Labels: enhancement

#348 Inhibit storage access of samplers in ChainerMNStudy.
  optuna/integration/chainermn.py
  tests/integration_tests/test_chainermn.py
Labels: enhancement
