Repository optuna/optuna, pull requests merged in 2019-08, with the labels that each got.

#446 Add an example that implements simulated annealing based sampler.
  examples/README.md
  examples/samplers/simulated_annealing_sampler.py
Labels: example

#420 Set long_description in setup.py
  .circleci/config.yml
  README.md
  setup.py
Labels: document

#482 Reduce a query count of PercentilePruner and MedianPruner
  optuna/pruners/percentile.py
  optuna/storages/base.py
  tests/pruners_tests/test_percentile.py
  tests/storages_tests/test_storages.py
Labels: enhancement

#470 Reduce redundant code common to `Study` and `InTrialStudy`.
  docs/source/reference/study.rst
  optuna/study.py
Labels: enhancement

#462 Remove `FronzenTrial.params_in_internal_repr` field.
  docs/source/tutorial/first.rst
  optuna/samplers/tpe/sampler.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/storage.py
  optuna/structs.py
  tests/integration_tests/test_cma.py
  tests/integration_tests/test_sampler.py
  tests/integration_tests/test_skopt.py
  tests/storages_tests/test_storages.py
  tests/test_study.py
Labels: compatibility

#456 Update `BaseSampler` document.
  docs/image/sampling-sequence.png
  optuna/samplers/base.py
Labels: document

#473 Add empty distribution check.
  optuna/distributions.py
  tests/test_distributions.py
Labels: enhancement

#481 Prevent TensorFlowPruningHook from reporting None.
  optuna/integration/tensorflow.py
  tests/integration_tests/test_tensorflow.py
Labels: bug

#476 Add NaN intermediate value handling to `TPESampler`.
  optuna/samplers/tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: bug

#488 Typo fix
  examples/pruning/keras_integration.py
Labels: document

#477 [MRG] Added catboost example
  .circleci/config.yml
  examples/README.md
  examples/catboost_simple.py
Labels: example

#474 Add `TPESampler` document.
  optuna/samplers/random.py
  optuna/samplers/tpe/sampler.py
Labels: document

#451 Add a tutorial page about user-defined sampler.
  docs/source/tutorial/index.rst
  docs/source/tutorial/sampler.rst
Labels: document

#472 Make `BaseStudy.storage` field private.
  docs/source/reference/study.rst
  optuna/integration/chainermn.py
  optuna/study.py
  optuna/testing/integration.py
  optuna/trial.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_tensorflow.py
  tests/pruners_tests/test_median.py
  tests/pruners_tests/test_percentile.py
  tests/pruners_tests/test_successive_halving.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_sampler.py
  tests/test_study.py
  tests/test_trial.py
Labels: enhancement

#492 Change types.py to type_checking.py
  optuna/cli.py
  optuna/dashboard.py
  optuna/distributions.py
  optuna/integration/__init__.py
  optuna/integration/chainer.py
  optuna/integration/chainermn.py
  optuna/integration/cma.py
  optuna/integration/keras.py
  optuna/integration/skopt.py
  optuna/integration/tensorflow.py
  optuna/logging.py
  optuna/pruners/percentile.py
  optuna/pruners/successive_halving.py
  optuna/samplers/__init__.py
  optuna/samplers/base.py
  optuna/samplers/random.py
  optuna/samplers/tpe/parzen_estimator.py
  optuna/samplers/tpe/sampler.py
  optuna/storages/base.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/models.py
  optuna/storages/rdb/storage.py
  optuna/study.py
  optuna/testing/distribution.py
  optuna/testing/sampler.py
  optuna/testing/storage.py
  optuna/trial.py
  optuna/type_checking.py
  optuna/visualization.py
  tests/integration_tests/test_chainer.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_cma.py
  tests/integration_tests/test_mxnet.py
  tests/integration_tests/test_sampler.py
  tests/integration_tests/test_skopt.py
  tests/integration_tests/test_tensorflow.py
  tests/pruners_tests/test_median.py
  tests/pruners_tests/test_percentile.py
  tests/pruners_tests/test_successive_halving.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
  tests/samplers_tests/tpe_tests/test_sampler.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_distributions.py
  tests/test_study.py
  tests/test_trial.py
Labels: enhancement

#487 Add a simple Dask-ML example
  .circleci/config.yml
  examples/README.md
  examples/dask_ml_simple.py
Labels: example

#494 Fix type hints and typo
  optuna/samplers/tpe/sampler.py
  optuna/structs.py
Labels: enhancement

#500 Add link to KDD paper in README
  README.md
Labels: document

#502 [MRG] Added TPESampler docs to create_study function
  optuna/study.py
Labels: document
