Repository optuna/optuna, pull requests merged in 2020-01, with the labels that each got.

#826 Add version constraint of scikit-learn (<=0.22.0).
  setup.py
Labels: CI

#827 Add version constraint of pillow to avoid torchvision's issue.
  setup.py
Labels: CI

#830 Add integration modules list to readme
  README.md
Labels: document

#831 Bump up version number to 1.0.0
  optuna/version.py
Labels: other

#832 Fix keras pruning example code
  optuna/integration/keras.py
Labels: document

#794 Add `--pruning` option to `pytorch_lightning_simple.py`
  examples/README.md
  examples/pytorch_lightning_simple.py
Labels: example

#812 Initial implementation of 'auto' for `min_resource`
  optuna/pruners/successive_halving.py
  tests/pruners_tests/test_successive_halving.py
Labels: compatibility, enhancement

#829 Git ignore `.DS_Store`.
  .gitignore
Labels: other

#833 Fix docstrings of visualization functions.
  optuna/visualization/contour.py
  optuna/visualization/parallel_coordinate.py
  optuna/visualization/slice.py
Labels: document

#809 Add `HyperbandPruner`
  docs/source/reference/pruners.rst
  optuna/pruners/__init__.py
  optuna/pruners/hyperband.py
  optuna/study.py
  tests/pruners_tests/test_hyperband.py
Labels: feature

#836 Update a badge image for Python 3.8
  README.md
Labels: document

#838 Update SciPy version
  setup.py
Labels: other

#840 setup: remove typing external dependency
  setup.py
Labels: code-fix

#839 Require torchvision>=0.5.0 with Pillow version fix
  setup.py
Labels: other

#843 Add a note for JupyterLab users.
  docs/source/reference/visualization.rst
Labels: document

#847 Make `PyTorchIgnitePruningHandler` report correct epoch.
  optuna/integration/pytorch_ignite.py
  tests/integration_tests/test_pytorch_ignite.py
Labels: bug

#853 Restrict pip version tentatively.
  .circleci/config.yml
Labels: CI

#858 Update the PyTorch Lightning example to support pytorch_lightning==0.6.0.
  examples/pytorch_lightning_simple.py
Labels: example

#857 Add to FAQ dynamically altering search spaces.
  docs/source/faq.rst
Labels: document

#856 FAQ documentation bullet list
  docs/source/faq.rst
Labels: document

#828 Update `TPESampler` to support `HyperbandPruner`
  optuna/pruners/hyperband.py
  optuna/samplers/tpe/sampler.py
  optuna/study.py
  tests/pruners_tests/test_hyperband.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: enhancement

#864 Remove description about CLI execution of MLFlow example.
  examples/mlflow/README.md
  examples/mlflow/keras_mlflow.py
Labels: example

#806 Set `pool_pre_ping=True` for MySQL to avoid connection errors.
  optuna/storages/rdb/storage.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: enhancement

#860 Add an example for LightGBM Tuner
  examples/README.md
  examples/lightgbm_tuner_simple.py
Labels: example

#848 Add FastAI example with `FastAIPruningCallback`
  .circleci/config.yml
  examples/README.md
  examples/fastai_simple.py
Labels: example

#868 Fix: TensorFlow estimator example with TensorFlow 2.X
  examples/tensorflow_estimator_simple.py
Labels: example

#863 Convert None to NaN before reporting to MLFlow.
  examples/mlflow/keras_mlflow.py
Labels: example

#871 Fix: TensorFlow estimator pruning example with TensorFlow 2.X.
  examples/pruning/tensorflow_estimator_integration.py
Labels: example

#855 Fix: TensorFlow eager example with TensorFlow 2.X
  examples/tensorflow_eager_simple.py
  setup.py
Labels: example

#872 Fix: LightGBM tuner raises exception when max_depth=-1
  optuna/integration/lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: bug
