Repository optuna/optuna, pull requests merged in 2020-08, with the labels that each got.

#1585 Skip entire `allennlp` example directory in CI
  .github/workflows/examples.yml
Labels: CI

#1554 Add: How to run examples with our Docker images
  README.md
  examples/README.md
Labels: other

#1586 Rename `tests/multi_objective` as `tests/multi_objective_tests`
  tests/multi_objective_tests/__init__.py
  tests/multi_objective_tests/samplers_tests/__init__.py
  tests/multi_objective_tests/samplers_tests/test_nsga2.py
  tests/multi_objective_tests/samplers_tests/test_samplers.py
  tests/multi_objective_tests/test_study.py
  tests/multi_objective_tests/test_trial.py
  tests/multi_objective_tests/visualization_tests/__init__.py
  tests/multi_objective_tests/visualization_tests/test_pareto_front.py
Labels: test

#1584 Add scripts to run examples/kubernetes/*
  examples/kubernetes/mlflow/README.md
  examples/kubernetes/mlflow/run.sh
  examples/kubernetes/simple/README.md
  examples/kubernetes/simple/run.sh
Labels: example

#1596 Install `fsspec<0.8.0` for Python 3.5.
  setup.py
Labels: installation

#1594 Use setup python v2
  .github/workflows/examples.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests.yml
Labels: CI

#1599 Specify the version of packaging to >= 20.0
  setup.py
Labels: installation

#1593 Simplify documentation of `BaseDistribution.single`
  optuna/distributions.py
Labels: document

#1601 Minor changes to `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: document

#1591 GitHub Action labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: other

#1600 Update Kubernetes example of "simple" to avoid potential errors
  examples/kubernetes/simple/Dockerfile
  examples/kubernetes/simple/check_study.sh
  examples/kubernetes/simple/k8s-manifests.yaml
  examples/kubernetes/simple/sklearn_distributed.py
Labels: example

#1597 Add navigation links for contributors to README.md
  README.md
Labels: document

#1613 avoid the latest stable sphinx
  setup.py
Labels: document

#1606 Add a news section to `README.md`
  README.md
Labels: document

#1610 Use packaging to check the library version
  examples/allennlp/allennlp_jsonnet.py
  examples/allennlp/allennlp_simple.py
  examples/chainer_simple.py
  examples/pruning/chainer_integration.py
  examples/pytorch_lightning_simple.py
  examples/tensorflow_eager_simple.py
  optuna/dashboard.py
  optuna/visualization/_plotly_imports.py
  tests/integration_tests/test_tfkeras.py
Labels: code-fix, optuna.visualization

#1623 Fix import order of `packaging.version`
  optuna/_deprecated.py
Labels: code-fix

#1582 Update key features.
  README.md
  docs/source/index.rst
Labels: document

#1595 [DEPENDS ON #1594] Add `cache` to GitHub Actions Workflows
  .github/workflows/examples.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests.yml
Labels: CI

#1624 Do not trigger labeler on push
  .github/workflows/labeler.yml
Labels: other

#1572 Bump PyTorch to 1.6
  .circleci/config.yml
  .github/workflows/examples.yml
  .github/workflows/tests-integration.yml
  setup.py
Labels: CI

#1627 Pin sphinx version to 3.0.4
  setup.py
Labels: other

#1631 Fix error messages in `TPEsampler`
  optuna/samplers/_tpe/sampler.py
Labels: code-fix

#1626 Fix invalid YAML syntax
  .github/workflows/labeler.yml
Labels: other

#1629 Add log in create_study
  optuna/storages/_in_memory.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
Labels: enhancement

#1633 Add `.dockerignore`.
  .dockerignore
  .github/workflows/dockerimage.yml
Labels: other

#1642 Add type hints into optuna/integration/keras.py
  optuna/integration/keras.py
Labels: code-fix, optuna.integration

#1637 Add code comment about n_ei_candidates for categorical parameters.
  optuna/samplers/_tpe/sampler.py
Labels: code-fix, optuna.samplers

#1646 Fix how to use `black` in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: code-fix, other

#1638 Use cache-from to build docker image faster
  .github/workflows/dockerimage.yml
Labels: CI

#1648 Add type hints into optuna/cli.py
  optuna/cli.py
Labels: code-fix

#1635 Run example after docker build to ensure that built image is setup properly
  .github/workflows/dockerimage.yml
Labels: CI

#1650 Fix `docs/Makefile`
  docs/Makefile
Labels: other

#1657 Adds that MedianPruner is the default pruner to the documentation
  optuna/study.py
Labels: document, optuna.study

#1655 Add type hints integration/_lightgbm_tuner
  optuna/integration/_lightgbm_tuner/__init__.py
  optuna/integration/_lightgbm_tuner/alias.py
  optuna/integration/_lightgbm_tuner/sklearn.py
Labels: code-fix, optuna.integration

#1658 Remove generated directories with `make clean`
  docs/Makefile
Labels: document

#1537 Add modules to compute hypervolume.
  optuna/multi_objective/__init__.py
  optuna/multi_objective/_hypervolume/__init__.py
  optuna/multi_objective/_hypervolume/base.py
  optuna/multi_objective/_hypervolume/utils.py
  optuna/multi_objective/_hypervolume/wfg.py
  tests/multi_objective_tests/hypervolume_tests/__init__.py
  tests/multi_objective_tests/hypervolume_tests/test_utils.py
  tests/multi_objective_tests/hypervolume_tests/test_wfg.py
Labels: feature

#1661 Add type hints to optuna/storages/__init__.py
  optuna/storages/__init__.py
Labels: code-fix, optuna.storages

#1662 Add type hints to optuna/trial
  optuna/trial/_base.py
  optuna/trial/_fixed.py
  optuna/trial/_state.py
  optuna/trial/_trial.py
Labels: code-fix

#1665 Add type hints to optuna/testing
  optuna/testing/distribution.py
  optuna/testing/integration.py
  optuna/testing/sampler.py
  optuna/testing/storage.py
  optuna/testing/visualization.py
Labels: optuna.testing

#1667 Do not use deprecated `pytorch_lightning.data_loader` decorator
  tests/integration_tests/test_pytorch_lightning.py
Labels: test

#1659 LightGBM Tuner import code fixes
  optuna/integration/_lightgbm_tuner/alias.py
  optuna/integration/_lightgbm_tuner/sklearn.py
Labels: code-fix, optuna.integration

#1660 Ignore vscode configs
  .gitignore
Labels: other

#1653 Add type hints into optuna/dashboard.py, optuna/integration/__init__.py
  optuna/dashboard.py
  optuna/integration/__init__.py
Labels: code-fix, optuna.integration

#1625 Add link to examples in tutorial
  tutorial/README.rst
Labels: document

#1666 Add type hints to tests/storages_tests/rdb_tests
  tests/storages_tests/rdb_tests/test_models.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: code-fix

#1663 Enable flake8 E231
  examples/rl/sb3_simple.py
  optuna/integration/_lightgbm_tuner/alias.py
  optuna/testing/visualization.py
  optuna/visualization/_slice.py
  setup.cfg
  setup.py
  tests/importance_tests/fanova_tests/test_fanova.py
  tests/importance_tests/fanova_tests/test_tree.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
  tests/integration_tests/test_catalyst.py
  tests/integration_tests/test_sampler.py
  tests/pruners_tests/test_percentile.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/visualization_tests/test_contour.py
  tests/visualization_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_slice.py
  tests/visualization_tests/test_utils.py
Labels: code-fix

#1700 Add type hints to `integration/xgboost.py`
  optuna/integration/xgboost.py
Labels: code-fix, optuna.integration

#1703 Use `Optional` for keyword arguments that default to `None`.
  optuna/_experimental.py
  optuna/importance/__init__.py
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/integration/keras.py
  optuna/multi_objective/study.py
  optuna/visualization/_param_importances.py
  tests/integration_tests/allennlp_tests/tiny_single_id.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: code-fix

#1699 Add type hints into optuna/integration/chainermn.py
  optuna/integration/chainermn.py
Labels: code-fix, optuna.integration

#1701 Add type hints to files under integration_tests
  tests/integration_tests/lightgbm_tuner_tests/test_alias.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
  tests/integration_tests/test_catalyst.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_lightgbm.py
  tests/integration_tests/test_pytorch_ignite.py
  tests/integration_tests/test_pytorch_lightning.py
  tests/integration_tests/test_sampler.py
  tests/integration_tests/test_sklearn.py
  tests/integration_tests/test_skopt.py
  tests/integration_tests/test_tensorflow.py
  tests/integration_tests/test_tfkeras.py
  tests/integration_tests/test_xgboost.py
Labels: code-fix

#1704 type hint of all the rest files under `/tests`
  tests/pruners_tests/test_nop.py
  tests/pruners_tests/test_percentile.py
  tests/pruners_tests/test_successive_halving.py
  tests/samplers_tests/test_grid.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
  tests/samplers_tests/tpe_tests/test_sampler.py
  tests/storages_tests/test_storages.py
  tests/test_cli.py
  tests/test_dashboard.py
  tests/test_distributions.py
  tests/test_study.py
  tests/test_trial.py
Labels: code-fix

#1713 Fix broken doctest example code
  optuna/logging.py
  optuna/pruners/_hyperband.py
  optuna/trial/_frozen.py
Labels: document, optuna.pruners, optuna.trial

#1711 Add example to `study.create_study`
  optuna/study.py
Labels: document, optuna.study

#1717 add l2 metric aliases
  optuna/integration/_lightgbm_tuner/alias.py
  tests/integration_tests/lightgbm_tuner_tests/test_alias.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: optuna.integration

#1712 Add Example to optuna.study.load_study
  optuna/study.py
Labels: document, optuna.study

#1730 Apply `black==20.8b1`
  examples/allennlp/allennlp_simple.py
  examples/lightgbm_tuner_simple.py
  examples/optuna_search_cv_simple.py
  examples/tensorboard_simple.py
  optuna/cli.py
  optuna/importance/_base.py
  optuna/importance/_fanova/_evaluator.py
  optuna/importance/_mean_decrease_impurity.py
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/integration/keras.py
  optuna/multi_objective/samplers/_adapter.py
  optuna/multi_objective/samplers/_nsga2.py
  optuna/multi_objective/study.py
  optuna/multi_objective/trial.py
  optuna/progress_bar.py
  optuna/pruners/_median.py
  optuna/pruners/_percentile.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/samplers/_tpe/sampler.py
  optuna/storages/_rdb/alembic/versions/v0.9.0.a.py
  optuna/storages/_rdb/alembic/versions/v1.3.0.a.py
  optuna/storages/_rdb/storage.py
  optuna/study.py
  optuna/testing/storage.py
  optuna/visualization/_contour.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_slice.py
  tests/importance_tests/fanova_tests/test_tree.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
  tests/integration_tests/test_tensorflow.py
  tests/multi_objective_tests/test_trial.py
  tests/pruners_tests/test_hyperband.py
  tests/storages_tests/rdb_tests/test_with_server.py
  tests/storages_tests/test_cached_storage.py
  tests/test_distributions.py
  tests/test_study.py
Labels: code-fix, optuna.importance, optuna.integration, optuna.pruners, optuna.samplers, optuna.storages, optuna.study, optuna.testing, optuna.visualization

#1723 Fix issue where doctests are not executed
  .circleci/config.yml
Labels: CI, document

#1725 Update pytorch_simple.py
  examples/pytorch_simple.py
Labels: example

#1732 Add target for doctest to Makefile
  .circleci/config.yml
  docs/Makefile
Labels: document

#1731 Add test for hypervolume computation for solution sets with duplicate points
  tests/multi_objective_tests/hypervolume_tests/test_wfg.py
Labels: test

#1724 Convert type comments in `optuna/study.py` into type annotations.
  optuna/study.py
Labels: optuna.study

#1715 Add some notes and usage example for the hypervolume computing module.
  optuna/multi_objective/_hypervolume/base.py
Labels: document

#1726 Add example to `optuna.study.Study.optimize`
  optuna/study.py
Labels: document, optuna.study

#1743 Add type hints into `optuna/structs.py`
  optuna/structs.py
Labels: code-fix

#1742 Add example to `optuna.study.get_all_study_summaries`
  optuna/study.py
Labels: document, optuna.study

#1741 Add example to `optuna.study.delete_study`
  optuna/study.py
Labels: document, optuna.study

#1754 Fix typo in `optuna/samplers/_tpe/parzen_estimator.py`
  optuna/samplers/_tpe/parzen_estimator.py
Labels: code-fix

#1757 Fix Binh and Korn function in MO example
  examples/multi_objective/plot_pareto_front.py
  optuna/multi_objective/visualization/_pareto_front.py
Labels: example

#1747 Add example to `optuna.multi_objective.study.MultiObjectiveStudy.optimize`
  optuna/multi_objective/study.py
Labels: document

#1716 Add padding to contour plot
  optuna/visualization/_contour.py
  tests/visualization_tests/test_contour.py
Labels: optuna.visualization

#1746 Add example to `optuna.study.Study.get_trials`
  optuna/study.py
Labels: document, optuna.study

#1750 Add example to `optuna.multi_objective.study.load_study`
  optuna/multi_objective/study.py
Labels: document

#1749 Add example to `optuna.multi_objective.study.create_study`
  optuna/multi_objective/study.py
Labels: document

#1758 Re-generate contour plot example with padding
  docs/source/plotly_figures/plot_contour.html
  docs/source/scripts/plot_contour.py
  optuna/visualization/_contour.py
Labels: document, optuna.visualization

#1708 Delete a useless auto generated directory.
  .gitignore
  docs/Makefile
  docs/source/reference/optuna.rst
Labels: document

#1735 Fix type hint of `optuna/integration/sklearn.py`
  optuna/integration/sklearn.py
Labels: optuna.integration

#1752 Add example to `optuna.study.Study.stop`
  optuna/study.py
Labels: document, optuna.study

#1720 Make Optuna PEP 561 Compliant
  optuna/py.typed
  setup.py
Labels: compatibility, other
