Repository optuna/optuna, pull requests merged in 2020-04, with the labels that each got.

#920 CMA-ES sampler
  docs/source/reference/samplers.rst
  optuna/samplers/__init__.py
  optuna/samplers/cmaes.py
  setup.py
  tests/samplers_tests/test_cmaes.py
Labels: feature

#1073 Bump up version number to 1.3.0.
  optuna/version.py
Labels: other

#1071 Add duration into FrozenTrial and DataFrame.
  optuna/structs.py
  optuna/study.py
  tests/test_study.py
Labels: feature

#1082 Set the version constraint of cmaes library
  setup.py
Labels: installation

#1089 Fix docstring on `optuna/distributions.py`
  optuna/distributions.py
Labels: document

#1093 Remove duplicate description of `FrozenTrial.distributions`.
  optuna/structs.py
Labels: document

#1083 Delete the argument `is_higher_better` from `TensorFlowPruningHook`
  optuna/integration/tensorflow.py
  tests/integration_tests/test_tensorflow.py
Labels: compatibility

#1068 GitHub Actions to automatically label PRs.
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: other

#1094 Revert "GitHub Actions to automatically label PRs."
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: other

#974 Added RedisStorage class to support storing activity on Redis
  .circleci/config.yml
  docs/source/reference/storages.rst
  optuna/cli.py
  optuna/storages/__init__.py
  optuna/storages/redis.py
  setup.py
  tests/storages_tests/test_storages.py
Labels: feature

#1088 Add notebook verification for visualization examples.
  .github/workflows/examples.yml
  examples/visualization/plot_study.ipynb
  setup.py
Labels: CI

#1077 Add `number` property to `FixedTrial` and `BaseTrial`.
  optuna/trial.py
  tests/test_trial.py
Labels: feature

#1090 Refactoring of `StudyDirection`.
  docs/source/reference/structs.rst
  docs/source/reference/study.rst
  examples/samplers/simulated_annealing_sampler.py
  optuna/_study_direction.py
  optuna/dashboard.py
  optuna/integration/cma.py
  optuna/integration/lightgbm.py
  optuna/integration/sklearn.py
  optuna/integration/skopt.py
  optuna/pruners/percentile.py
  optuna/pruners/successive_halving.py
  optuna/samplers/tpe/sampler.py
  optuna/storages/base.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/models.py
  optuna/storages/rdb/storage.py
  optuna/structs.py
  optuna/study.py
  optuna/visualization/contour.py
  optuna/visualization/optimization_history.py
  optuna/visualization/parallel_coordinate.py
  tests/integration_tests/test_cma.py
  tests/pruners_tests/test_percentile.py
  tests/storages_tests/rdb_tests/test_models.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_cli.py
  tests/test_study.py
  tests/visualization_tests/test_contour.py
Labels: compatibility

#1100 Update the outputs of some examples in first.rst #1096
  docs/source/tutorial/first.rst
Labels: document

#1085 Add visualization example script.
  examples/visualization/plot_study.py
Labels: example

#1032 Add `study` argument to `optuna.integration.lightgbm.LightGBMTuner`.
  examples/lightgbm_tuner_simple.py
  optuna/integration/lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: feature

#1074 Apply lazy import for `optuna.dashboard`.
  optuna/__init__.py
Labels: enhancement

#1102 Update type hinting of `GridSampler.__init__`.
  optuna/samplers/grid.py
  tests/samplers_tests/test_grid.py
Labels: code-fix

#1098 Optuna ReadtheDocs top page addition
  docs/source/index.rst
Labels: document

#1095 Refactoring of `StudySummary`.
  docs/source/reference/study.rst
  optuna/_study_summary.py
  optuna/storages/base.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/storage.py
  optuna/storages/redis.py
  optuna/structs.py
  optuna/study.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/test_structs.py
  tests/test_study.py
Labels: compatibility

#1087 Applied `@abc.abstractmethod` decorator to the abstract methods of `BaseTrial`
  optuna/integration/chainermn.py
  optuna/trial.py
  tests/integration_tests/test_chainermn.py
Labels: compatibility, enhancement

#1065 Add a reference of cli in the sphinx docs.
  docs/source/conf.py
  docs/source/reference/cli.rst
  docs/source/reference/index.rst
  optuna/cli.py
  setup.py
Labels: document

#1108 Use latest `sphinx` version on RTD.
  docs/requirements.txt
Labels: document

#1110 Remove settings for yapf
  setup.cfg
Labels: other

#1112 Update `pytorch_simple.py` to suggest `lr` from `suggest_loguniform`.
  examples/pytorch_simple.py
Labels: example

#1099 Input validation for `LogUniformDistribution` for negative domains.
  optuna/distributions.py
  tests/test_distributions.py
  tests/test_trial.py
Labels: compatibility

#1114 Return trial_id at `study._append_trial()`.
  optuna/study.py
  tests/test_study.py
Labels: enhancement

#1104 Apply lazy import for `optuna.structs` to raise DeprecateWarning when using.
  optuna/__init__.py
  optuna/structs.py
Labels: compatibility

#1103 Fix `plot_intermediate_values` example.
  docs/source/plotly_figures/plot_intermediate_values.html
  docs/source/scripts/plot_intermediate_values.py
  optuna/visualization/intermediate_values.py
Labels: document

#1118 Avoid installing `torch` with CUDA in CI.
  .circleci/config.yml
  .github/workflows/examples.yml
  setup.py
Labels: CI

#1116 GitHub Actions to automatically label stale issues and PRs.
  .github/workflows/stale.yml
Labels: other

#1028 Add Mlflow integration callback.
  docs/source/reference/integration.rst
  optuna/integration/__init__.py
  optuna/integration/mlflow.py
  setup.py
  tests/integration_tests/test_mlflow.py
Labels: feature

#1070 Fix docstring on optuna/integration/*.py
  optuna/integration/chainer.py
  optuna/integration/chainermn.py
  optuna/integration/fastai.py
  optuna/integration/keras.py
  optuna/integration/lightgbm.py
  optuna/integration/mxnet.py
  optuna/integration/pytorch_ignite.py
  optuna/integration/pytorch_lightning.py
  optuna/integration/sklearn.py
  optuna/integration/tensorflow.py
  optuna/integration/tfkeras.py
  optuna/integration/xgboost.py
Labels: document

#1121 Replace `mock` with `unittest.mock`.
  setup.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
  tests/integration_tests/test_chainer.py
  tests/integration_tests/test_cma.py
  tests/integration_tests/test_pytorch_ignite.py
  tests/integration_tests/test_sampler.py
  tests/integration_tests/test_skopt.py
  tests/integration_tests/test_tensorflow.py
  tests/samplers_tests/test_cmaes.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_study.py
  tests/test_trial.py
Labels: code-fix

#1081 Support DiscreteUniformDistribution in `suggest_float`.
  optuna/integration/chainermn.py
  optuna/trial.py
  tests/test_trial.py
Labels: feature

#1124 Avoid installing `torch` with CUDA in CI by locking version.
  setup.py
Labels: CI

#1111 `single()` returns True when `step` or `q` is greater than `high-low`.
  optuna/distributions.py
  tests/test_distributions.py
Labels: enhancement

#1131 Upgrade `actions/stale` to never close ticket.
  .github/workflows/stale.yml
Labels: other

#1109 Optimize `get_all_strudy_summaries` function for RDB storages.
  optuna/storages/rdb/storage.py
Labels: enhancement

#1122 Use scipy for sampling from truncated normal in TPE sampler.
  optuna/samplers/tpe/sampler.py
Labels: code-fix, optuna.samplers

#1123 Remove unnecessary `is_log` logic in TPE sampler.
  optuna/samplers/tpe/sampler.py
Labels: code-fix, optuna.samplers

#1135 Remove unnecessary deep-copies.
  optuna/study.py
Labels: enhancement

#1132 Run `actions/stale` on weekday mornings Tokyo time.
  .github/workflows/stale.yml
Labels: other

#1113 Update pull request template.
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: other

#1076 Support parallel execution of `LightGBMTuner`.
  optuna/integration/lightgbm_tuner/__init__.py
  optuna/integration/lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: enhancement

#1086 Add AllenNLP integration.
  .circleci/config.yml
  README.md
  docs/source/reference/integration.rst
  examples/allennlp/allennlp_jsonnet.py
  examples/allennlp/allennlp_simple.py
  examples/allennlp/classifier.jsonnet
  optuna/integration/__init__.py
  optuna/integration/allennlp.py
  setup.py
  tests/integration_tests/allennlp_tests/example.jsonnet
  tests/integration_tests/allennlp_tests/example_with_include_package.jsonnet
  tests/integration_tests/allennlp_tests/invalid.jsonnet
  tests/integration_tests/allennlp_tests/test.jsonnet
  tests/integration_tests/allennlp_tests/test_allennlp.py
  tests/integration_tests/allennlp_tests/tiny_single_id.py
Labels: feature, optuna.integration

#1126 Add TPE tests.
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: test

#1143 Fix the range of sampling in TPE sampler.
  optuna/samplers/tpe/sampler.py
Labels: bug

#1152 Constraint `llvmlite` version for Python 3.5.
  setup.py
Labels: CI

#1145 Remove unnecessary shape-conversion and a loop from TPE sampler.
  optuna/samplers/tpe/sampler.py
Labels: enhancement, optuna.samplers

#1142 Add `IntersectionSearchSpace` to speed up the search space calculation.
  docs/source/reference/samplers.rst
  optuna/integration/cma.py
  optuna/integration/skopt.py
  optuna/samplers/__init__.py
  optuna/samplers/_search_space.py
  optuna/samplers/cmaes.py
  tests/samplers_tests/test_samplers.py
Labels: enhancement

#1149 Bundle allennlp test data in the repository.
  tests/integration_tests/allennlp_tests/example.jsonnet
  tests/integration_tests/allennlp_tests/example_with_include_package.jsonnet
  tests/integration_tests/allennlp_tests/sentences.train
  tests/integration_tests/allennlp_tests/sentences.valid
Labels: optuna.integration, test

#1138 Add an argument of `max_resource` to `HyperbandPruner` and deprecate `n_brackets`
  optuna/pruners/hyperband.py
  tests/pruners_tests/test_hyperband.py
Labels: feature, optuna.pruners

#1054 Support multi-objective optimization.
  docs/source/reference/index.rst
  docs/source/reference/multi_objective/index.rst
  docs/source/reference/multi_objective/samplers.rst
  docs/source/reference/multi_objective/study.rst
  docs/source/reference/multi_objective/trial.rst
  examples/multi_objective/pytorch_simple.py
  optuna/__init__.py
  optuna/multi_objective/__init__.py
  optuna/multi_objective/samplers/__init__.py
  optuna/multi_objective/samplers/_adapter.py
  optuna/multi_objective/samplers/_base.py
  optuna/multi_objective/samplers/_random.py
  optuna/multi_objective/study.py
  optuna/multi_objective/trial.py
  setup.py
  tests/multi_objective/samplers_tests/__init__.py
  tests/multi_objective/samplers_tests/test_samplers.py
  tests/multi_objective/test_study.py
  tests/multi_objective/test_trial.py
Labels: feature

#1147 Simplify pull request template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: other

#1157 Skip GitHub Actions builds on forked repositories.
  .github/workflows/examples.yml
  .github/workflows/stale.yml
Labels: CI

#1141 Improve the trial allocation algorithm of `HyperbandPruner`
  optuna/pruners/hyperband.py
Labels: feature, optuna.pruners

#1150 [AllenNLP] Implement config exporter to save training config with best_params in study.
  docs/source/reference/integration.rst
  optuna/integration/allennlp.py
  tests/integration_tests/allennlp_tests/test_allennlp.py
Labels: feature, optuna.integration

#1159 Remove redundancy from `HyperbandPruner` by deprecating `min_early_stopping_rate_low`
  optuna/pruners/hyperband.py
Labels: optuna.pruners

#1139 Support Copy-on-Write for thread safety in in-memory storage.
  optuna/storages/in_memory.py
Labels: bug

#1172 Fix a markup in pruner page
  optuna/pruners/hyperband.py
Labels: document, optuna.pruners

#1173 Use major version instead of semver for stale
  .github/workflows/stale.yml
Labels: other

#1164 Rename test datasets in examples.
  examples/catboost_simple.py
  examples/chainer_simple.py
  examples/chainermn_simple.py
  examples/dask_ml_simple.py
  examples/keras_simple.py
  examples/lightgbm_simple.py
  examples/mlflow/keras_mlflow.py
  examples/mxnet_simple.py
  examples/pruning/chainer_integration.py
  examples/pruning/chainermn_integration.py
  examples/pruning/keras_integration.py
  examples/pruning/lightgbm_integration.py
  examples/pruning/mxnet_integration.py
  examples/pruning/simple.py
  examples/pruning/tensorflow_estimator_integration.py
  examples/pruning/xgboost_integration.py
  examples/pytorch_lightning_simple.py
  examples/pytorch_simple.py
  examples/quickstart.ipynb
  examples/skimage_lbp_simple.py
  examples/tensorflow_eager_simple.py
  examples/tensorflow_estimator_simple.py
  examples/visualization/plot_study.ipynb
  examples/visualization/plot_study.py
  examples/xgboost_simple.py
Labels: example

#1144 Add class doc to TPESampler.
  optuna/samplers/tpe/sampler.py
Labels: document

#1180 Fix typos (`A objective` to `An objective`)
  README.md
  docs/source/index.rst
Labels: document

#1189 Add test for deprecation error of `HyperbandPruner`
  tests/pruners_tests/test_hyperband.py
Labels: optuna.pruners, test

#1177 Use `Trial.system_attrs` to store `LightGBMTuner`'s results.
  optuna/integration/lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: code-fix, optuna.integration

#1190 Unique GitHub Actions step name.
  .github/workflows/examples.yml
Labels: CI

#1013 Update PyTorch Lightning example for 0.7.1 version.
  examples/pytorch_lightning_simple.py
  optuna/integration/pytorch_lightning.py
  setup.py
Labels: example

#1193 Stop installing PyTorch Lightning if Python version is 3.5.
  setup.py
Labels: installation
