Repository optuna/optuna, pull requests merged in 2020-05, with the labels that each got.

#1192 Define key names of `system_attrs` as variables in `LightGBMTuner`.
  optuna/integration/lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: code-fix, optuna.integration

#1181 Add figure title to contour plot
  docs/source/plotly_figures/plot_contour.html
  optuna/visualization/contour.py
Labels: bug, optuna.visualization

#1188 Fix the method to calculate ``n_brackets`` in `HyperbandPruner`.
  optuna/pruners/hyperband.py
Labels: enhancement, optuna.pruners

#1205 suggest_float with step in multi_objective
  optuna/multi_objective/trial.py
  tests/multi_objective/test_trial.py
Labels: feature

#1208 Raise `ValueError` that is not raised
  optuna/visualization/parallel_coordinate.py
  tests/visualization_tests/test_parallel_coordinate.py
Labels: optuna.visualization

#1211 Move `colorlog` after `threading`.
  optuna/logging.py
Labels: code-fix

#1179 Remove `_TimeKeeper` and use `timeout` of `Study.optimize`.
  optuna/integration/lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: code-fix, optuna.integration

#1161 Add pruning interval for KerasPruningCallback
  optuna/integration/keras.py
  tests/integration_tests/test_keras.py
Labels: feature, optuna.integration

#972 Add an Example and Variable Explanations to `HyperBandPruner`.
  optuna/pruners/hyperband.py
Labels: document

#1215 Install PyTorch without CPU option on macOS.
  setup.py
Labels: installation

#1216 Do not label `contribution-welcome` and `bug` issues as stale.
  .github/workflows/stale.yml
Labels: other

#1187 Fix `--cov` option for pytest
  .circleci/config.yml
Labels: CI

#1171 Fix the default value of `max_resource` to `HyperbandPruner`
  optuna/pruners/hyperband.py
  tests/pruners_tests/test_hyperband.py
Labels: enhancement, optuna.pruners

#1158 Support Optuna callback functions at LightGBM Tuner.
  optuna/integration/lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: enhancement

#1218 Fix the metric name in `KerasPruningCallback` example.
  examples/pruning/keras_integration.py
  optuna/integration/keras.py
Labels: example

#1209 Fix a bug that occurs when multiple callbacks are passed to `MultiObjectiveStudy.optimize`.
  optuna/multi_objective/study.py
  tests/multi_objective/test_study.py
Labels: bug

#1212 Add examples for doctest to optuna/storages/rdb/storage.py
  optuna/storages/rdb/storage.py
Labels: document, test

#1227 Bump up version number to 1.4.0.
  optuna/version.py
Labels: other

#1174 Add storage specification to `BaseStorage` class doc.
  optuna/storages/base.py
Labels: document, optuna.storages

#1214 Add an explanation of failed trials from samplers' perspective.
  optuna/samplers/base.py
  optuna/trial.py
Labels: document

#1025 Add a method to stop `study.optimize`.
  optuna/study.py
  tests/test_study.py
Labels: feature

#1231 Fix out of bounds error of CMA-ES.
  optuna/samplers/cmaes.py
Labels: bug, optuna.samplers

#1156 Add cross-validation support for `LightGBMTuner`.
  examples/lightgbm_tuner_cv.py
  optuna/integration/lightgbm.py
  optuna/integration/lightgbm_tuner/__init__.py
  optuna/integration/lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: feature

#1228 Support multiple studies in `InMemoryStorage`.
  optuna/storages/in_memory.py
  tests/integration_tests/test_chainermn.py
  tests/storages_tests/test_in_memory.py
  tests/storages_tests/test_storages.py
Labels: bug, optuna.storages

#1236 Fix `sklearn` - `skopt` version incompatibility.
  setup.py
Labels: bug, test

#1210 Dissect `trial.py`.
  optuna/trial/__init__.py
  optuna/trial/base.py
  optuna/trial/fixed.py
  optuna/trial/frozen.py
  optuna/trial/state.py
  optuna/trial/trial.py
  optuna/trial/util.py
Labels: code-fix, optuna.trial

#1166 Fix split_observations for conditional parameters
  optuna/samplers/tpe/parzen_estimator.py
  optuna/samplers/tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: optuna.samplers

#1239 Rename `trial/*.py` to `trial/_*.py`.
  optuna/trial/__init__.py
  optuna/trial/_base.py
  optuna/trial/_fixed.py
  optuna/trial/_frozen.py
  optuna/trial/_state.py
  optuna/trial/_trial.py
  optuna/trial/_util.py
Labels: code-fix, optuna.trial

#1240 Fix a type casting error when using `CmaEsSampler`.
  optuna/samplers/cmaes.py
Labels: bug

#1217 Add `LightGBMTuner` reference.
  docs/source/reference/integration.rst
  optuna/integration/lightgbm_tuner/__init__.py
  optuna/integration/lightgbm_tuner/optimize.py
Labels: document

#1242 Upgrade the Version of `cmaes`.
  setup.py
Labels: bug

#1196 Altenative implementation to hide the interface so that all samplers can use `HyperbandPruner`
  optuna/pruners/__init__.py
  optuna/pruners/hyperband.py
  optuna/pruners/percentile.py
  optuna/pruners/successive_halving.py
  optuna/pruners/threshold.py
  optuna/samplers/tpe/sampler.py
  optuna/trial/_trial.py
  tests/pruners_tests/test_hyperband.py
Labels: enhancement, optuna.pruners

#1167 Rename `test_` to `valid_` in docs and docstring.
  docs/source/faq.rst
  docs/source/tutorial/pruning.rst
  optuna/exceptions.py
  optuna/integration/sklearn.py
  optuna/pruners/hyperband.py
  optuna/pruners/median.py
  optuna/pruners/nop.py
  optuna/pruners/percentile.py
  optuna/pruners/successive_halving.py
  optuna/trial/_trial.py
Labels: document

#1191 Increase test coverage of storage tests for single worker cases.
  optuna/storages/in_memory.py
  optuna/storages/rdb/models.py
  optuna/storages/rdb/storage.py
  optuna/storages/redis.py
  optuna/testing/storage.py
  tests/integration_tests/test_chainermn.py
  tests/multi_objective/test_study.py
  tests/samplers_tests/test_samplers.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_cli.py
  tests/test_study.py
Labels: bug, optuna.storages, optuna.study, test

#1163 Add NSGA-II based multi-objective sampler.
  docs/source/reference/multi_objective/samplers.rst
  optuna/multi_objective/samplers/__init__.py
  optuna/multi_objective/samplers/_nsga2.py
  optuna/multi_objective/study.py
  optuna/multi_objective/trial.py
  tests/multi_objective/samplers_tests/test_nsga2.py
  tests/multi_objective/samplers_tests/test_samplers.py
  tests/multi_objective/test_trial.py
Labels: feature

#1252 Add Notes for `auto` argument values in `HyperbandPruner` and `SuccessiveHalvingPruner`.
  optuna/pruners/hyperband.py
  optuna/pruners/successive_halving.py
Labels: document, optuna.pruners

#1175 Add docstring to `BaseStorage` method interfaces.
  optuna/storages/base.py
Labels: document, optuna.storages

#1247 Add GitHub action that posts link to documentation
  .github/workflows/doc-link.yml
Labels: CI

#1119 Add pruning to PyTorch example
  examples/pytorch_simple.py
Labels: example

#1225 [AllenNLP] Use `dump_best_config` in example.
  examples/allennlp/allennlp_jsonnet.py
Labels: example, optuna.integration

#1259 Fix for O(N) queries being produced if even a single trial is cached
  optuna/storages/rdb/storage.py
Labels: enhancement

#1140 Add storage cache
  optuna/storages/__init__.py
  optuna/storages/cached_storage.py
  optuna/storages/rdb/storage.py
  optuna/testing/storage.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_cached_storage.py
  tests/storages_tests/test_storages.py
Labels: enhancement

#1261 Cosmetic fixes to documentation in `BaseStorage`.
  optuna/storages/base.py
Labels: document, optuna.storages

#1201 Implement log argument for suggest_int
  docs/source/reference/distributions.rst
  optuna/distributions.py
  optuna/importance/_fanova.py
  optuna/integration/chainermn.py
  optuna/integration/cma.py
  optuna/integration/skopt.py
  optuna/multi_objective/trial.py
  optuna/samplers/cmaes.py
  optuna/samplers/random.py
  optuna/samplers/tpe/sampler.py
  optuna/trial/_base.py
  optuna/trial/_fixed.py
  optuna/trial/_trial.py
  tests/integration_tests/test_chainermn.py
  tests/multi_objective/test_trial.py
  tests/test_distributions.py
  tests/test_trial.py
Labels: feature, optuna.trial

#1253 Mean Decrease Impurity (MDI) hyperparameter importance evaluator.
  docs/source/reference/importance.rst
  optuna/importance/__init__.py
  optuna/importance/_mean_decrease_impurity.py
  tests/test_importance.py
Labels: feature, optuna.importance

#1262 Fix the Double Meanings on ``bracket_id``.
  optuna/pruners/hyperband.py
Labels: code-fix, optuna.pruners

#1273 Apply minor code fix to #1201.
  optuna/samplers/tpe/sampler.py
  tests/test_distributions.py
  tests/test_trial.py
Labels: code-fix

#1260 Add description of `observation_key` in `XGBoostPruningCallback`
  optuna/integration/xgboost.py
Labels: document

#1221 Modifying code examples to include training data.
  optuna/exceptions.py
  optuna/pruners/hyperband.py
  optuna/pruners/median.py
  optuna/pruners/nop.py
  optuna/pruners/percentile.py
  optuna/pruners/successive_halving.py
  optuna/trial/_trial.py
Labels: document

#1279 Input validation for `IntLogUniformDistribution`.
  optuna/distributions.py
  tests/test_trial.py
Labels: enhancement

#1254 Add type hints to contour.py.
  optuna/visualization/contour.py
Labels: code-fix, optuna.visualization

#1265 Modify documentation and fix file extension in the test for AllenNLP integration.
  optuna/integration/allennlp.py
  tests/integration_tests/allennlp_tests/test_allennlp.py
Labels: document, optuna.integration

#1264 Cache study-related info in `_CachedStorage`.
  optuna/storages/cached_storage.py
Labels: enhancement, optuna.storages

#1079 Use `--study-name` instead of `--study` in CLI commands.
  docs/source/faq.rst
  docs/source/tutorial/cli.rst
  examples/allennlp/allennlp_simple.py
  examples/catboost_simple.py
  examples/chainer_simple.py
  examples/dask_ml_simple.py
  examples/keras_simple.py
  examples/lightgbm_simple.py
  examples/mxnet_simple.py
  examples/pytorch_ignite_simple.py
  examples/pytorch_lightning_simple.py
  examples/pytorch_simple.py
  examples/quadratic_simple.py
  examples/skimage_lbp_simple.py
  examples/sklearn_simple.py
  examples/tensorflow_eager_simple.py
  examples/tensorflow_estimator_simple.py
  examples/xgboost_simple.py
  optuna/cli.py
  tests/test_cli.py
Labels: feature

#1280 Avoid mutable default argument in `AllenNLPExecutor.__init__`.
  optuna/integration/allennlp.py
Labels: code-fix, optuna.integration

#1282 Stop suggesting using deprecated option in AllenNLP example.
  examples/allennlp/allennlp_jsonnet.py
Labels: example

#1274 Move deep-copies for optimization speed improvement.
  optuna/pruners/base.py
  optuna/samplers/base.py
  optuna/storages/base.py
  optuna/storages/cached_storage.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/storage.py
  optuna/study.py
  optuna/trial/_trial.py
Labels: enhancement, optuna.storages

#1204 Import `optuna.exceptions.TrialPruned` in `__init__.py`.
  docs/source/scripts/plot_intermediate_values.py
  docs/source/tutorial/pruning.rst
  examples/pruning/simple.py
  examples/visualization/plot_study.ipynb
  examples/visualization/plot_study.py
  optuna/__init__.py
  optuna/exceptions.py
  optuna/integration/chainer.py
  optuna/integration/chainermn.py
  optuna/integration/fastai.py
  optuna/integration/keras.py
  optuna/integration/lightgbm.py
  optuna/integration/mxnet.py
  optuna/integration/pytorch_ignite.py
  optuna/integration/pytorch_lightning.py
  optuna/integration/sklearn.py
  optuna/integration/tensorflow.py
  optuna/integration/tfkeras.py
  optuna/integration/xgboost.py
  optuna/pruners/hyperband.py
  optuna/pruners/median.py
  optuna/pruners/nop.py
  optuna/pruners/percentile.py
  optuna/pruners/successive_halving.py
  optuna/pruners/threshold.py
  optuna/structs.py
  optuna/trial/_trial.py
  optuna/visualization/intermediate_values.py
  tests/integration_tests/test_chainer.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_keras.py
  tests/integration_tests/test_lightgbm.py
  tests/integration_tests/test_pytorch_ignite.py
  tests/integration_tests/test_tfkeras.py
  tests/integration_tests/test_xgboost.py
  tests/pruners_tests/test_hyperband.py
  tests/pruners_tests/test_successive_halving.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_sampler.py
  tests/test_importance.py
  tests/test_study.py
Labels: feature

#1275 Implement log argument for suggest_int of chainermn
  examples/chainermn_simple.py
  examples/pruning/chainermn_integration.py
  optuna/integration/chainermn.py
  tests/integration_tests/test_chainermn.py
Labels: enhancement, optuna.integration

#1294 Fix Unintended Change on Calculating ``n_brackets`` in `HyperbandPruner`.
  optuna/pruners/hyperband.py
Labels: code-fix, optuna.pruners

#1292 Reorder arguments of `Trial.suggest_float`.
  optuna/integration/chainermn.py
  optuna/multi_objective/trial.py
  optuna/trial/_base.py
  optuna/trial/_fixed.py
  optuna/trial/_trial.py
  tests/test_trial.py
Labels: code-fix

#1276 Add warning when `Trial.suggest_int` modifies `high`.
  optuna/distributions.py
  optuna/trial/_fixed.py
  optuna/trial/_trial.py
  optuna/trial/_util.py
  tests/test_distributions.py
  tests/test_trial.py
Labels: enhancement

#1263 Move caching mechanism from `RDBStorage` to `_CachedStorage`.
  optuna/storages/cached_storage.py
  optuna/storages/rdb/storage.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_cached_storage.py
Labels: enhancement, optuna.storages

#1285 Fix `experimental` decorator to decorate a class properly
  optuna/_experimental.py
  tests/test_experimental.py
Labels: document

#1296 Stop setting environment variables for GitHub Package.
  .github/workflows/dockerimage.yml
Labels: CI

#1283 Add a workflow to create distribution packages.
  .github/workflows/pypi-publish.yml
Labels: other

#1301 Add link to regression example in the header of `keras_integration.py`.
  examples/pruning/keras_integration.py
Labels: example

#1304 Bump up version number to 1.5.0.
  optuna/version.py
Labels: other

#1291 Add TestPyPI release to workflow.
  .github/workflows/pypi-publish.yml
Labels: other
