Repository optuna/optuna, pull requests merged in 2020-12, with the labels that each got.

#2056 Fix dead links in examples/README.md
  examples/README.md
Labels: example

#1908 Partial support of python 3.9
  .github/workflows/dockerimage.yml
  .github/workflows/examples.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests.yml
  setup.py
Labels: CI

#1987 Universal data transformer
  optuna/_transform.py
  tests/test_transform.py
Labels: feature

#2059 Add enqueue_trial example
  examples/README.md
  examples/enqueue_trial.py
Labels: example

#2063 Add Python 3.9 to README badge
  README.md
Labels: other

#2065 Fix Read the Docs build failure caused by `pip install --find-links`
  setup.py
Labels: document

#2064 plot_optimization_history with target values other than objective value
  optuna/visualization/_optimization_history.py
  optuna/visualization/matplotlib/_optimization_history.py
  tests/visualization_tests/matplotlib_tests/test_optimization_history.py
  tests/visualization_tests/test_optimization_history.py
Labels: feature, optuna.visualization

#2066 Leave a comment about RTD compromise
  setup.py
Labels: code-fix

#2067 Fix ideographic space
  optuna/pruners/_hyperband.py
Labels: optuna.pruners

#2068 Fix lt symbol
  optuna/distributions.py
Labels: document

#2071 Fix parameter section of RandomSampler in docs
  optuna/samplers/_random.py
Labels: optuna.samplers

#1945 Rung promotion limitation in ASHA/Hyperband to enable arbitrary unknown length runs
  optuna/pruners/_hyperband.py
  optuna/pruners/_successive_halving.py
  tests/pruners_tests/test_hyperband.py
  tests/pruners_tests/test_successive_halving.py
Labels: optuna.pruners

#2030 Change the RDB schema for multi-objective integration
  optuna/storages/_rdb/alembic/env.py
  optuna/storages/_rdb/alembic/versions/v2.4.0.a.py
  optuna/storages/_rdb/models.py
  optuna/storages/_rdb/storage.py
  tests/storages_tests/rdb_tests/test_models.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: enhancement, optuna.storages

#2083 Use latest APIs in LightGBMTuner
  optuna/integration/_lightgbm_tuner/optimize.py
Labels: optuna.integration

#1954 Add Fastai V2 pruner callback
  .github/workflows/examples.yml
  .github/workflows/tests-integration.yml
  docs/source/reference/integration.rst
  examples/README.md
  examples/fastaiv1_simple.py
  examples/fastaiv2_simple.py
  optuna/integration/__init__.py
  optuna/integration/fastaiv1.py
  optuna/integration/fastaiv2.py
  setup.py
  tests/integration_tests/test_fastai.py
  tests/integration_tests/test_fastaiv2.py
Labels: optuna.integration

#2060 Use model methods instead of `session.query()`
  optuna/storages/_rdb/models.py
  optuna/storages/_rdb/storage.py
Labels: code-fix, optuna.storages

#2028 Add mandarin link to ReadTheDocs layout
  docs/source/_templates/layout.html
Labels: document

#2090 Fix flipped colormap in matplotlib backend plot_parallel_coordinate
  optuna/visualization/matplotlib/_parallel_coordinate.py
Labels: bug, optuna.visualization

#2075 plot_contour with target values other than objective value
  optuna/visualization/_contour.py
  optuna/visualization/matplotlib/_contour.py
  tests/visualization_tests/matplotlib_tests/test_contour.py
  tests/visualization_tests/test_contour.py
Labels: feature, optuna.visualization

#2089 plot_parallel_coordinate with target values other than objective value
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/matplotlib/_parallel_coordinate.py
  tests/visualization_tests/matplotlib_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_parallel_coordinate.py
Labels: feature, optuna.visualization

#2087 Add note on the behavior of `suggest_float` with `step` argument.
  optuna/trial/_trial.py
Labels: document, optuna.trial

#2061 Use `find_or_raise_by_id` instead of `find_by_id` to raise if a study does not exist
  optuna/storages/_rdb/storage.py
Labels: code-fix

#2097 Add `matplotlib.plot_parallel_coordinate` example
  optuna/visualization/matplotlib/_parallel_coordinate.py
Labels: optuna.visualization

#2098 Add `matplotlib.plot_param_importances` example
  optuna/visualization/matplotlib/_param_importances.py
Labels: document, optuna.visualization

#2082 Make new visualization parameters keyword only
  optuna/visualization/_optimization_history.py
  optuna/visualization/matplotlib/_optimization_history.py
Labels: code-fix, optuna.visualization

#2096 Replace builtin `isnumerical` to capture float values in `plot_contour`.
  optuna/visualization/_contour.py
Labels: bug, optuna.visualization

#2062 Organize and remove unused model methods
  optuna/storages/_rdb/models.py
  optuna/storages/_rdb/storage.py
  tests/storages_tests/rdb_tests/test_models.py
Labels: code-fix, optuna.storages

#2100 Add `matplotlib.plot_contour` example
  optuna/visualization/matplotlib/_contour.py
Labels: document, optuna.visualization

#2093 `plot_slice` with target values other than objective value
  optuna/visualization/_slice.py
  optuna/visualization/matplotlib/_slice.py
  tests/visualization_tests/matplotlib_tests/test_slice.py
  tests/visualization_tests/test_slice.py
Labels: feature, optuna.visualization

#1994 Integrate multi-objective optimization module for the storages, study, and frozen trial
  optuna/_multi_objective.py
  optuna/_optimize.py
  optuna/_study_summary.py
  optuna/cli.py
  optuna/integration/lightgbm.py
  optuna/pruners/_hyperband.py
  optuna/storages/_base.py
  optuna/storages/_cached_storage.py
  optuna/storages/_in_memory.py
  optuna/storages/_rdb/models.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  optuna/study.py
  optuna/testing/integration.py
  optuna/trial/_frozen.py
  tests/pruners_tests/test_percentile.py
  tests/storages_tests/rdb_tests/test_models.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_cached_storage.py
  tests/storages_tests/test_storages.py
  tests/test_cli.py
  tests/test_study.py
  tests/test_trial.py
Labels: enhancement, optuna.storages, optuna.study, optuna.trial

#2103 plot_edf with target values other than objective value
  optuna/visualization/_edf.py
  optuna/visualization/matplotlib/_edf.py
  tests/visualization_tests/matplotlib_tests/test_edf.py
  tests/visualization_tests/test_edf.py
Labels: feature, optuna.visualization

#2099 Add `matplotlib.plot_slice` example
  optuna/visualization/matplotlib/_slice.py
Labels: document, optuna.visualization

#2104 Clarify that generally pull requests need two or more approvals
  .github/PULL_REQUEST_TEMPLATE.md
Labels: other

#2088 Tune build time of #2076
  .circleci/config.yml
  setup.py
  tutorial/10_key_features/002_configurations.py
  tutorial/10_key_features/005_visualization.py
Labels: document

#2108 Skip FastAI v2 example in examples job.
  .github/workflows/examples.yml
Labels: CI, example

#2105 Release wheel package via PyPI
  .github/workflows/pypi-publish.yml
  setup.py
Labels: other

#2094 Bump up PyTorch version
  setup.py
Labels: installation

#2079 Remove circular reference of study.
  optuna/storages/_rdb/storage.py
Labels: bug, optuna.storages

#2114 Adds news entry about the Python 3.9 support
  README.md
Labels: other

#1989 Introduce `BoTorchSampler`
  .github/workflows/examples.yml
  .github/workflows/tests-integration.yml
  docs/source/reference/integration.rst
  examples/botorch_simple.py
  optuna/integration/__init__.py
  optuna/integration/botorch.py
  setup.py
  tests/integration_tests/test_botorch.py
Labels: feature, optuna.integration

#2109 importance with target values other than objective value
  optuna/importance/__init__.py
  optuna/importance/_base.py
  optuna/importance/_fanova/_evaluator.py
  optuna/importance/_mean_decrease_impurity.py
  tests/importance_tests/test_fanova.py
  tests/importance_tests/test_init.py
  tests/importance_tests/test_mean_decrease_impurity.py
Labels: compatibility, feature, optuna.importance

#2112 Raise `ValueError` if `target` is None and `study` is for multi-objective optimization for `plot_contour`
  optuna/visualization/_contour.py
  optuna/visualization/matplotlib/_contour.py
  tests/visualization_tests/matplotlib_tests/test_contour.py
  tests/visualization_tests/test_contour.py
Labels: bug

#2117 Raise `ValueError` if `target` is None and `study` is for multi-objective optimization for `plot_edf`
  optuna/visualization/_edf.py
  optuna/visualization/matplotlib/_edf.py
  tests/visualization_tests/matplotlib_tests/test_edf.py
  tests/visualization_tests/test_edf.py
Labels: bug, optuna.visualization

#2127 Bump Sphinx up to 3.4.0
  setup.py
Labels: document

#2123 Use latest multi-objective functionality in multi-objective example
  examples/multi_objective/pytorch_simple.py
Labels: example

#2124 Deprecate previous multi-objective module
  optuna/multi_objective/samplers/_base.py
  optuna/multi_objective/samplers/_motpe.py
  optuna/multi_objective/samplers/_nsga2.py
  optuna/multi_objective/samplers/_random.py
  optuna/multi_objective/study.py
  optuna/multi_objective/trial.py
  optuna/multi_objective/visualization/_pareto_front.py
Labels: code-fix

#2069 Unpin mypy version
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/integration/allennlp.py
  optuna/multi_objective/samplers/_motpe.py
  optuna/multi_objective/samplers/_nsga2.py
  optuna/samplers/_grid.py
  optuna/storages/_base.py
  optuna/storages/_in_memory.py
  optuna/storages/_redis.py
  setup.py
  tests/integration_tests/allennlp_tests/tiny_single_id.py
  tox.ini
Labels: CI, code-fix

#2119 plot_param_importances with target values other than objective value
  optuna/visualization/_param_importances.py
  optuna/visualization/matplotlib/_param_importances.py
  tests/visualization_tests/matplotlib_tests/test_param_importances.py
  tests/visualization_tests/test_param_importances.py
Labels: feature, optuna.visualization

#2110 Migrate `optuna.multi_objective.visualization.plot_pareto_front`
  docs/source/reference/visualization/index.rst
  optuna/visualization/__init__.py
  optuna/visualization/_pareto_front.py
  tests/visualization_tests/test_pareto_front.py
Labels: feature, optuna.visualization

#2129 Fix CI examples for Py3.6
  .github/workflows/examples.yml
Labels: CI

#2128 Fix log format for single objective optimization to include best trial
  optuna/multi_objective/study.py
  optuna/study.py
  tests/multi_objective_tests/test_study.py
  tests/test_study.py
Labels: enhancement, optuna.study

#2118 Raise `ValueError` if `target` is None and `study` is for multi-objective optimization for `plot_optimization_history`
  optuna/visualization/_optimization_history.py
  optuna/visualization/matplotlib/_optimization_history.py
  tests/visualization_tests/matplotlib_tests/test_optimization_history.py
  tests/visualization_tests/test_optimization_history.py
Labels: feature, optuna.visualization

#2122 Move `examples/multi_objective/plot_pareto_front.py` to `examples/visualization/plot_pareto_front.py`
  examples/visualization/plot_pareto_front.py
Labels: example, optuna.visualization

#2132 Additional docs about `optuna.multi_objective` deprecation
  docs/source/reference/multi_objective/index.rst
Labels: document, needs-discussion

#2133 `_run_trial` refactoring
  optuna/_optimize.py
Labels: code-fix

#2136 Raise `RuntimeError` in TPE and CMA-ES if `study` is being used for multi-objective optimization
  optuna/samplers/_base.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: feature, optuna.samplers

#2078 Update pruning callback for xgboost 1.3.
  examples/pruning/xgboost_cv_integration.py
  examples/pruning/xgboost_integration.py
  optuna/integration/xgboost.py
  setup.py
  tests/integration_tests/test_xgboost.py
Labels: enhancement, optuna.integration

#2143 Cosmetic fix of `xgboost` integration
  optuna/integration/xgboost.py
Labels: code-fix, optuna.integration

#1988 HPI with `_SearchSpaceTransform`
  optuna/_transform.py
  optuna/importance/_base.py
  optuna/importance/_fanova/_evaluator.py
  optuna/importance/_fanova/_fanova.py
  optuna/importance/_mean_decrease_impurity.py
  tests/importance_tests/fanova_tests/test_fanova.py
  tests/test_transform.py
Labels: code-fix, optuna.importance

#2137 Raise `ValueError` if `target` is None and `study` is for multi-objective optimization for `get_param_importances`, `BaseImportanceEvaluator.evaluate`, and `plot_param_importances`
  optuna/importance/__init__.py
  optuna/importance/_base.py
  optuna/importance/_fanova/_evaluator.py
  optuna/importance/_mean_decrease_impurity.py
  optuna/visualization/_param_importances.py
  optuna/visualization/matplotlib/_param_importances.py
  tests/importance_tests/test_init.py
  tests/visualization_tests/matplotlib_tests/test_param_importances.py
  tests/visualization_tests/test_param_importances.py
Labels: feature, optuna.importance, optuna.visualization

#2120 Raise `ValueError` if `target` is None and `study` is for multi-objective optimization for `plot_parallel_coordinate`
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/matplotlib/_parallel_coordinate.py
  tests/visualization_tests/matplotlib_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_parallel_coordinate.py
Labels: feature, optuna.visualization

#2121 Raise `ValueError` if `target` is None and `study` is for multi-objective optimization for `plot_slice`
  optuna/visualization/_slice.py
  optuna/visualization/matplotlib/_slice.py
  tests/visualization_tests/matplotlib_tests/test_slice.py
  tests/visualization_tests/test_slice.py
Labels: feature, optuna.visualization

#2148 Add copy button to all the code examples
  docs/source/conf.py
  setup.py
Labels: document

#1979 Make always compute `weights_below` in `MOTPEMultiObjectiveSampler`
  optuna/multi_objective/samplers/_motpe.py
  tests/multi_objective_tests/samplers_tests/test_motpe.py
Labels: bug

#2147 [RFC] Move typehints to description from signature
  docs/source/conf.py
Labels: document

#2135 Raise `NotImplementedError` for `trial.report` and `trial.should_prune` during multi-objective optimization
  optuna/trial/_trial.py
  tests/test_trial.py
Labels: feature, optuna.trial

#2152 Fix wrong wording in distributed execution tutorial
  tutorial/10_key_features/004_distributed.py
Labels: document

#2134 Trial post processing
  optuna/_optimize.py
  optuna/integration/botorch.py
  optuna/samplers/_base.py
  optuna/samplers/_grid.py
  optuna/trial/_trial.py
  tests/integration_tests/test_botorch.py
  tests/samplers_tests/test_grid.py
  tests/samplers_tests/test_samplers.py
Labels: feature, optuna.integration, optuna.samplers

#2145 Raise `ValueError` in integration samplers if `study` is being used for multi-objective optimization
  optuna/integration/cma.py
  optuna/integration/skopt.py
  tests/samplers_tests/test_samplers.py
Labels: feature, optuna.integration

#2142 Implement `Study._is_multi_objective()` to check whether study has multiple objectives
  optuna/importance/_fanova/_evaluator.py
  optuna/importance/_mean_decrease_impurity.py
  optuna/pruners/_hyperband.py
  optuna/samplers/_base.py
  optuna/study.py
  optuna/visualization/_contour.py
  optuna/visualization/_edf.py
  optuna/visualization/_optimization_history.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_param_importances.py
  optuna/visualization/_slice.py
  optuna/visualization/matplotlib/_contour.py
  optuna/visualization/matplotlib/_edf.py
  optuna/visualization/matplotlib/_optimization_history.py
  optuna/visualization/matplotlib/_parallel_coordinate.py
  optuna/visualization/matplotlib/_param_importances.py
  optuna/visualization/matplotlib/_slice.py
  tests/test_study.py
Labels: optuna.study

#2150 Migrate NSGA2 sampler
  docs/source/reference/samplers.rst
  optuna/samplers/__init__.py
  optuna/samplers/_nsga2.py
  optuna/study.py
  tests/samplers_tests/test_nsga2.py
  tests/samplers_tests/test_samplers.py
Labels: feature, optuna.samplers, optuna.study

#2156 `TFKerasPruningCallback` to warn when an evaluation metric does not exist
  optuna/integration/tfkeras.py
  tests/integration_tests/test_tfkeras.py
Labels: optuna.integration

#2155 Add haiku and jax simple example
  examples/README.md
  examples/haiku_simple.py
  setup.py
Labels: example
