Repository optuna/optuna, pull requests merged in 2020-03, with the labels that each got.

#951 Add a n_startup_trials option to SkoptSampler.
  optuna/integration/skopt.py
  tests/integration_tests/test_skopt.py
Labels: feature

#971 Simplify PyTorch Ignite example by removing an evaluator.
  examples/pytorch_ignite_simple.py
Labels: example

#973 Fix doctest in visualization.
  optuna/visualization/contour.py
  optuna/visualization/intermediate_values.py
  optuna/visualization/optimization_history.py
  optuna/visualization/slice.py
Labels: document

#964 Add examples for `doctest` to `optuna/prunes/*.py`
  optuna/pruners/median.py
  optuna/pruners/nop.py
  optuna/pruners/percentile.py
  optuna/pruners/successive_halving.py
Labels: document

#962 Improve test coverage of integration/sklearn.py
  tests/integration_tests/test_sklearn.py
Labels: test

#980 Pruning `n_warmup_steps` documentation fix.
  optuna/pruners/median.py
  optuna/pruners/percentile.py
Labels: document

#985 Refactored mypy configuration into setup.cfg
  .circleci/config.yml
  setup.cfg
Labels: other

#989 use function annotation syntax for type hints
  setup.py
Labels: code-fix

#998 Add version restriction to `pytorch_lightning` and `bokeh`.
  setup.py
Labels: CI

#939 Add number field in trials table.
  optuna/storages/in_memory.py
  optuna/storages/rdb/alembic/versions/v1.3.0.a.py
  optuna/storages/rdb/models.py
  optuna/storages/rdb/storage.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_study.py
Labels: code-fix

#990 Added syntax highlighting and fixed spelling variants
  README.md
Labels: document

#1002 Relax PyTorch Lightning version constraint to fix daily CI build.
  setup.py
Labels: CI

#1006 RDB storage `number` column comment.
  optuna/storages/rdb/models.py
Labels: code-fix

#1007 Sort dependencies in setup.py (fix #1005)
  setup.py
Labels: code-fix

#983 Apply gray background for code-block:: console
  docs/source/_static/css/custom.css
  docs/source/conf.py
  docs/source/tutorial/first.rst
  docs/source/tutorial/rdb.rst
Labels: document

#1009 Fix `mypy==0.770` errors.
  optuna/integration/sklearn.py
  optuna/visualization/parallel_coordinate.py
Labels: code-fix

#1008 Store documentation as an artifact on CircleCI
  .circleci/config.yml
Labels: CI

#1016 Callback doc improvement for optimize function.
  optuna/study.py
Labels: document

#1010 Fix a validation error message
  optuna/structs.py
Labels: code-fix

#1011 Introduce GitHub Action to execute CI for examples.
  .github/workflows/examples.yml
  setup.py
Labels: CI

#1024 Fix a typo
  optuna/integration/pytorch_lightning.py
Labels: code-fix

#1022 Fix a docstring of RDBStorage
  optuna/storages/rdb/storage.py
Labels: document

#1023 Remove python version check
  optuna/storages/rdb/storage.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: code-fix

#1031 `sklearn.utils.safe_indexing` will be removed in `scikit-learn==0.24`
  optuna/integration/sklearn.py
Labels: code-fix

#1034 Fix `black` error.
  optuna/integration/sklearn.py
Labels: code-fix

#1003 Embed plotly figures in documentation
  docs/source/conf.py
  docs/source/plotly_figures/plot_contour.html
  docs/source/plotly_figures/plot_intermediate_values.html
  docs/source/plotly_figures/plot_optimization_history.html
  docs/source/plotly_figures/plot_parallel_coordinate.html
  docs/source/plotly_figures/plot_slice.html
  docs/source/scripts/plot_contour.py
  docs/source/scripts/plot_intermediate_values.py
  docs/source/scripts/plot_optimization_history.py
  docs/source/scripts/plot_parallel_coordinate.py
  docs/source/scripts/plot_slice.py
  optuna/visualization/contour.py
  optuna/visualization/intermediate_values.py
  optuna/visualization/optimization_history.py
  optuna/visualization/parallel_coordinate.py
  optuna/visualization/slice.py
Labels: document

#1035 Remove duplicate import of `FATAL`.
  optuna/logging.py
Labels: code-fix

#949 Add allennlp example
  .circleci/config.yml
  README.md
  examples/allennlp_simple.py
  setup.py
Labels: example

#1036 Fix direction in doctest
  optuna/trial.py
Labels: document

#979 Fix overlap of labels in parallel coordinate plots
  optuna/visualization/parallel_coordinate.py
Labels: enhancement

#1042 Ignore allennlp in Python3.5 and Python3.8.
  .github/workflows/examples.yml
Labels: CI

#1040 Add a link to the AllenNLP example in README.md.
  examples/README.md
Labels: document

#1044 Code Formatting with Black
  CONTRIBUTING.md
Labels: document

#1048 Remove daily CircleCI builds.
  .circleci/config.yml
Labels: CI

#1047 Remove obsolete description from contribution guidelines.
  CONTRIBUTING.md
Labels: document

#1014 Use SELECT FOR UPDATE while updating trial state
  optuna/storages/rdb/models.py
  optuna/storages/rdb/storage.py
Labels: bug

#1046 Fix import order and plot label truncation.
  optuna/visualization/parallel_coordinate.py
Labels: code-fix

#996 Use function annotation syntax for type hints.
  optuna/logging.py
Labels: code-fix

#1019 Fix docstring on optuna/integration/tensorflow.py
  optuna/integration/tensorflow.py
Labels: document

#869 Add FAQ entry on how to save/resume studies using in-memory storage
  docs/source/faq.rst
Labels: document

#1052 Improve contribution guidelines.
  CONTRIBUTING.md
Labels: document

#965 Log parameters from last trial instead of best trial.
  optuna/logging.py
  optuna/study.py
Labels: enhancement

#946 Experimental parameter importance feature.
  .circleci/config.yml
  docs/source/reference/importance.rst
  docs/source/reference/index.rst
  optuna/__init__.py
  optuna/importance/__init__.py
  optuna/importance/_base.py
  optuna/importance/_fanova.py
  optuna/samplers/__init__.py
  setup.py
  tests/samplers_tests/test_samplers.py
  tests/test_importance.py
Labels: feature

#1053 Document `intersection_search_space` parameters.
  optuna/samplers/__init__.py
Labels: document

#963 Implement ThresholdPruner
  docs/source/reference/pruners.rst
  optuna/pruners/__init__.py
  optuna/pruners/threshold.py
  tests/pruners_tests/test_threshold.py
Labels: feature

#910 Add step parameter on IntUniformDistribution
  optuna/distributions.py
  optuna/integration/chainermn.py
  optuna/integration/cma.py
  optuna/integration/skopt.py
  optuna/samplers/random.py
  optuna/samplers/tpe/sampler.py
  optuna/trial.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_cma.py
  tests/integration_tests/test_skopt.py
  tests/samplers_tests/test_samplers.py
  tests/test_distributions.py
Labels: feature

#1021 Add initial implementation of `suggest_float`.
  optuna/trial.py
  tests/test_trial.py
Labels: feature

#1064 Add descriptions in cli commands.
  docs/source/tutorial/cli.rst
  optuna/cli.py
Labels: document
