Repository optuna/optuna, pull requests merged in 2020-11, with the labels that each got.

#1787 Implement `plot_param_importances` and `_get_param_importance_plot` with Matplotlib backend.
  docs/source/reference/visualization/matplotlib.rst
  optuna/visualization/matplotlib/__init__.py
  optuna/visualization/matplotlib/_matplotlib_imports.py
  optuna/visualization/matplotlib/_param_importances.py
  tests/visualization_tests/matplotlib_tests/test_param_importances.py
Labels: feature, optuna.visualization

#1985 Add mxnet gluon example
  examples/README.md
  examples/gluon_simple.py
Labels: example

#1892 Add PartialFixedSampler
  docs/source/reference/samplers.rst
  optuna/samplers/__init__.py
  optuna/samplers/_partial_fixed.py
  tests/samplers_tests/test_partial_fixed.py
  tests/samplers_tests/test_samplers.py
Labels: feature, hacktoberfest-accepted, optuna.samplers

#1992 Avoid `set-env` in GitHub Actions
  .github/workflows/dockerimage.yml
Labels: CI

#1823 Implement `plot_slice` and `_get_slice_plot` with Matplotlib backend.
  docs/source/reference/visualization/matplotlib.rst
  optuna/visualization/matplotlib/__init__.py
  optuna/visualization/matplotlib/_matplotlib_imports.py
  optuna/visualization/matplotlib/_slice.py
  optuna/visualization/matplotlib/_utils.py
  tests/visualization_tests/matplotlib_tests/test_slice.py
Labels: feature, optuna.visualization, sprint-20200912

#1944 Introduce plotly directive.
  docs/source/conf.py
  optuna/visualization/_contour.py
  optuna/visualization/_edf.py
  optuna/visualization/_intermediate_values.py
  optuna/visualization/_optimization_history.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_param_importances.py
  optuna/visualization/_slice.py
  setup.py
Labels: code-fix, document, hacktoberfest-accepted

#1982 Check everything by blackdoc.
  .circleci/config.yml
  .github/workflows/checks.yml
  checks.sh
Labels: CI, code-fix, document

#2007 Fix TODO comment about orders of `dict`s
  optuna/trial/_frozen.py
Labels: code-fix, optuna.trial

#1782 Implement `plot_contour` and `_get_contour_plot` with Matplotlib backend.
  docs/source/reference/visualization/matplotlib.rst
  optuna/testing/visualization.py
  optuna/visualization/_contour.py
  optuna/visualization/matplotlib/__init__.py
  optuna/visualization/matplotlib/_contour.py
  optuna/visualization/matplotlib/_matplotlib_imports.py
  tests/visualization_tests/matplotlib_tests/test_contour.py
Labels: feature, optuna.visualization

#2025 Use plotly directive in `plot_pareto_front`
  optuna/multi_objective/visualization/_pareto_front.py
Labels: document

#2026 [Depends on #2025] Remove plotly scripts and unused generated files
  docs/source/conf.py
  docs/source/plotly_figures/plot_contour.html
  docs/source/plotly_figures/plot_edf.html
  docs/source/plotly_figures/plot_intermediate_values.html
  docs/source/plotly_figures/plot_optimization_history.html
  docs/source/plotly_figures/plot_parallel_coordinate.html
  docs/source/plotly_figures/plot_param_importances.html
  docs/source/plotly_figures/plot_pareto_front.html
  docs/source/plotly_figures/plot_slice.html
  docs/source/scripts/plot_contour.py
  docs/source/scripts/plot_edf.py
  docs/source/scripts/plot_intermediate_values.py
  docs/source/scripts/plot_optimization_history.py
  docs/source/scripts/plot_parallel_coordinate.py
  docs/source/scripts/plot_param_importances.py
  docs/source/scripts/plot_pareto_front.py
  docs/source/scripts/plot_slice.py
Labels: document

#2022 Make the visualization examples deterministic
  optuna/visualization/_contour.py
  optuna/visualization/_edf.py
  optuna/visualization/_intermediate_values.py
  optuna/visualization/_optimization_history.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_param_importances.py
  optuna/visualization/_slice.py
Labels: document, optuna.visualization

#2004 Remove `checks` from circleci
  .circleci/config.yml
  CONTRIBUTING.md
Labels: CI

#2020 Update `parametrize_sampler` of `test_samplers.py`
  tests/samplers_tests/test_samplers.py
Labels: test

#2031 Enable blackdoc `--diff` option
  .github/workflows/checks.yml
  checks.sh
Labels: CI

#2019 Update CmaEsSampler's warning message
  optuna/integration/cma.py
  optuna/samplers/_cmaes.py
Labels: code-fix, optuna.integration, optuna.samplers

#2013 Add `__all__` to reexport modules explicitly
  optuna/__init__.py
  optuna/pruners/__init__.py
  optuna/samplers/__init__.py
  optuna/storages/__init__.py
  optuna/trial/__init__.py
  optuna/visualization/__init__.py
  optuna/visualization/matplotlib/__init__.py
Labels: code-fix, optuna.pruners, optuna.samplers, optuna.storages, optuna.trial, optuna.visualization

#2029 Put up an alias for `structs.StudySummary` against `study.StudySummary`
  optuna/structs.py
Labels: code-fix

#2015 Ignore `tests` directory on install
  setup.py
Labels: installation

#2035 Remove py35 from black config in pyproject.toml
  optuna/importance/__init__.py
  optuna/integration/allennlp.py
  optuna/integration/chainermn.py
  optuna/integration/sklearn.py
  optuna/integration/skopt.py
  optuna/multi_objective/trial.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_tpe/sampler.py
  optuna/trial/_base.py
  optuna/trial/_fixed.py
  optuna/trial/_frozen.py
  optuna/trial/_trial.py
  pyproject.toml
Labels: code-fix

#1959 Support options available on AllenNLP except to `node_rank` and `dry_run`
  examples/allennlp/allennlp_jsonnet.py
  optuna/integration/allennlp.py
  tests/integration_tests/allennlp_tests/test_allennlp.py
Labels: feature, optuna.integration

#2027 Migrate tests and coverage to GitHub Actions
  .circleci/config.yml
  .github/workflows/coverage.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
Labels: CI

#2032 Deprecate `optuna.type_checking` module.
  optuna/__init__.py
  optuna/importance/_fanova/_tree.py
  optuna/integration/__init__.py
  optuna/integration/mlflow.py
  optuna/type_checking.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: code-fix, optuna.importance, optuna.integration

#2018 Pass `include_package` to AllenNLP for distributed setting
  optuna/integration/allennlp.py
  tests/integration_tests/allennlp_tests/test_allennlp.py
Labels: enhancement, optuna.integration

#2037 Update logging in pytorch lightning example
  examples/pytorch_lightning_simple.py
  setup.py
Labels: example

#2043 Change return type of `training_step` of PyTorch Lightning example
  examples/pytorch_lightning_simple.py
Labels: example

#2040 Document about possible duplicate parameter configurations in `GridSampler`
  optuna/samplers/_grid.py
Labels: document, optuna.samplers

#2000 Add axis order for plot_pareto_front
  optuna/multi_objective/visualization/_pareto_front.py
  tests/multi_objective_tests/visualization_tests/test_pareto_front.py
Labels: feature, optuna.visualization

#2045 Fix MOTPEMultiObjectiveSampler's example
  optuna/multi_objective/samplers/_motpe.py
Labels: document

#1943 Allow filtering trials from `Study` and `BaseStorage` based on `TrialState`
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/multi_objective/study.py
  optuna/pruners/_hyperband.py
  optuna/samplers/_tpe/sampler.py
  optuna/storages/_base.py
  optuna/storages/_cached_storage.py
  optuna/storages/_in_memory.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  optuna/study.py
  tests/samplers_tests/tpe_tests/test_sampler.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_study.py
Labels: compatibility, feature, optuna.integration, optuna.pruners, optuna.samplers, optuna.storages, optuna.study, stale

#1628 Use context manager to treat session correctly.
  optuna/storages/_rdb/storage.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: enhancement, optuna.storages

#2052 Change `trail_id + 123` -> `trial_id`
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: test

#2054 Allow passing additional arguments when running tox
  tox.ini
Labels: other

#1964 [RFC] Stop storing error stack traces in `fail_reason` in trial `system_attr`
  optuna/_optimize.py
  tests/test_study.py
Labels: needs-discussion, stale

#1983 Fix the range of categorical values.
  optuna/visualization/_contour.py
  tests/visualization_tests/test_contour.py
Labels: bug, optuna.visualization
