Repository optuna/optuna, pull requests merged in 2020-10, with the labels that each got.

#1876 Improve threshold pruner example
  optuna/pruners/_threshold.py
Labels: document, optuna.pruners

#1847 Add `visualization.matpltlib` to docs
  .gitignore
  docs/Makefile
  docs/source/index.rst
  docs/source/reference/index.rst
  docs/source/reference/visualization/index.rst
  docs/source/reference/visualization/matplotlib.rst
Labels: document

#1884 Add logging levels to `optuna.logging.set_verbosity`
  optuna/logging.py
Labels: document

#1886 Bump to v2.2.0
  optuna/version.py
Labels: other

#1878 Make src comments more descriptive in examples/pytorch_lightning_simple.py
  examples/pytorch_lightning_simple.py
Labels: Hacktoberfest, example

#1889 Add CuPy to projects using Optuna
  examples/README.md
Labels: document

#1898 Resolve conflict of `job-id` of GitHub Action workflows
  .github/workflows/dockerimage.yml
  .github/workflows/examples.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests.yml
Labels: CI

#1888 Add an external project in Optuna examples
  examples/README.md
Labels: example

#1901 Fix broken links in `README.md`
  README.md
Labels: document

#1891 Run documentation build and doctest in GitHub Actions.
  .github/workflows/sphinx-build.yml
Labels: CI

#1906 Fix plotly figure iframe paths
  optuna/visualization/_contour.py
  optuna/visualization/_edf.py
  optuna/visualization/_intermediate_values.py
  optuna/visualization/_optimization_history.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_param_importances.py
  optuna/visualization/_slice.py
Labels: document, optuna.visualization

#1903 Add a short description to the example in FAQ.
  docs/source/faq.rst
Labels: document

#1882 Removed with_trace method from docs
  docs/source/conf.py
Labels: document

#1762 Implement `plot_intermediate_values` and `_get_intermediate_plot` with Matplotlib backend.
  docs/source/reference/visualization/matplotlib.rst
  optuna/visualization/matplotlib/__init__.py
  optuna/visualization/matplotlib/_intermediate_values.py
  tests/visualization_tests/matplotlib_tests/test_intermediate_plot.py
Labels: enhancement, optuna.visualization

#1909 Update docstring of CmaEsSampler
  optuna/samplers/_cmaes.py
Labels: document, optuna.samplers

#1913 Pin `mypy==0.782`
  setup.py
Labels: CI

#1915 Run `allennlp_jsonnet.py` on GitHub Actions
  .github/workflows/examples.yml
Labels: CI

#1926 Fix for PyTorch Lightning 1.0
  examples/pytorch_lightning_simple.py
  tests/integration_tests/test_pytorch_lightning.py
Labels: CI, test

#1763 Implement `plot_optimization_history` and `_get_optimization_history_plot` with Matplotlib backend.
  docs/source/reference/visualization/matplotlib.rst
  optuna/visualization/matplotlib/__init__.py
  optuna/visualization/matplotlib/_optimization_history.py
  tests/visualization_tests/matplotlib_tests/test_optimization_history.py
Labels: feature, optuna.visualization

#1919 Fix RDB test to avoid deadlock when creating study
  tests/storages_tests/rdb_tests/test_with_server.py
Labels: test

#1907 Refactor `Study.trials_dataframe`
  optuna/_dataframe.py
  optuna/study.py
Labels: code-fix, optuna.study

#1904 Refactor `Study.optimize`
  optuna/_optimize.py
  optuna/multi_objective/study.py
  optuna/study.py
  tests/test_study.py
Labels: code-fix, optuna.study

#1899 Fix a broken link in `matplotlib.plot_edf`
  optuna/visualization/matplotlib/_edf.py
Labels: document, optuna.visualization

#1921 Fix duplicate stack traces
  optuna/storages/_rdb/storage.py
Labels: code-fix, optuna.storages

#1905 Embed `plot_edf` figure in documentation by using matplotlib plot directive
  docs/source/conf.py
  optuna/visualization/matplotlib/_edf.py
Labels: document

#1920 Add variable annotation to `optuna/logging.py`
  optuna/logging.py
Labels: code-fix

#1923 add some jitters in `_MultivariateParzenEstimators`
  optuna/samplers/_tpe/multivariate_parzen_estimator.py
Labels: optuna.samplers

#1922 remove `_log_normal_cdf`
  optuna/samplers/_tpe/sampler.py
Labels: code-fix, optuna.samplers

#1918 Improve MLflow callback functionality: allow nesting, and attached study attrs.
  optuna/integration/mlflow.py
Labels: feature, optuna.integration

#1933 Add `matplotlib.plot_intermediate_values` figure to doc
  optuna/visualization/matplotlib/_intermediate_values.py
Labels: document, optuna.visualization

#1934 Add `matplotlib.plot_optimization_history` figure to doc.
  optuna/visualization/matplotlib/_optimization_history.py
Labels: document, optuna.visualization

#1938 Add `reseed_rng` to `NSGAIIMultiObjectiveSampler`
  optuna/multi_objective/samplers/_nsga2.py
  tests/multi_objective_tests/samplers_tests/test_nsga2.py
Labels: enhancement

#1702 feature/return LGBMTunerCV booster
  optuna/integration/_lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: feature, optuna.integration, sprint-20200912

#1927 Fixed 'Mean of empty slice' warning
  optuna/pruners/_percentile.py
Labels: enhancement, optuna.pruners

#1935 Add a test to verify `tag_study_user_attrs` for `MLflowCallback` works properly
  tests/integration_tests/test_mlflow.py
Labels: optuna.integration, test

#1932 Add a test to verify `nest_trials` for `MLflowCallback` works properly.
  tests/integration_tests/test_mlflow.py
Labels: optuna.integration, test

#1894 Add more sphinx doc comments
  optuna/distributions.py
  optuna/study.py
Labels: document, optuna.study

#1873 Revert module directives.
  docs/source/reference/cli.rst
  docs/source/reference/distributions.rst
  docs/source/reference/exceptions.rst
  docs/source/reference/importance.rst
  docs/source/reference/integration.rst
  docs/source/reference/logging.rst
  docs/source/reference/multi_objective/index.rst
  docs/source/reference/multi_objective/samplers.rst
  docs/source/reference/multi_objective/study.rst
  docs/source/reference/multi_objective/trial.rst
  docs/source/reference/multi_objective/visualization.rst
  docs/source/reference/optuna.rst
  docs/source/reference/pruners.rst
  docs/source/reference/samplers.rst
  docs/source/reference/storages.rst
  docs/source/reference/study.rst
  docs/source/reference/trial.rst
  docs/source/reference/visualization/index.rst
  docs/source/reference/visualization/matplotlib.rst
  optuna/multi_objective/study.py
  optuna/pruners/__init__.py
  tutorial/007_pruning.py
Labels: document

#1805 Copy datasets before objective evaluation.
  optuna/integration/_lightgbm_tuner/optimize.py
Labels: enhancement, optuna.integration

#1850 Add explanation for most module-level reference pages
  docs/source/reference/cli.rst
  docs/source/reference/distributions.rst
  docs/source/reference/exceptions.rst
  docs/source/reference/importance.rst
  docs/source/reference/integration.rst
  docs/source/reference/logging.rst
  docs/source/reference/optuna.rst
  docs/source/reference/pruners.rst
  docs/source/reference/samplers.rst
  docs/source/reference/storages.rst
  docs/source/reference/structs.rst
  docs/source/reference/study.rst
  docs/source/reference/trial.rst
  docs/source/reference/visualization/index.rst
Labels: document

#1902 Show module paths in `optuna.visualization` and `optuna.multi_objective.visualization`
  docs/source/reference/multi_objective/visualization.rst
  docs/source/reference/visualization/index.rst
Labels: document

#1950 Convert comment style type hints
  optuna/_dataframe.py
  optuna/_imports.py
  optuna/_optimize.py
  optuna/dashboard.py
  optuna/importance/_fanova/_fanova.py
  optuna/importance/_fanova/_tree.py
  optuna/integration/_lightgbm_tuner/alias.py
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/integration/allennlp.py
  optuna/integration/mlflow.py
  optuna/integration/tensorboard.py
  optuna/multi_objective/samplers/_nsga2.py
  optuna/multi_objective/trial.py
  optuna/progress_bar.py
  optuna/pruners/__init__.py
  optuna/pruners/_hyperband.py
  optuna/pruners/_successive_halving.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_search_space.py
  optuna/samplers/_tpe/multivariate_parzen_estimator.py
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/samplers/_tpe/sampler.py
  optuna/storages/_cached_storage.py
  optuna/storages/_in_memory.py
  optuna/storages/_rdb/models.py
  optuna/storages/_rdb/storage.py
  optuna/testing/sampler.py
  optuna/testing/storage.py
  optuna/trial/_fixed.py
  optuna/trial/_frozen.py
  optuna/trial/_trial.py
  optuna/visualization/_parallel_coordinate.py
  tests/importance_tests/fanova_tests/test_tree.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
  tests/integration_tests/test_chainermn.py
  tests/samplers_tests/test_cmaes.py
  tests/samplers_tests/test_grid.py
  tests/samplers_tests/test_samplers.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/test_distributions.py
  tests/test_trial.py
Labels: code-fix

#1530 Introduces Multiobjective TPE to optuna.multi_objective.samplers
  docs/source/reference/multi_objective/samplers.rst
  optuna/multi_objective/samplers/__init__.py
  optuna/multi_objective/samplers/_motpe.py
  tests/multi_objective_tests/samplers_tests/test_motpe.py
Labels: feature, optuna.samplers

#1953 Make code example of `MOTPEMultiObjectiveSampler` executable
  optuna/multi_objective/samplers/_motpe.py
Labels: document

#1955 Fix retuned type of MultivariateTPE samplers
  optuna/samplers/_tpe/sampler.py
Labels: bug, optuna.samplers

#1924 Add RAPIDS + Optuna simple example
  .github/workflows/examples.yml
  examples/rapids_simple.py
Labels: example

#1960 Apply follow-up of #1924
  examples/README.md
  examples/rapids_simple.py
Labels: example

#1929 Fixed `plot_contour`
  optuna/visualization/_contour.py
  tests/visualization_tests/test_contour.py
Labels: optuna.visualization

#1962 Fix path for `store_artifacts` step in `document` CircleCI job
  .circleci/config.yml
Labels: CI

#1968 Fix typo
  optuna/visualization/_contour.py
Labels: optuna.visualization

#1755 Fix how to check the format, coding style, and type hints
  CONTRIBUTING.md
  checks.sh
Labels: other

#1966 Fix `StudyDirection` of `mape` in `LightGBMTuner`
  optuna/integration/_lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: bug, optuna.integration

#1965 Add Raises comments to samplers
  optuna/samplers/_cmaes.py
  optuna/samplers/_search_space.py
Labels: document, optuna.samplers

#1764 Implement `plot_parallel_coordinate` and `_get_parallel_coordinate_plot` with Matplotlib backend.
  docs/source/reference/visualization/matplotlib.rst
  optuna/visualization/matplotlib/__init__.py
  optuna/visualization/matplotlib/_matplotlib_imports.py
  optuna/visualization/matplotlib/_parallel_coordinate.py
  tests/visualization_tests/matplotlib_tests/test_parallel_coordinate.py
Labels: feature, optuna.visualization

#1958 Check blackdoc in CI.
  .circleci/config.yml
  .github/workflows/checks.yml
  CONTRIBUTING.md
  checks.sh
  optuna/multi_objective/samplers/_motpe.py
  optuna/storages/_redis.py
  setup.py
Labels: CI, code-fix, document

#1977 Bump to v2.3.0
  optuna/version.py
Labels: other

#1978 Add RDB support to `MoTPEMultiObjectiveSampler`
  optuna/multi_objective/samplers/_motpe.py
Labels: enhancement
