Repository optuna/optuna, pull requests merged in 2020-06, with the labels that each got.

#1305 Add experimental decorator to `LightGBMTuner` and `LightGBMTunerCV`.
  optuna/integration/lightgbm_tuner/optimize.py
Labels: code-fix

#1306 Add PyPI release to workflow.
  .github/workflows/pypi-publish.yml
Labels: other

#1312 Apply #1305 to `release-v1.5.0`.
  optuna/integration/lightgbm_tuner/optimize.py
Labels: code-fix

#1313 Apply #1291 and #1306 to the `release-v1.5.0`.
  .github/workflows/pypi-publish.yml
Labels: other

#1298 Add `read_trials_from_remote_storage` method to Storage implementations.
  optuna/samplers/_search_space.py
  optuna/samplers/cmaes.py
  optuna/samplers/tpe/sampler.py
  optuna/storages/base.py
  optuna/storages/cached_storage.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/storage.py
  optuna/storages/redis.py
  optuna/study.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: enhancement, needs-discussion, optuna.storages

#1284 Add type hints to test_logging.py.
  tests/test_logging.py
Labels: code-fix

#1286 Add type hints to test_chainer.py.
  tests/integration_tests/test_chainer.py
Labels: code-fix

#1289 Add type hints to test_fastai.py.
  tests/integration_tests/test_fastai.py
Labels: code-fix

#1317 Fix documented exception type in `BaseStorage.get_best_trial` and add unit tests.
  optuna/storages/base.py
  tests/storages_tests/test_storages.py
Labels: document

#1316 Add missing documentation for `BaseStorage.set_trial_param`.
  optuna/storages/base.py
Labels: document

#1299 Introducing `optuna.visualization.plot_param_importances`.
  docs/source/plotly_figures/plot_param_importances.html
  docs/source/reference/visualization.rst
  docs/source/scripts/plot_param_importances.py
  optuna/importance/__init__.py
  optuna/visualization/__init__.py
  optuna/visualization/param_importances.py
  tests/visualization_tests/test_param_importances.py
Labels: feature, optuna.visualization

#1315 Introduces `optuna._imports.try_import` to DRY optional imports.
  optuna/_imports.py
  optuna/dashboard.py
  optuna/importance/_fanova.py
  optuna/importance/_mean_decrease_impurity.py
  optuna/integration/allennlp.py
  optuna/integration/chainer.py
  optuna/integration/chainermn.py
  optuna/integration/cma.py
  optuna/integration/fastai.py
  optuna/integration/keras.py
  optuna/integration/lightgbm.py
  optuna/integration/lightgbm_tuner/__init__.py
  optuna/integration/lightgbm_tuner/optimize.py
  optuna/integration/mlflow.py
  optuna/integration/mxnet.py
  optuna/integration/pytorch_ignite.py
  optuna/integration/pytorch_lightning.py
  optuna/integration/sklearn.py
  optuna/integration/skopt.py
  optuna/integration/tensorflow.py
  optuna/integration/tfkeras.py
  optuna/integration/xgboost.py
  optuna/storages/redis.py
  optuna/study.py
  optuna/visualization/contour.py
  optuna/visualization/intermediate_values.py
  optuna/visualization/optimization_history.py
  optuna/visualization/parallel_coordinate.py
  optuna/visualization/param_importances.py
  optuna/visualization/plotly_imports.py
  optuna/visualization/slice.py
  optuna/visualization/utils.py
  tests/test_imports.py
Labels: code-fix

#1248 Fix experimental decorator
  optuna/_experimental.py
  tests/test_experimental.py
Labels: document

#1332 Fix incorrect test names in `test_experimental.py`
  tests/test_experimental.py
Labels: test

#1336 Fix the x-axis title of the hyperparameter importances plot
  docs/source/plotly_figures/plot_param_importances.html
  optuna/visualization/param_importances.py
Labels: enhancement, optuna.visualization

#1331 Add hyperlinks to key features.
  README.md
  docs/source/index.rst
Labels: document

#1328 Fix `plot_param_importances` test.
  tests/visualization_tests/test_param_importances.py
Labels: optuna.visualization, test

#1277 `log` argument for `suggest_int` of skopt integration
  optuna/integration/skopt.py
  tests/integration_tests/test_skopt.py
Labels: enhancement, optuna.integration

#1338 Friendlier error message for unsupported `plotly` versions.
  optuna/visualization/plotly_imports.py
Labels: code-fix, optuna.visualization

#1342 Temporary hotfix for `sphinx` update breaking existing type annotations.
  setup.py
Labels: bug

#1326 Raise `ImportError` if `bokeh` version is 2.0.0 or newer.
  optuna/dashboard.py
Labels: enhancement

#1337 `BaseStorage.set_trial_intermediate_valute` to return `None` instead of `bool`.
  optuna/storages/base.py
  optuna/storages/cached_storage.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/storage.py
  optuna/storages/redis.py
  optuna/trial/_trial.py
  tests/storages_tests/test_storages.py
Labels: compatibility, enhancement, optuna.storages, optuna.trial

#1303 Add `plot_pareto_front` function.
  docs/source/plotly_figures/plot_pareto_front.html
  docs/source/reference/multi_objective/index.rst
  docs/source/reference/multi_objective/visualization.rst
  docs/source/scripts/plot_pareto_front.py
  examples/multi_objective/plot_pareto_front.py
  optuna/multi_objective/__init__.py
  optuna/multi_objective/visualization/__init__.py
  optuna/multi_objective/visualization/_pareto_front.py
  tests/multi_objective/visualization_tests/test_pareto_front.py
Labels: feature, optuna.visualization

#1295 Add a step to push images to Docker Hub.
  .github/workflows/dockerimage.yml
Labels: CI

#1327 `BaseStorage.set_trial_param` to return `None` instead of `bool`.
  optuna/distributions.py
  optuna/storages/base.py
  optuna/storages/cached_storage.py
  optuna/storages/in_memory.py
  optuna/storages/rdb/storage.py
  optuna/storages/redis.py
  optuna/trial/_trial.py
  tests/storages_tests/test_storages.py
  tests/test_study.py
  tests/test_trial.py
Labels: compatibility, optuna.storages

#1349 Set `timeout` for relatively long-running examples.
  examples/mxnet_simple.py
  examples/pytorch_simple.py
  examples/tensorflow_estimator_simple.py
Labels: example

#1350 Set `python_requires` in setup.py to clarify supported Python version
  setup.py
Labels: installation

#1278 Create a documentation for the root namespace `optuna`.
  docs/source/reference/core.rst
  docs/source/reference/exceptions.rst
  docs/source/reference/index.rst
  docs/source/reference/study.rst
Labels: document, needs-discussion

#1329 Match `suggest_float` and `suggest_int` specifications on ``step`` and ``log`` arguments.
  optuna/trial/_fixed.py
  optuna/trial/_trial.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_skopt.py
  tests/multi_objective/test_trial.py
  tests/test_trial.py
Labels: compatibility, feature, optuna.trial

#1243 Fix CMA-ES boundary constraints and initial mean vector of LogUniformDistribution
  optuna/samplers/cmaes.py
Labels: bug, optuna.samplers

#1354 Add `.readthedocs.yml` to use the same document dependencies on the CI and Read the Docs
  .readthedocs.yml
  docs/requirements.txt
  setup.py
Labels: document

#1355 Improve layout of `plot_param_importances` figure.
  docs/source/plotly_figures/plot_param_importances.html
  optuna/visualization/param_importances.py
  tests/visualization_tests/test_param_importances.py
Labels: enhancement, optuna.visualization

#1321 Exempt issues with `no-stale` labelel from stale bot.
  .github/workflows/stale.yml
Labels: other

#1369 Hotfix to allow building the docs by avoiding latest `sphinx`.
  setup.py
Labels: document

#1363 Change `logger` to `_trial`'s module variable.
  optuna/trial/_base.py
  optuna/trial/_trial.py
Labels: code-fix

#1360 Use `Colab` to demonstrate a notebook instead of `nbviewer`.
  examples/README.md
Labels: document

#1358 Specify `classifiers` in setup.py.
  setup.py
Labels: installation

#1359 Rename private modules in `optuna.visualization`.
  optuna/multi_objective/visualization/__init__.py
  optuna/multi_objective/visualization/_pareto_front.py
  optuna/visualization/__init__.py
  optuna/visualization/_contour.py
  optuna/visualization/_intermediate_values.py
  optuna/visualization/_optimization_history.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_param_importances.py
  optuna/visualization/_plotly_imports.py
  optuna/visualization/_slice.py
  optuna/visualization/_utils.py
  tests/visualization_tests/test_contour.py
  tests/visualization_tests/test_intermediate_plot.py
  tests/visualization_tests/test_optimization_history.py
  tests/visualization_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_slice.py
  tests/visualization_tests/test_utils.py
Labels: code-fix

#1366 Remove deprecated features in `HyperbandPruner`.
  optuna/pruners/hyperband.py
  tests/pruners_tests/test_hyperband.py
Labels: code-fix, optuna.pruners

#1372 Fix double quotes from Black formatting
  optuna/samplers/tpe/sampler.py
  optuna/storages/rdb/storage.py
Labels: code-fix

#1361 Rename private modules in `optuna.pruners`.
  optuna/pruners/__init__.py
  optuna/pruners/_base.py
  optuna/pruners/_hyperband.py
  optuna/pruners/_median.py
  optuna/pruners/_nop.py
  optuna/pruners/_percentile.py
  optuna/pruners/_successive_halving.py
  optuna/pruners/_threshold.py
  tests/pruners_tests/test_percentile.py
Labels: code-fix

#1375 Remove deprecated features in `integration/chainermn.py`.
  optuna/integration/chainermn.py
Labels: optuna.integration

#1374 Remove deprecated arguments from `LightGBMTuner`.
  optuna/integration/lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: optuna.integration

#1362 Rename private modules in `optuna.samplers`.
  optuna/samplers/__init__.py
  optuna/samplers/_base.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_grid.py
  optuna/samplers/_random.py
  optuna/samplers/_tpe/__init__.py
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/samplers/_tpe/sampler.py
  optuna/samplers/tpe/__init__.py
  tests/samplers_tests/test_cmaes.py
  tests/samplers_tests/test_grid.py
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: code-fix

#1345 Simplify log messages
  docs/source/tutorial/first.rst
  docs/source/tutorial/pruning.rst
  optuna/integration/chainer.py
  optuna/logging.py
  optuna/multi_objective/study.py
  optuna/study.py
  tests/test_study.py
Labels: enhancement

#1377 Remove deprecated features in `optuna/structs.py`.
  optuna/structs.py
Labels: compatibility

#1373 Rename private modules in `optuna.storages`.
  optuna/storages/__init__.py
  optuna/storages/_base.py
  optuna/storages/_cached_storage.py
  optuna/storages/_in_memory.py
  optuna/storages/_rdb/__init__.py
  optuna/storages/_rdb/alembic.ini
  optuna/storages/_rdb/alembic/env.py
  optuna/storages/_rdb/alembic/script.py.mako
  optuna/storages/_rdb/alembic/versions/v0.9.0.a.py
  optuna/storages/_rdb/alembic/versions/v1.2.0.a.py
  optuna/storages/_rdb/alembic/versions/v1.3.0.a.py
  optuna/storages/_rdb/models.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  optuna/testing/storage.py
  setup.py
  tests/storages_tests/rdb_tests/test_models.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_cached_storage.py
  tests/storages_tests/test_storages.py
  tests/test_cli.py
Labels: code-fix

#1379 Remove deprecated features in `optuna/study.py`.
  optuna/_study_summary.py
  optuna/study.py
  tests/test_study.py
Labels: compatibility

#1378 Make `optuna.integration.lightgbm_tuner` private.
  docs/source/reference/integration.rst
  optuna/integration/__init__.py
  optuna/integration/_lightgbm_tuner/__init__.py
  optuna/integration/_lightgbm_tuner/alias.py
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/integration/_lightgbm_tuner/sklearn.py
  optuna/integration/lightgbm.py
  tests/integration_tests/lightgbm_tuner_tests/test_alias.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: compatibility

#1384 Deprecate `optuna study optimize` command.
  optuna/cli.py
Labels: compatibility

#1386 Hotfix to avoid latest `keras` 2.4.0.
  setup.py
Labels: installation

#1391 [hotfix] Not install PyTorch Lightning 0.8.0
  setup.py
Labels: installation

#1393 Relax `sphinx` version.
  setup.py
Labels: installation

#1348 Check code coverage in `tests-python37` on CircleCI.
  .circleci/config.yml
Labels: CI

#1325 Rename `integration/CmaEsSampler` to `integration/PyCmaSampler`.
  docs/source/reference/integration.rst
  optuna/integration/__init__.py
  optuna/integration/cma.py
  tests/integration_tests/test_cma.py
  tests/integration_tests/test_sampler.py
  tests/samplers_tests/test_samplers.py
Labels: feature, optuna.integration

#1392 Fix for PyTorch Lightning v0.8.0.
  .circleci/config.yml
  .github/workflows/examples.yml
  examples/pytorch_lightning_simple.py
  optuna/integration/pytorch_lightning.py
  setup.py
  tests/integration_tests/test_pytorch_lightning.py
Labels: bug, optuna.integration

#1390 Rename a title of reference to a module name.
  docs/source/reference/cli.rst
  docs/source/reference/distributions.rst
  docs/source/reference/exceptions.rst
  docs/source/reference/importance.rst
  docs/source/reference/index.rst
  docs/source/reference/integration.rst
  docs/source/reference/logging.rst
  docs/source/reference/multi_objective/index.rst
  docs/source/reference/multi_objective/samplers.rst
  docs/source/reference/multi_objective/study.rst
  docs/source/reference/multi_objective/trial.rst
  docs/source/reference/multi_objective/visualization.rst
  docs/source/reference/optuna.rst
  docs/source/reference/pruners.rst
  docs/source/reference/samplers.rst
  docs/source/reference/storages.rst
  docs/source/reference/structs.rst
  docs/source/reference/study.rst
  docs/source/reference/trial.rst
  docs/source/reference/visualization.rst
Labels: document

#1367 Add missing `__init__.py` files
  optuna/multi_objective/study.py
  optuna/multi_objective/trial.py
  tests/integration_tests/allennlp_tests/__init__.py
  tests/multi_objective/__init__.py
  tests/multi_objective/samplers_tests/test_nsga2.py
  tests/multi_objective/test_study.py
  tests/multi_objective/test_trial.py
  tests/multi_objective/visualization_tests/__init__.py
Labels: code-fix

#1397 Fix broken link to example and add README for AllenNLP examples.
  examples/README.md
  examples/allennlp/README.md
Labels: example

#1385 Add FAQ section about OOM.
  docs/source/faq.rst
  optuna/study.py
Labels: document

#1382 Add deprecation decorator.
  optuna/_deprecated.py
  tests/test_deprecated.py
Labels: feature

#1229 Add Pruned Trials to Trials Being Considered in `CmaEsSampler`.
  optuna/samplers/_cmaes.py
  tests/samplers_tests/test_cmaes.py
Labels: enhancement, needs-discussion, optuna.samplers

#1364 Add type hints to optimize.py.
  optuna/integration/_lightgbm_tuner/optimize.py
Labels: code-fix

#1404 Update version constraints of `cmaes`.
  setup.py
Labels: installation

#1407 Use `.. warning::` instead of `.. note::` for the deprecation decorator.
  optuna/_deprecated.py
  tests/test_deprecated.py
Labels: document

#1406 Fix exception handling in `ChainerMNStudy.optimize`.
  optuna/integration/chainermn.py
Labels: bug

#1409 Remove stale labels from Issues or PRs when they are updated or commented on.
  .github/workflows/stale.yml
Labels: other

#1403 Skip storage access if logging is disabled.
  optuna/multi_objective/study.py
  optuna/study.py
  tests/multi_objective/test_study.py
  tests/test_study.py
Labels: enhancement

#1370 Update layout and color of docs.
  docs/source/_templates/footer.html
  docs/source/_templates/layout.html
  docs/source/conf.py
Labels: document

#1026 Support automatic stop of `GridSampler`.
  optuna/samplers/_grid.py
  tests/samplers_tests/test_grid.py
Labels: enhancement

#1410 Prevent `doc-link` from running on unrelated status update events
  .github/workflows/doc-link.yml
Labels: CI

#1413 Apply deprecation decorator.
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/integration/cma.py
  optuna/structs.py
  tests/test_structs.py
Labels: code-fix

#1418 Allow omitting the removal version in `deprecated`.
  optuna/_deprecated.py
  tests/test_deprecated.py
Labels: feature

#1414 Always use Sphinx RTD theme.
  docs/source/conf.py
Labels: document

#1415 Fix color of version/build in documentation sidebar.
  docs/source/_templates/footer.html
Labels: document

#1416 Remove unnecessary exception handling for `GridSampler`.
  optuna/integration/_lightgbm_tuner/optimize.py
Labels: code-fix

#1422 Simplify usage of `deprecated` by omitting removed version.
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/integration/cma.py
  optuna/structs.py
Labels: code-fix

#1423 Simplify decorator tests.
  tests/test_deprecated.py
  tests/test_experimental.py
Labels: test

#1419 Specify `stacklevel` for `warnings.warn` for more helpful warning message.
  optuna/_deprecated.py
  optuna/_experimental.py
Labels: enhancement

#1427 Exempt PRs with `no-stale` label from stale bot.
  .github/workflows/stale.yml
Labels: other

#1428 Replace `DeprecationWarning` with `FutureWarning` in `@deprecated`.
  optuna/_deprecated.py
  optuna/structs.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
  tests/integration_tests/test_cma.py
  tests/test_deprecated.py
  tests/test_structs.py
Labels: enhancement

#1424 Apply experimental decorator.
  optuna/dashboard.py
  optuna/integration/sklearn.py
Labels: code-fix

#1421 Remove either `warnings.warn()` or `optuna.logging.Logger.warning()` from codes which have both of them.
  optuna/cli.py
  optuna/integration/chainermn.py
  optuna/structs.py
  optuna/study.py
Labels: code-fix

#1389 [RFC] Stop building Docker images in Pull Requests
  .github/workflows/dockerimage.yml
  Dockerfile
Labels: CI

#1432 Fix the experimental warning message for `CmaEsSampler`.
  optuna/samplers/_cmaes.py
Labels: code-fix

#1387 Deprecate step argument in IntLogUniformDistribution
  optuna/distributions.py
  optuna/importance/_fanova.py
  optuna/integration/skopt.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_random.py
  optuna/samplers/_tpe/sampler.py
  optuna/trial/_fixed.py
  optuna/trial/_trial.py
  tests/test_distributions.py
Labels: compatibility

#1437 Remove `optuna.structs` from MLflow integration.
  optuna/integration/mlflow.py
Labels: code-fix, optuna.integration

#1439 Move css from `_templates/footer.html` to `_static/css/custom.css`.
  docs/source/_static/css/custom.css
  docs/source/_templates/footer.html
Labels: document

#1453 Use argument of `pytorch_lightning.Trainer` to disable `checkpoint_callback`.
  tests/integration_tests/test_pytorch_lightning.py
Labels: test

#1433 Add a test for `CmaEsSampler._get_trials()`.
  tests/samplers_tests/test_cmaes.py
Labels: test

#1444 fix GPU run for pytorch ignite and lightning example
  examples/pytorch_ignite_simple.py
  examples/pytorch_lightning_simple.py
Labels: example

#1452 Remove experimental decorators from LightGBMTuner.
  optuna/integration/_lightgbm_tuner/__init__.py
  optuna/integration/_lightgbm_tuner/optimize.py
Labels: feature

#1451 Remove experimental decorator from `GridSampler`.
  optuna/samplers/_grid.py
  tests/samplers_tests/test_grid.py
Labels: feature

#1450 Remove experimental decorator from `Study.stop`.
  optuna/study.py
Labels: feature

#1435 Remove experimental decorator from `HyperbandPruner`.
  optuna/pruners/_hyperband.py
  tests/pruners_tests/test_hyperband.py
Labels: feature, optuna.pruners

#1302 Implement `log` argument for `suggest_int` of pycma integration.
  optuna/integration/cma.py
  tests/integration_tests/test_cma.py
Labels: enhancement, optuna.integration

#1431 Add pruned trials to trials being considered in `SkoptSampler`.
  optuna/integration/skopt.py
  tests/integration_tests/test_skopt.py
Labels: feature

#1440 Remove experimental decorators from hyperparameter importance (HPI) features.
  optuna/importance/__init__.py
  optuna/importance/_base.py
  optuna/importance/_fanova.py
  optuna/importance/_mean_decrease_impurity.py
  tests/importance_tests/__init__.py
  tests/importance_tests/test_fanova.py
  tests/importance_tests/test_init.py
  tests/importance_tests/test_mean_decrease_impurity.py
Labels: feature
