Repository optuna/optuna, pull requests merged in 2021-11, with the labels that each got.

#3058 Remove `optuna dashboard`
  optuna/__init__.py
  optuna/cli.py
  optuna/dashboard.py
  setup.py
  tests/test_cli.py
  tests/test_dashboard.py
  tutorial/20_recipes/004_cli.py
Labels: code-fix, sprint-20211031

#3046 Fix `matplotlib.plot_contour` bug
  optuna/visualization/matplotlib/_contour.py
Labels: optuna.visualization

#3061 Add example for `logging.set_verbosity`
  optuna/logging.py
Labels: document, v3, sprint-20211031

#3077 Add upper version constraint of PyTorchLightning
  setup.py
Labels: installation

#3078 Pin `keras` version to `<2.7.0`.
  setup.py
Labels: installation

#3054 Fix deprecation version of `suggest` APIs
  optuna/integration/chainermn.py
  optuna/integration/mlflow.py
  optuna/integration/pytorch_distributed.py
  optuna/trial/_base.py
  optuna/trial/_fixed.py
  optuna/trial/_frozen.py
  optuna/trial/_trial.py
Labels: code-fix, optuna.integration, optuna.trial, v3

#3080 Fix `parametrize_sampler`
  tests/samplers_tests/test_samplers.py
Labels: test

#2989 Use `optuna.load_study` in `optuna ask` CLI to omit `direction`/`directions` option
  optuna/cli.py
  tests/test_cli.py
Labels: code-fix

#3067 Add `seealso` link of `002_configurations.py`
  optuna/trial/_trial.py
Labels: document, v3, Hacktoberfest, sprint-20211031

#3064 Add remove_version to the missing @deprecated argument
  optuna/integration/catalyst.py
  optuna/integration/cma.py
  optuna/integration/fastaiv1.py
  optuna/integration/keras.py
  optuna/samplers/_tpe/multi_objective_sampler.py
  optuna/study/study.py
Labels: code-fix, optuna.integration, optuna.samplers, v3, Hacktoberfest, sprint-20211031

#3087 docs: updated description for missing samplers and pruners
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
Labels: document

#3070 Add tests to check the consistency of the default arguments between LightGBM and Optuna's LightGBM wrapper classes
  optuna/integration/_lightgbm_tuner/optimize.py
Labels: test, Hacktoberfest

#3091 Fix range description in `suggest_float` docstring
  optuna/trial/_trial.py
Labels: document, optuna.trial, v3

#3089 Simplify the unit testing explanation
  CONTRIBUTING.md
Labels: document

#3085 Handle `single` distributions in `fANOVA` evaluator
  optuna/importance/_fanova/_evaluator.py
  tests/importance_tests/test_fanova.py
Labels: bug, optuna.importance

#3065 Remove _get_removed_version_from_deprecated_version function
  optuna/_deprecated.py
  tests/test_deprecated.py
Labels: enhancement, optuna.integration, optuna.samplers, sprint-20211031

#3062 Support multiple input of studies when plot with matplotlib.
  optuna/visualization/matplotlib/_optimization_history.py
  tests/visualization_tests/matplotlib_tests/test_optimization_history.py
Labels: feature, optuna.visualization, v3, sprint-20211031

#3073 Reformat labels for small importance scores in `plotly.plot_param_importances`
  optuna/visualization/_param_importances.py
  tests/visualization_tests/test_param_importances.py
Labels: optuna.visualization, v3

#3069 Add link from set_user_attrs in Study to the user_attrs entry in Tutorial
  optuna/study/study.py
  optuna/trial/_trial.py
Labels: document, v3, Hacktoberfest, sprint-20211031

#3063 Add IntDistribution & FloatDistribution
  optuna/distributions.py
  tests/test_distributions.py
Labels: v3, Hacktoberfest, sprint-20211031

#3002 Do not call `trial.report` during sanity check
  optuna/integration/pytorch_lightning.py
Labels: bug, optuna.integration

#3012 Render importance scores next to bars in `matplotlib.plot_param_importances`
  optuna/visualization/matplotlib/_param_importances.py
  tests/visualization_tests/matplotlib_tests/test_param_importances.py
Labels: optuna.visualization, no-stale

#3082 Add trial.user_attrs to pareto_front hover text
  optuna/visualization/_pareto_front.py
  tests/visualization_tests/test_pareto_front.py
Labels: feature, optuna.visualization

#3084 Remove version constraints of `tensorflow`.
  setup.py
Labels: installation

#3103 Check if texts in legend by order agnostic way
  tests/visualization_tests/matplotlib_tests/test_optimization_history.py
Labels: test

#3092 Speed up Matplotlib backend `plot_contour` using SciPy's `spsolve`
  optuna/visualization/matplotlib/_contour.py
  tests/visualization_tests/matplotlib_tests/test_contour.py
Labels: enhancement, optuna.visualization

#2904 Add test case of samplers for conditional objective function
  tests/samplers_tests/test_samplers.py
Labels: test, no-stale

#3068 Mention the tutorial of `003_efficient_optimization_algorithms.py` in the `Trial` API page
  docs/source/reference/pruners.rst
  docs/source/reference/samplers.rst
Labels: document, optuna.trial, v3, Hacktoberfest, sprint-20211031

#3000 Speed up `import optuna`
  optuna/__init__.py
  optuna/_imports.py
  optuna/cli.py
  optuna/multi_objective/__init__.py
  optuna/study/study.py
Labels: enhancement

#2924 Test int distributions with default step
  tests/test_distributions.py
Labels: test, stale

#3086 Fix verbosity for `tests/integration_tests/lightgbm_tuner_tests/test_optimize.py`
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: test

#2977 AllenNLP distributed pruning
  optuna/integration/allennlp/_executor.py
  optuna/integration/allennlp/_pruner.py
  optuna/integration/allennlp/_variables.py
  tests/integration_tests/allennlp_tests/example_with_executor_and_pruner_distributed.jsonnet
  tests/integration_tests/allennlp_tests/test_allennlp.py
Labels: feature, optuna.integration, v3

#3095 Set concurrency to github workflows
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  .github/workflows/dockerimage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/sphinx-build.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests-rdbstorage.yml
  .github/workflows/tests.yml
Labels: CI

#3118 Fix documentation for the package installation procedure on different OS
  CONTRIBUTING.md
Labels: document, sprint-20211128

#3124 Add description of `ValueError` and `TypeErorr` to `Raises` section of `Trial.report`
  optuna/trial/_trial.py
Labels: document, optuna.trial, sprint-20211128

#3120 Remove updates in cached storage
  optuna/storages/_cached_storage.py
  optuna/storages/_rdb/storage.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_cached_storage.py
Labels: enhancement, optuna.storages, v3, sprint-20211128

#3066 Add example of `optuna.logging.get_verbosity`
  optuna/logging.py
Labels: document, no-stale, Hacktoberfest, sprint-20211031

#3117 Add an FAQ entry for constrained optimization
  docs/source/faq.rst
Labels: document, v3, sprint-20211128

#3122 Support error bar for matplotlib
  optuna/visualization/matplotlib/_optimization_history.py
  tests/visualization_tests/matplotlib_tests/test_optimization_history.py
Labels: feature, optuna.visualization, v3, sprint-20211128
