Repository optuna/optuna, pull requests merged in 2021-05, with the labels that each got.

#2603 Show legend of `optuna.visualization.matplotlib.plot_edf`
  optuna/visualization/matplotlib/_edf.py
Labels: enhancement, optuna.visualization

#2641 Remove `CudaCallback` from the fastai test
  tests/integration_tests/test_fastaiv2.py
Labels: optuna.integration, test

#2637 Install blackdoc in `formats.sh`
  formats.sh
Labels: other

#2642 Add test cases in `optuna/visualization/matplotlib/edf.py`
  tests/visualization_tests/matplotlib_tests/test_edf.py
Labels: test

#2606 Show legend of `optuna.visualization.matplotlib.plot_intermediate_values`
  optuna/visualization/matplotlib/_intermediate_values.py
Labels: enhancement, optuna.visualization

#2644 Refactor a unittest in test_median.py
  tests/pruners_tests/test_median.py
Labels: test

#2657 Add constraint of Sphinx version
  setup.py
Labels: installation

#2653 Use `command` to check the existence of the libraries to avoid partially matching
  formats.sh
Labels: other

#2661 Add the missing colon
  optuna/pruners/_threshold.py
Labels: document, optuna.pruners

#2611 Using the "log" key is deprecated in mlflow
  examples/kubernetes/mlflow/pytorch_lightning_distributed.py
Labels: example

#2651 Simplify `add_distributions` in `_SearchSpaceGroup`
  optuna/samplers/_search_space/group_decomposed.py
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/search_space_tests/test_group_decomposed.py
Labels: code-fix, optuna.samplers

#2615 Make `MOTPEMultiObjectiveSampler` a thin wrapper for `MOTPESampler`
  optuna/multi_objective/samplers/_motpe.py
  tests/multi_objective_tests/samplers_tests/test_motpe.py
Labels: enhancement, optuna.samplers

#2663 Relax `GridSampler` allowing not-contained parameters during `suggest_*`
  optuna/samplers/_grid.py
  tests/samplers_tests/test_grid.py
Labels: compatibility, optuna.samplers

#2593 Sort categorical values on axis that contains only numerical values in `visualization.matplotlib.plot_contour`
  optuna/visualization/matplotlib/_contour.py
  optuna/visualization/matplotlib/_utils.py
Labels: optuna.visualization

#2665 Add click==7.1.2 to github workflows to solve allennlp import error
  .github/workflows/coverage.yml
  .github/workflows/tests-integration.yml
Labels: installation

#2652 Fix distribution's `_contains`
  optuna/distributions.py
  tests/test_distributions.py
Labels: bug

#2668 Fix formatting in contribution guidelines
  CONTRIBUTING.md
Labels: other

#2669 Update `CONTRIBUTING.md` with `optuna-examples`
  CONTRIBUTING.md
Labels: other

#2612 Add MaxTrialsCallback class to enable stopping after fixed number of trials
  docs/source/reference/study.rst
  examples/max_trials_callback.py
  optuna/_callbacks.py
  optuna/study.py
  tests/test_callbacks.py
Labels: feature, optuna.study

#2674 Avoid `tensorflow` 2.5.0
  setup.py
Labels: installation

#2667 Add an example section to the README
  README.md
Labels: other

#2640 Support multi-objective optimization in CLI (`optuna create-study`)
  optuna/cli.py
  tests/test_cli.py
Labels: feature

#2634 Replace sklearn constraint
  .github/workflows/tests-integration.yml
  .github/workflows/tests.yml
  setup.py
  tests/integration_tests/test_sklearn.py
Labels: installation

#2683 Add missing parameter `WAITING` details in docstring
  optuna/trial/_state.py
Labels: optuna.trial

#2675 Remove remaining examples
  .github/workflows/dockerimage.yml
  .github/workflows/examples.yml
  examples/README.md
  examples/enqueue_trial.py
  examples/max_trials_callback.py
  examples/multi_objective/botorch_simple.py
  examples/multi_objective/pytorch_simple.py
  examples/quadratic_simple.py
  examples/quickstart.ipynb
  examples/samplers/simulated_annealing_sampler.py
  examples/simple_pruning.py
  examples/visualization/plot_pareto_front.py
  examples/visualization/plot_study.ipynb
  examples/visualization/plot_study.py
Labels: example

#2684 Update URLs to `optuna-examples`
  README.md
  docs/source/index.rst
  optuna/integration/botorch.py
  optuna/pruners/_successive_halving.py
  tutorial/10_key_features/004_distributed.py
  tutorial/20_recipes/005_user_defined_sampler.py
Labels: document, optuna.integration, optuna.pruners

#2673 Introduce speed benchmarks using asv
  .github/workflows/speed-benchmarks.yml
  .gitignore
  asv.conf.json
  benchmarks/__init__.py
  benchmarks/optimize.py
  formats.sh
  pyproject.toml
  setup.cfg
  setup.py
Labels: CI

#2676 Remove `example` from `setup.py`
  Dockerfile
  setup.py
Labels: installation

#2690 Fix indents in the ask-and-tell tutorial
  tutorial/20_recipes/009_ask_and_tell.py
Labels: document

#2689 optuna-examples #11 follow up
  examples/README.md
Labels: example

#2616 Separate `MOTPESampler` from `TPESampler`
  optuna/samplers/_tpe/multi_objective_sampler.py
Labels: enhancement, optuna.samplers

#2664 Constant liar for `TPESampler`
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: feature, optuna.samplers

#2692 Join sampler examples in README.md
  examples/README.md
Labels: document

#2687 Update version info entry on RDB storage upgrade
  optuna/storages/_rdb/storage.py
Labels: bug, optuna.storages

#2157 `PyTorchLightningPruningCallback` to warn when an evaluation metric does not exist
  optuna/integration/pytorch_lightning.py
  tests/integration_tests/test_pytorch_lightning.py
Labels: enhancement, optuna.integration, stale

#2691 Refactor pruners_test
  tests/pruners_tests/test_nop.py
  tests/pruners_tests/test_percentile.py
  tests/pruners_tests/test_successive_halving.py
  tests/pruners_tests/test_threshold.py
Labels: optuna.pruners, test

#2636 Implement `PatientPruner`
  docs/source/reference/pruners.rst
  optuna/pruners/__init__.py
  optuna/pruners/_patient.py
  tests/pruners_tests/test_patient.py
Labels: feature, optuna.pruners

#2700 Replace old example URLs in `optuna.integrations`
  optuna/integration/chainer.py
  optuna/integration/chainermn.py
  optuna/integration/fastaiv1.py
  optuna/integration/fastaiv2.py
  optuna/integration/keras.py
  optuna/integration/lightgbm.py
  optuna/integration/mxnet.py
  optuna/integration/pytorch_distributed.py
  optuna/integration/pytorch_ignite.py
  optuna/integration/pytorch_lightning.py
  optuna/integration/tensorboard.py
  optuna/integration/tfkeras.py
  optuna/integration/xgboost.py
Labels: code-fix, optuna.integration

#2704 Fix typo in the tutorial
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
Labels: document

#2694 Add automatic retry callback
  docs/source/reference/storages.rst
  optuna/_callbacks.py
  optuna/storages/__init__.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: feature

#2681 Read environment variables in dump_best_config
  optuna/integration/allennlp.py
  tests/integration_tests/allennlp_tests/example_with_environment_variables.jsonnet
  tests/integration_tests/allennlp_tests/test_allennlp.py
Labels: bug, optuna.integration
