Repository optuna/optuna, pull requests merged in 2021-09, with the labels that each got.

#2884 Relax metric name type hinting in `WeightsAndBiasesCallback`
  optuna/integration/wandb.py
  tests/integration_tests/test_wandb.py
Labels: optuna.integration

#2890 Add test cases for storage upgrade.
  tests/storages_tests/rdb_tests/create_db.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/rdb_tests/test_upgrade_assets/0.9.0.db
  tests/storages_tests/rdb_tests/test_upgrade_assets/1.2.0.db
  tests/storages_tests/rdb_tests/test_upgrade_assets/1.3.0.db
  tests/storages_tests/rdb_tests/test_upgrade_assets/2.4.0.db
  tests/storages_tests/rdb_tests/test_upgrade_assets/2.6.0.db
Labels: test

#2896 Avoid segmentation fault of `test_lightgbm.py` on macOS
  .github/workflows/mac-tests.yml
Labels: CI

#2856 Minor refactoring of `plot_parallel_coordinate`
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/matplotlib/_parallel_coordinate.py
Labels: enhancement, optuna.visualization

#2900 Add test cases for `show_progress_bar` of `optimize`
  tests/study_tests/test_study.py
Labels: test

#2910 Speed-up sampler tests by using random sampling of skopt
  tests/samplers_tests/test_samplers.py
Labels: test

#2869 Add scenario tests for samplers.
  tests/samplers_tests/test_samplers.py
Labels: test

#2917 Fix an argument in docstring of `_CachedStorage`
  optuna/storages/_cached_storage.py
Labels: document, optuna.storages

#2922 Use `:obj:` for `True`, `False`, and `None` instead of inline code
  optuna/integration/allennlp/_pruner.py
  optuna/progress_bar.py
  optuna/study/study.py
  optuna/testing/visualization.py
  optuna/trial/_trial.py
Labels: document, optuna.integration, optuna.trial

#2930 Use inline code syntax for `constraints_func`
  optuna/samplers/_nsga2.py
Labels: document, optuna.samplers

#2882 Align CLI output format
  optuna/cli.py
  tests/test_cli.py
Labels: compatibility, needs-discussion

#2953 Introduce the version constraint of scikit-learn
  setup.py
Labels: installation

#2961 Fixes `namedtuple` type name
  tests/integration_tests/test_chainer.py
Labels: test

#2966 Update sklearn.py
  optuna/integration/sklearn.py
Labels: optuna.integration
