Repository optuna/optuna, pull requests merged in 2021-03, with the labels that each got.

#2418 Remove -f option from doctest pip installation
  .github/workflows/sphinx-build.yml
Labels: CI

#2372 `after_trial` implemented for `BotorchSampler` and `SkoptSampler`
  optuna/integration/botorch.py
  optuna/integration/skopt.py
  tests/integration_tests/test_botorch.py
  tests/integration_tests/test_skopt.py
Labels: optuna.integration

#2393 updated examples for `study.get_trials` for states filtering
  examples/chainer/chainer_integration.py
  examples/chainer/chainermn_integration.py
  examples/keras/keras_integration.py
  examples/mxnet/mxnet_integration.py
  examples/pytorch/pytorch_distributed_simple.py
  examples/pytorch/pytorch_simple.py
  examples/samplers/simulated_annealing_sampler.py
  examples/simple_pruning.py
  examples/tensorflow/tensorflow_estimator_integration.py
  examples/tfkeras/tfkeras_integration.py
Labels: code-fix

#2376 `after_trial` implemented for `TPESampler`
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: optuna.samplers

#2370 Fix assertion in cached storage for state update
  optuna/storages/_cached_storage.py
  tests/storages_tests/test_storages.py
Labels: bug, optuna.storages

#2375 Updated `Dockerfile` of Kubernetes simple example
  examples/kubernetes/simple/Dockerfile
Labels: example

#2433 feat(docs): navigate with left/right arrow keys
  docs/source/conf.py
Labels: document

#2373 Add PyTorch checkpoint example using `failed_trial_callback`
  .github/workflows/examples.yml
  examples/pytorch/pytorch_checkpoint.py
Labels: example

#2055 Added test and fix for relative sampling failure in multivariate TPE
  optuna/samplers/_search_space.py
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: bug, optuna.samplers

#2386 Support BoTorch >= 0.4.0
  optuna/integration/botorch.py
  setup.py
Labels: enhancement, optuna.integration

#2407 Remove `-f` option from documentation installation
  CONTRIBUTING.md
Labels: other, sprint-20210227

#2392 Use `low` in `_transform_from_uniform` for TPE sampler
  optuna/samplers/_tpe/multivariate_parzen_estimator.py
  tests/samplers_tests/tpe_tests/test_multivariate_parzen_estomator.py
Labels: bug, optuna.samplers

#2425 `after_trial` implemented for `MOTPESampler`
  optuna/samplers/_tpe/multi_objective_sampler.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
Labels: enhancement, optuna.samplers

#2428 Explain the backend of parallelisation
  optuna/study.py
Labels: document, optuna.study

#2395 Mitigate string-length limitation of `RDBStorage`
  optuna/storages/_rdb/alembic/versions/v2.6.0.a_.py
  optuna/storages/_rdb/models.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: compatibility, enhancement, optuna.storages

#2438 Hotfix for MNIST download in tutorial
  tutorial/20_recipes/002_multi_objective.py
Labels: document

#2349 Fix the local `mypy` error on PytorchLightning integration
  optuna/integration/pytorch_lightning.py
  tests/integration_tests/test_pytorch_lightning.py
Labels: optuna.integration, other

#2412 Support AllenNLP v2
  examples/allennlp/allennlp_jsonnet.py
  examples/allennlp/allennlp_simple.py
  examples/allennlp/classifier.jsonnet
  optuna/integration/allennlp.py
  setup.py
  tests/integration_tests/allennlp_tests/example_with_executor_and_pruner.jsonnet
  tests/integration_tests/allennlp_tests/test_allennlp.py
Labels: enhancement, optuna.integration, sprint-20210227

#2366 Fix - make model_dir by _LightGBMBaseTuner
  optuna/integration/_lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: bug, optuna.integration

#2444 Bump `master` version to `2.7.0dev`
  optuna/version.py
Labels: other

#2445 Bump `release-v2.6.0` version `2.6.0`
  optuna/version.py
Labels: other

#2440 Replace `sh` with `bash` in README of kubernetes examples
  examples/kubernetes/mlflow/README.md
  examples/kubernetes/simple/README.md
Labels: example

#2419 Fix - Replacing numpy.append
  optuna/samplers/_tpe/multi_objective_sampler.py
Labels: enhancement, optuna.samplers, sprint-20210227

#2394 Simplify the code to find best values.
  optuna/visualization/_optimization_history.py
  optuna/visualization/matplotlib/_optimization_history.py
  tests/visualization_tests/test_optimization_history.py
Labels: code-fix, optuna.visualization

#2453 Apply #2438 to pytorch examples
  examples/pytorch/pytorch_checkpoint.py
  examples/pytorch/pytorch_distributed_simple.py
  examples/pytorch/pytorch_ignite_simple.py
  examples/pytorch/pytorch_lightning_simple.py
  examples/pytorch/pytorch_simple.py
Labels: example

#2300 [WIP] [RFC] Fixing mypy errors produced by numpy 1.20
  optuna/importance/_fanova/_fanova.py
  optuna/importance/_fanova/_tree.py
  optuna/integration/botorch.py
  optuna/integration/cma.py
  optuna/integration/sklearn.py
  optuna/multi_objective/_hypervolume/wfg.py
  optuna/multi_objective/samplers/_motpe.py
  optuna/pruners/_percentile.py
  optuna/samplers/_tpe/multi_objective_sampler.py
  optuna/samplers/_tpe/multivariate_parzen_estimator.py
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/samplers/_tpe/sampler.py
  setup.py
  tests/importance_tests/fanova_tests/test_tree.py
  tests/integration_tests/test_chainer.py
  tests/multi_objective_tests/hypervolume_tests/test_wfg.py
  tests/multi_objective_tests/samplers_tests/test_motpe.py
  tests/samplers_tests/test_grid.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
  tests/storages_tests/rdb_tests/test_with_server.py
Labels: code-fix, optuna.importance, optuna.pruners, optuna.samplers

#2439 Add `-f` option to `make clean` command idempotent
  docs/Makefile
Labels: other

#2446 Follow-up of the user-defined pruner tutorial
  tutorial/20_recipes/006_user_defined_pruner.py
Labels: document

#2459 Apply urllib patch for MNIST download
  examples/catalyst_simple.py
  examples/chainer/chainer_integration.py
  examples/chainer/chainer_simple.py
  examples/chainer/chainermn_integration.py
  examples/chainer/chainermn_simple.py
  examples/fastai/fastaiv1_simple.py
  examples/fastai/fastaiv2_simple.py
  examples/haiku_simple.py
  examples/keras/keras_integration.py
  examples/keras/keras_simple.py
  examples/multi_objective/pytorch_simple.py
  examples/mxnet/gluon_simple.py
  examples/mxnet/mxnet_integration.py
  examples/mxnet/mxnet_simple.py
  examples/pytorch/skorch_simple.py
  examples/tensorboard_simple.py
  examples/tensorflow/tensorflow_eager_simple.py
  examples/tensorflow/tensorflow_estimator_integration.py
  examples/tensorflow/tensorflow_estimator_simple.py
  examples/tfkeras/tfkeras_integration.py
  examples/tfkeras/tfkeras_simple.py
  examples/visualization/plot_study.py
Labels: example

#2434 Use legacy resolver in CI's pip installation
  .github/workflows/coverage.yml
  .github/workflows/sphinx-build.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests-rdbstorage.yml
  .github/workflows/tests.yml
Labels: CI

#2468 Replace MNIST with Fashion MNIST in multi-objective optimization tutorial
  tutorial/20_recipes/002_multi_objective.py
Labels: document

#2466 Remove Cython from `install_requires`.
  setup.py
Labels: installation

#2471 Bump `release-v2.6.1` version `2.6.1`
  optuna/version.py
Labels: other

#2460 Standardize on 'hyperparameter' usage
  README.md
  docs/source/index.rst
  examples/haiku_simple.py
  examples/sklearn/sklearn_simple.py
  tests/trial_tests/test_frozen.py
  tests/visualization_tests/matplotlib_tests/test_parallel_coordinate.py
Labels: document, optuna.samplers

#2430 Add explanation for get_storage in the API reference
  docs/source/reference/storages.rst
  optuna/storages/__init__.py
Labels: document

#2427 Add tutorial for re-use of the `best_trial`.
  tutorial/20_recipes/010_reuse_best_trial.py
Labels: document

#2429 Set the default value of `state` of `create_trial` as `COMPLETE`
  optuna/trial/_frozen.py
  tests/trial_tests/test_trial.py
Labels: code-fix, optuna.trial

#2432 Added RL and Multi-Objective examples to `examples/README.md`
  examples/README.md
Labels: example

#2448 Add MOTPESampler in `parametrize_multi_objective_sampler`.
  tests/samplers_tests/test_samplers.py
Labels: test

#2475 [Backport] Replace MNIST with Fashion MNIST in multi-objective optimization tutorial
  tutorial/20_recipes/002_multi_objective.py
Labels: installation

#2487 Use 2.0 style delete API of SQLAlchemy
  optuna/storages/_rdb/alembic/versions/v1.3.0.a.py
Labels: bug, optuna.storages

#2422 Ask and tell interface tutorial
  optuna/study.py
  tutorial/20_recipes/009_ask_and_tell.py
Labels: document, sprint-20210227

#2489 Fix links on `SuccessiveHalvingPruner` page
  optuna/pruners/_successive_halving.py
Labels: document, optuna.pruners

#2463 Document how to write a new tutorial in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: other

#2494 Use whitespace tokenizer instead of spacy tokenizer
  examples/allennlp/classifier.jsonnet
Labels: example

#2442 Bump `torch` to 1.8.0
  .github/workflows/coverage.yml
  .github/workflows/examples.yml
  .github/workflows/tests-integration.yml
  setup.py
Labels: installation

#2491 Swap the order of `load_if_exists` and `directions` for consistency
  optuna/study.py
Labels: document, optuna.study

#2496 Print a URL of a related release note in the warning message
  optuna/_deprecated.py
Labels: enhancement

#2508 Install OpenBLAS for mxnet1.8.0
  .github/workflows/coverage.yml
  .github/workflows/examples.yml
  .github/workflows/tests-integration.yml
  Dockerfile
Labels: CI

#2501 Fix Warm Starting CMA-ES with a maximize direction
  optuna/samplers/_cmaes.py
  tests/samplers_tests/test_cmaes.py
Labels: bug, optuna.samplers

#2505 Use Fashion MNIST in example
  .github/workflows/examples.yml
  examples/chainer/chainer_integration.py
  examples/chainer/chainer_simple.py
  examples/chainer/chainermn_integration.py
  examples/chainer/chainermn_simple.py
  examples/multi_objective/pytorch_simple.py
  examples/pytorch/catalyst_simple.py
  examples/pytorch/pytorch_checkpoint.py
  examples/pytorch/pytorch_distributed_simple.py
  examples/pytorch/pytorch_ignite_simple.py
  examples/pytorch/pytorch_lightning_simple.py
  examples/pytorch/pytorch_simple.py
Labels: example

#2499 Run Dask ML example on Python3.8
  .github/workflows/examples.yml
Labels: CI, example

#2298 Add an example of `Ray` with `joblib` backend
  examples/ray-joblib.py
Labels: example

#2516 Support object representation of `StudyDirection` for `create_study` arguments
  optuna/study.py
  tests/study_tests/test_study.py
Labels: feature, optuna.study

#2503 Add log-linear algorithm for 2d Pareto front.
  optuna/_multi_objective.py
  tests/study_tests/test_study.py
Labels: enhancement, optuna.visualization

#2519 Add ray to requirements
  setup.py
Labels: CI, example

#2525 Extract test cases regarding Pareto front to `test_multi_objective.py`
  tests/study_tests/test_study.py
  tests/test_multi_objective.py
Labels: test

#2514 Update pytorch_lightning_distributed.py to remove MNIST and PyTorch Lightning errors
  examples/kubernetes/mlflow/pytorch_lightning_distributed.py
Labels: example

#2528 Upgrade AllenNLP to `v2.2.0`
  .github/workflows/coverage.yml
  .github/workflows/examples.yml
  .github/workflows/tests-integration.yml
  setup.py
Labels: CI, installation

#2461 Run tests and integration tests on Mac & Python3.7
  .github/workflows/mac-tests.yml
Labels: CI

#2535 Add Coverage for ChainerMN in codecov
  .github/workflows/coverage.yml
Labels: CI

#2485 Replace Optuna's Catalyst pruning callback with Catalyst's Optuna pruning callback
  examples/pytorch/catalyst_simple.py
  optuna/integration/catalyst.py
  setup.py
  tests/integration_tests/test_catalyst.py
Labels: example, optuna.integration, test

#2406 Change caching implementation of MOTPE
  optuna/samplers/_tpe/multi_objective_sampler.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
Labels: enhancement, optuna.samplers, sprint-20210227

#2368 Run TensorFlow related examples on Python3.8
  .github/workflows/examples.yml
Labels: CI, example

#2548 Skip fastai2.3 tentatively
  setup.py
Labels: CI

#2547 [Tutorial] Mention the paper is in Japanese
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
Labels: document

#2552 Fix typo of the paper's author name
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
Labels: document

#2546 Use OptunaPruningCallback in `catalyst_simple.py`
  examples/pytorch/catalyst_simple.py
Labels: example

#2472 Updated `Dockerfile` of MLflow Kubernetes examples
  examples/kubernetes/mlflow/Dockerfile
Labels: example

#2410 Use _SearchSpaceTransform in RandomSampler
  optuna/samplers/_random.py
Labels: code-fix, optuna.samplers, sprint-20210227
