Repository optuna/optuna, pull requests merged in 2021-04, with the labels that each got.

#2545 Clarify `n_jobs` for `OptunaSearchCV`
  optuna/integration/sklearn.py
Labels: document, optuna.integration

#2550 Support fastai 2.3.0
  setup.py
  tests/integration_tests/test_fastaiv2.py
Labels: example

#2532 Fix `visualization.matplotlib.plot_optimization_history` for multi-objective
  optuna/visualization/matplotlib/_optimization_history.py
Labels: bug, optuna.visualization

#2558 Concatenate the argument text after the deprecation warning
  optuna/_deprecated.py
  tests/test_deprecated.py
Labels: enhancement

#2560 Deprecate `n_jobs` in `Study.optimize`
  optuna/integration/sklearn.py
  optuna/study.py
  tests/study_tests/test_study.py
Labels: compatibility, optuna.study

#2562 Bump `master` version to `2.8.0dev`
  optuna/version.py
Labels: other

#2566 Bump up version to v2.7.0
  optuna/version.py
Labels: other

#2554 Remove redundant lines in CI settings of `examples`
  .github/workflows/examples.yml
Labels: code-fix

#2346 Improved search space XGBoost [Continue]
  examples/xgboost/xgboost_cv.py
  examples/xgboost/xgboost_simple.py
Labels: example

#2563 [RFC] Pareto front visualization to visualize study progress with color scales
  optuna/visualization/_pareto_front.py
Labels: enhancement, optuna.visualization

#2539 Add `__str__` for samplers
  optuna/samplers/_base.py
Labels: feature, optuna.samplers

#2571 Remove the unused argument of functions in `matplotlib.contour`
  optuna/visualization/matplotlib/_contour.py
Labels: optuna.visualization

#2573 Upload to TestPyPI at the time of release as well
  .github/workflows/pypi-publish.yml
Labels: other

#2530 Supporting Python 3.9 with integration modules and optional dependencies
  .github/workflows/tests-integration.yml
  .github/workflows/tests.yml
  setup.py
Labels: CI

#2477 Add example to `optuna.logging.disable_propagation`
  optuna/logging.py
Labels: document

#2450 Add `visualization.matplotlib.plot_pareto_front`
  docs/source/reference/visualization/matplotlib.rst
  optuna/visualization/matplotlib/__init__.py
  optuna/visualization/matplotlib/_pareto_front.py
  tests/visualization_tests/matplotlib_tests/test_pareto_front.py
Labels: feature, optuna.visualization

#2578 Remove assertions for supported dimensions from `test_plot_pareto_front_unsupported_dimensions`
  tests/visualization_tests/test_pareto_front.py
Labels: test

#2577 Fix axis labels of `optuna.visualization.matplotlib.plot_pareto_front` when `axis_order` is specified
  optuna/visualization/matplotlib/_pareto_front.py
  tests/visualization_tests/matplotlib_tests/test_pareto_front.py
Labels: code-fix, optuna.visualization

#2569 Sort categorical values on axis that contains only numerical values in `visualization.plot_contour`
  optuna/visualization/_contour.py
  optuna/visualization/_utils.py
  tests/visualization_tests/test_contour.py
Labels: optuna.visualization

#2586 Remove the news section in README.md
  README.md
Labels: document

#2588 Remove `n_jobs` for `study.optimize` in `examples/`
  examples/rl/sb3_simple.py
Labels: example

#2584 Add type conversion for reference point and solution set
  optuna/multi_objective/_hypervolume/wfg.py
Labels: bug

#2589 Fix contour plot with multi-objective study and `target` being specified
  optuna/testing/visualization.py
  optuna/visualization/_contour.py
  optuna/visualization/matplotlib/_contour.py
  tests/visualization_tests/matplotlib_tests/test_contour.py
  tests/visualization_tests/test_contour.py
Labels: bug, optuna.testing, optuna.visualization

#2583 Update a test function of `matplotliv.plot_pareto_front` for consistency
  tests/visualization_tests/matplotlib_tests/test_pareto_front.py
Labels: test

#2576 Improve `param_importances`
  optuna/visualization/_param_importances.py
  optuna/visualization/matplotlib/_param_importances.py
Labels: optuna.visualization

#2551 Add documentation for hyperparameter importance target parameter
  optuna/importance/__init__.py
  optuna/importance/_base.py
  optuna/importance/_fanova/_evaluator.py
  optuna/importance/_mean_decrease_impurity.py
  optuna/visualization/_param_importances.py
  optuna/visualization/matplotlib/_param_importances.py
  tutorial/10_key_features/005_visualization.py
  tutorial/20_recipes/002_multi_objective.py
Labels: document, optuna.importance

#2526 Support a group decomposed search space and apply it to TPE
  optuna/samplers/_search_space/__init__.py
  optuna/samplers/_search_space/group_decomposed.py
  optuna/samplers/_search_space/intersection.py
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/search_space_tests/test_group_decomposed.py
  tests/samplers_tests/search_space_tests/test_intersection.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: feature, optuna.samplers, optuna.trial

#2556 Add `n_min_trials` argument for `PercentilePruner` and `MedianPruner`
  optuna/pruners/_median.py
  optuna/pruners/_percentile.py
  tests/pruners_tests/test_median.py
  tests/pruners_tests/test_percentile.py
Labels: feature, optuna.pruners

#2591 Documentation updates to CmaEsSampler
  optuna/samplers/_cmaes.py
Labels: document, optuna.samplers

#2594 Rename ray-joblib.py to snakecase with underscores
  examples/README.md
  examples/ray_joblib.py
Labels: document, example

#2602 Replace `If` with `if` in a sentence
  optuna/visualization/_contour.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_slice.py
Labels: optuna.visualization

#2607 Copy study
  docs/source/reference/optuna.rst
  optuna/__init__.py
  optuna/study.py
  tests/study_tests/test_study.py
Labels: feature, optuna.study

#2604 Remove `_get_distribution` from `visualization/matplotlib/_param_importances.py`
  optuna/visualization/matplotlib/_param_importances.py
Labels: code-fix, optuna.visualization

#2431 Make LightGBMTuner and LightGBMTunerCV reproducible
  optuna/integration/_lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: feature, optuna.integration

#2598 Upgrade pip in PyPI and Test PyPI workflow
  .github/workflows/pypi-publish.yml
Labels: CI

#2601 Remove list casts
  optuna/visualization/_contour.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_slice.py
  optuna/visualization/matplotlib/_contour.py
  optuna/visualization/matplotlib/_parallel_coordinate.py
  optuna/visualization/matplotlib/_slice.py
Labels: code-fix, optuna.visualization

#2610 Use `CmaEsSampler` instead of `TPESampler` in the batch optimization example
  tutorial/20_recipes/009_ask_and_tell.py
Labels: document

#2623 Add `deterministic` parameter to make LightGBM training reproducible
  optuna/integration/_lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: optuna.integration, test

#2624 Fix PyPI publish workflow
  .github/workflows/pypi-publish.yml
Labels: CI

#2631 Improve document on BoTorchSampler page
  optuna/integration/botorch.py
Labels: document, optuna.integration

#2630 add params in test_tune_best_score_reproducibility to avoid numerical…
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: test

#2608 [RFC] Allow `None` as `study_name` when there is only a single study in `load_study`
  optuna/study.py
  tests/study_tests/test_study.py
Labels: compatibility, feature, optuna.study
