Repository optuna/optuna, pull requests merged in 2021-06, with the labels that each got.

#2711 BUG: Changed colour scale of contour plot by matplotlib for consistancy with plotly results
  optuna/visualization/matplotlib/_contour.py
Labels: optuna.visualization

#2709 Sorts categorical values on axis that contains only numerical values in visualization.matplotlib.plot_slice
  optuna/visualization/matplotlib/_slice.py
Labels: optuna.visualization

#2724 Bump up version to v2.8.0
  optuna/version.py
Labels: other

#2723 Bump up version to v2.9.0dev
  optuna/version.py
Labels: other

#2717 Fix results not reproducible when running AllenNLPExecutor multiple t…
  optuna/integration/allennlp.py
Labels: optuna.integration

#2728 Backport of #2717
  optuna/integration/allennlp.py
Labels: bug, optuna.integration

#2618 Unify the univariate and multivariate TPE
  optuna/samplers/_tpe/multivariate_parzen_estimator.py
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_multivariate_parzen_estomator.py
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: enhancement, optuna.samplers

#2666 Count the number of calls of the wrapped method in the test of `MOTPEMultiObjectiveSampler`
  tests/multi_objective_tests/samplers_tests/test_motpe.py
Labels: stale, test

#2712 BUG: Changed interpolation type to make numeric range consistant with plotly
  optuna/visualization/matplotlib/_contour.py
Labels: optuna.visualization

#2718 Add how to suggest proportion to FAQ
  docs/source/faq.rst
Labels: document

#2739 Fix `Nan` cast bug in `TPESampler`
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: bug, optuna.samplers

#2731 Use `repr` and `eval` to restore pruner parameters in AllenNLP integration
  optuna/integration/allennlp.py
  tests/integration_tests/allennlp_tests/test_allennlp.py
Labels: optuna.integration

#2670 MLFlow decorator for optimization function
  optuna/integration/mlflow.py
  tests/integration_tests/test_mlflow.py
Labels: optuna.integration

#2737 Add `copy_study` to the docs
  docs/source/reference/study.rst
Labels: document

#2748 Fix link to kurobako benchmark page
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
Labels: document

#2721 Create `study` directory
  optuna/dashboard.py
  optuna/integration/mlflow.py
  optuna/integration/skopt.py
  optuna/multi_objective/study.py
  optuna/multi_objective/trial.py
  optuna/pruners/_patient.py
  optuna/pruners/_percentile.py
  optuna/pruners/_successive_halving.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_nsga2.py
  optuna/samplers/_tpe/sampler.py
  optuna/storages/_base.py
  optuna/storages/_cached_storage.py
  optuna/storages/_in_memory.py
  optuna/storages/_rdb/models.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  optuna/structs.py
  optuna/study/__init__.py
  optuna/study/_dataframe.py
  optuna/study/_multi_objective.py
  optuna/study/_optimize.py
  optuna/study/_study_direction.py
  optuna/study/_study_summary.py
  optuna/study/study.py
  optuna/visualization/_contour.py
  optuna/visualization/_optimization_history.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/matplotlib/_parallel_coordinate.py
  tests/integration_tests/test_cma.py
  tests/multi_objective_tests/samplers_tests/test_nsga2.py
  tests/multi_objective_tests/test_study.py
  tests/multi_objective_tests/test_trial.py
  tests/samplers_tests/test_nsga2.py
  tests/storages_tests/rdb_tests/test_models.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/study_tests/test_optimize.py
  tests/study_tests/test_study.py
  tests/test_multi_objective.py
Labels: optuna.integration, optuna.pruners, optuna.samplers, optuna.storages, optuna.visualization

#2730 Explain how to add a user's own logging callback function
  docs/source/faq.rst
Labels: document

#2749 Fix `infer_relative_search_space` of TPE with the single point distributions
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/test_samplers.py
Labels: bug, optuna.samplers

#2761 TST: Added unit tests for optimization history of matplotlib tests
  tests/visualization_tests/matplotlib_tests/test_optimization_history.py
Labels: test

#2688 Unify `MOTPESampler` and `TPESampler`
  optuna/_hypervolume/__init__.py
  optuna/_hypervolume/base.py
  optuna/_hypervolume/utils.py
  optuna/_hypervolume/wfg.py
  optuna/multi_objective/__init__.py
  optuna/multi_objective/_hypervolume/__init__.py
  optuna/samplers/_tpe/multi_objective_sampler.py
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/samplers/_tpe/sampler.py
  tests/hypervolume_tests/__init__.py
  tests/hypervolume_tests/test_utils.py
  tests/hypervolume_tests/test_wfg.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: enhancement, optuna.samplers

#2770 Fix deprecated version of `MOTPESampler`
  optuna/samplers/_tpe/multi_objective_sampler.py
Labels: code-fix, optuna.samplers
