Repository optuna/optuna, pull requests merged in 2021-07, with the labels that each got.

#2779 Use default resolver in CI's pip installation
  .github/workflows/coverage.yml
  .github/workflows/speed-benchmarks.yml
  .github/workflows/sphinx-build.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests-rdbstorage.yml
  .github/workflows/tests.yml
Labels: CI, installation

#2778 TST: Changed unit tests for parallel coordinate of matplotlib tests
  tests/visualization_tests/matplotlib_tests/test_parallel_coordinate.py
Labels: test

#2774 TST: Added unit tests for param importances of matplotlib tests
  tests/visualization_tests/matplotlib_tests/test_param_importances.py
Labels: test

#2764 TST: Added unit tests for slice of matplotlib tests
  tests/visualization_tests/matplotlib_tests/test_slice.py
Labels: test

#2763 TST: Changed unit tests for pareto front of matplotlib tests
  tests/visualization_tests/matplotlib_tests/test_pareto_front.py
Labels: test

#2782 add the warning if intermediate values is already reported
  optuna/trial/_trial.py
  tests/trial_tests/test_trial.py
Labels: optuna.trial

#2789 Fix the document of `RetryFailedTrialCallback.retried_trial_number`
  optuna/_callbacks.py
Labels: document

#2760 Daily CI of `Checks`
  .github/workflows/checks.yml
Labels: CI

#2745 Dissect allennlp integration in submodules based on roles
  optuna/integration/allennlp.py
  optuna/integration/allennlp/__init__.py
  optuna/integration/allennlp/_dump_best_config.py
  optuna/integration/allennlp/_environment.py
  optuna/integration/allennlp/_executor.py
  optuna/integration/allennlp/_pruner.py
  optuna/integration/allennlp/_variables.py
  tests/integration_tests/allennlp_tests/test_allennlp.py
Labels: code-fix, optuna.integration

#2781 Introduce Weights & Biases integration
  docs/source/reference/integration.rst
  optuna/integration/__init__.py
  optuna/integration/wandb.py
  setup.py
  tests/integration_tests/test_wandb.py
Labels: optuna.integration

#2783 Prioritize grids that are not yet running in `GridSampler`
  optuna/samplers/_grid.py
Labels: optuna.samplers

#2785 Improve docs of constant liar
  optuna/samplers/_tpe/sampler.py
Labels: document, optuna.samplers

#2798 Match the case of `ID`
  optuna/storages/_base.py
Labels: document, optuna.storages

#2767 Fix numpy 1.21 related mypy errors
  optuna/dashboard.py
  optuna/multi_objective/samplers/_nsga2.py
  optuna/samplers/_nsga2.py
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/visualization/_optimization_history.py
  optuna/visualization/matplotlib/_optimization_history.py
  setup.py
  tests/integration_tests/test_chainer.py
Labels: installation, optuna.samplers

#2754 Add specific test cases for `visualization.matplotlib.plot_intermediate_values`
  tests/visualization_tests/matplotlib_tests/test_intermediate_plot.py
Labels: test

#2799 Add an optional section to ask reproducible codes
  .github/ISSUE_TEMPLATE/questions-help-support.md
Labels: other

#2801 Add survey news to README.md
  README.md
Labels: other

#2802 Rephrase RDBStorage RuntimeError description
  optuna/storages/_rdb/storage.py
Labels: optuna.storages

#2806 TST: Added unit tests for contour of matplotlib tests
  tests/visualization_tests/matplotlib_tests/test_contour.py
Labels: test

#2791 Avoid applying `constraint_fn` to non-`COMPLETE` trials in NSGAII-sampler.
  optuna/samplers/_nsga2.py
Labels: enhancement, optuna.samplers

#2805 Add python code to issue templates for making reporting runtime information easy
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/questions-help-support.md
Labels: other

#2780 Redis Heartbeat
  optuna/storages/_redis.py
  optuna/testing/storage.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
Labels: optuna.storages, optuna.testing

#2786 Fix `warn_independent_sampling` in `TPESampler`
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: optuna.samplers

#2803 Use more specific assert in `tests/visualization_tests/matplotlib/test_intermediate_plot.py`
  tests/visualization_tests/matplotlib_tests/test_intermediate_plot.py
Labels: test

#2817 Optuna ask and tell CLI options
  optuna/cli.py
  setup.py
  tests/test_cli.py
Labels: feature

#2823 Enable CLI helps for subcommands
  optuna/cli.py
Labels: enhancement

#2811 Function for failing zombie trials and invoke their callbacks
  docs/source/reference/storages.rst
  optuna/storages/__init__.py
  optuna/storages/_heartbeat.py
  optuna/study/_optimize.py
  tests/storages_tests/test_storages.py
Labels: feature, optuna.storages

#2816 [RFC] Speed up `TPESampler`
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: enhancement, needs-discussion, optuna.samplers

#2810 Add Plotly-like interpolation algorithm to `optuna.visualization.matplotlib.plot_contour`
  optuna/visualization/matplotlib/_contour.py
  tests/visualization_tests/matplotlib_tests/test_contour.py
Labels: enhancement, optuna.visualization
