Repository optuna/optuna, pull requests merged in 2021-12, with the labels that each got.

#3131 `optuna tell` with `--skip-if-finished`
  optuna/cli.py
  tests/test_cli.py
Labels: feature

#3121 Add tests for axis scales to `matplotlib.plot_slice`
  tests/visualization_tests/matplotlib_tests/test_slice.py
Labels: test, v3

#2903 Add crossover operators for nsga2
  optuna/samplers/__init__.py
  optuna/samplers/_nsga2/__init__.py
  optuna/samplers/_nsga2/crossover.py
  optuna/samplers/_nsga2/sampler.py
  tests/samplers_tests/test_nsga2.py
Labels: feature, optuna.samplers

#3139 Support `{Float|Int}Distribution` in NSGA-II crossover operators
  optuna/samplers/_nsga2/crossover.py
Labels: code-fix, optuna.samplers

#3123 Migrate `mypy` version to 0.910
  formats.sh
  setup.cfg
  setup.py
  tests/trial_tests/test_trial.py
  tox.ini
Labels: CI

#3140 Fix version number to 3.0.0a0
  optuna/version.py
Labels: other

#3141 Bump up version to v3.0.0a0
  optuna/version.py
Labels: other

#3142 Bump up version to v3.0.0a1.dev
  optuna/version.py
Labels: other

#3147 Black fix
  optuna/integration/xgboost.py
Labels: code-fix, optuna.integration

#3143 Add a note logging_callback only works in single process situation
  docs/source/faq.rst
Labels: document

#3161 Correct `FrozenTrial`'s docstring
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/storages/_rdb/storage.py
  optuna/study/_study_summary.py
  optuna/study/study.py
Labels: document, optuna.integration, optuna.storages

#3156 Bump to `torch` related packages
  .github/workflows/mac-tests.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests.yml
  setup.py
Labels: installation

#3111 Support `FloatDistribution` across codebase
  optuna/_transform.py
  optuna/integration/cma.py
  optuna/integration/skopt.py
  optuna/integration/tensorboard.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/testing/sampler.py
  optuna/visualization/_utils.py
  optuna/visualization/matplotlib/_utils.py
  tests/samplers_tests/test_samplers.py
  tests/test_transform.py
Labels: enhancement, optuna.integration, optuna.samplers, v3

#3150 Add `skip_if_finished` flag to `Study.tell`
  optuna/cli.py
  optuna/study/study.py
  tests/study_tests/test_study.py
Labels: feature

#3172 [WIP] Add reference to tutorial page in study.enqueue_trial
  optuna/study/study.py
Labels: document, v3

#3174 Fix typo in specify_params
  tutorial/20_recipes/008_specify_params.py
Labels: document, sprint-20211219

#3171 Mention tutorial of Callback for Study.optimize from API page
  optuna/study/study.py
Labels: document, v3, sprint-20211219

#3173 Remove Deprecate Decorator of the Feature of n_jobs.
  optuna/integration/sklearn.py
  optuna/study/study.py
  tests/study_tests/test_study.py
Labels: code-fix, v3, sprint-20211219

#3185 Add user_attrs argument to study.enqueue_trial
  optuna/study/study.py
  tests/study_tests/test_study.py
Labels: feature, v3, sprint-20211219

#3178 Add tests for generated plots of `matplotlib.plot_edf`
  tests/visualization_tests/matplotlib_tests/test_edf.py
Labels: test, v3, sprint-20211219

#3157 Use `pytorch-lightning>=1.5.0`
  optuna/integration/pytorch_lightning.py
  setup.py
  tests/integration_tests/test_pytorch_lightning.py
Labels: installation, optuna.integration

#3193 Add order in tutorial
  tutorial/10_key_features/001_first.py
  tutorial/10_key_features/002_configurations.py
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
  tutorial/10_key_features/004_distributed.py
  tutorial/10_key_features/005_visualization.py
Labels: document, sprint-20211219

#3182 Guide to tutorial of Multi-objective Optimization in visualization tutorial
  tutorial/10_key_features/005_visualization.py
Labels: document, sprint-20211219

#3201 Restrict `nltk` version
  setup.py
Labels: installation

#3196 Stabilize `create_trial`
  optuna/multi_objective/samplers/_motpe.py
  optuna/trial/_frozen.py
  tests/samplers_tests/test_nsga2.py
  tests/trial_tests/test_frozen.py
  tests/trial_tests/test_trial.py
Labels: code-fix, optuna.trial, v3

#3192 Match contour tests between Plotly and Matplotlib
  tests/visualization_tests/matplotlib_tests/test_contour.py
Labels: test, v3, sprint-20211219

#3175 Add tests in visualization_tests/matplotlib_tests/test_slice.py
  tests/visualization_tests/matplotlib_tests/test_slice.py
Labels: test, v3, sprint-20211219

#3126 Support `IntDistribution` across codebase
  optuna/_transform.py
  optuna/integration/cma.py
  optuna/integration/skopt.py
  optuna/integration/tensorboard.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/testing/sampler.py
  optuna/visualization/_utils.py
  optuna/visualization/matplotlib/_utils.py
  tests/samplers_tests/test_samplers.py
  tests/test_transform.py
Labels: enhancement, optuna.integration, optuna.samplers, optuna.testing, optuna.visualization, v3, sprint-20211128

#3128 Refactor pareto front and support `constraints_func` in `plot_pareto_front`
  optuna/study/_multi_objective.py
  optuna/visualization/_pareto_front.py
  tests/test_multi_objective.py
  tests/visualization_tests/test_pareto_front.py
Labels: feature, optuna.visualization, v3, sprint-20211128, sprint-20211219

#3207 Add version constraints of `setuptools`
  .github/workflows/mac-tests.yml
  Dockerfile
Labels: installation

#3167 Promote to use of v3.0.0a0 in `README.md`
  README.md
Labels: document

#3108 Reduce number of queries to fetch `directions`, `user_attrs` and `system_attrs` of study summaries.
  optuna/storages/_rdb/storage.py
Labels: enhancement, optuna.storages
