Repository optuna/optuna, pull requests merged in 2022-04, with the labels that each got.

#3430 Revert "Avoid latest `click==8.1.0` that removed a deprecated feature"
  setup.py
Labels: installation

#3424 Fix `_is_reverse_scale`
  optuna/visualization/_contour.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_utils.py
  tests/visualization_tests/test_contour.py
  tests/visualization_tests/test_parallel_coordinate.py
Labels: bug, optuna.visualization

#3436 Fix log message formatting in `filter_nonfinite`
  optuna/visualization/_utils.py
Labels: optuna.visualization

#3113 Migrate to {Float,Int}Distribution using alembic
  optuna/storages/_rdb/alembic/versions/v3.0.0.a.py
  tests/storages_tests/rdb_tests/create_db.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/rdb_tests/test_upgrade_assets/2.4.0.db
  tests/storages_tests/rdb_tests/test_upgrade_assets/2.6.0.db
  tests/storages_tests/rdb_tests/test_upgrade_assets/3.0.0.db
Labels: compatibility, optuna.storages, no-stale, v3

#3441 Add `RetryFailedTrialCallback` to `optuna.storages.*`
  optuna/storages/__init__.py
Labels: code-fix, optuna.storages

#3420 Convert deprecated distribution to new distribution internally
  optuna/distributions.py
  optuna/integration/sklearn.py
  optuna/storages/_rdb/alembic/versions/v3.0.0.a.py
  optuna/study/study.py
  optuna/trial/_frozen.py
  tests/integration_tests/test_sklearn.py
  tests/study_tests/test_study.py
  tests/test_distributions.py
  tests/trial_tests/test_trial.py
Labels: optuna.storages, optuna.trial

#3443 Add explanation about `Study.best_trials` in multi-objective optimization tutorial
  tutorial/20_recipes/002_multi_objective.py
Labels: document

#3438 Make logger message optional in `filter_nonfinite`
  optuna/visualization/_utils.py
  tests/visualization_tests/test_utils.py
Labels: optuna.visualization

#3144 Move validation logic from `_run_trial` to `study.tell`
  optuna/cli.py
  optuna/multi_objective/study.py
  optuna/multi_objective/trial.py
  optuna/study/_optimize.py
  optuna/study/_tell.py
  optuna/study/study.py
  tests/multi_objective_tests/test_study.py
  tests/study_tests/test_optimize.py
  tests/study_tests/test_study.py
  tests/test_cli.py
Labels: enhancement, compatibility, optuna.study, v3

#3442 Unify fail_stale_trials in each Storage impl
  optuna/storages/_base.py
  optuna/storages/_cached_storage.py
  optuna/storages/_heartbeat.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  tests/storages_tests/test_storages.py
Labels: code-fix, optuna.storages

#3435 Make EDF plots handle trials with nonfinite values
  optuna/visualization/_edf.py
  optuna/visualization/matplotlib/_edf.py
  tests/visualization_tests/matplotlib_tests/test_edf.py
  tests/visualization_tests/test_edf.py
Labels: enhancement, optuna.visualization, v3

#3447 Add tests for parameter of 'None' for TPE
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: test

#3354 Add performance benchmarks using `bayesmark`
  .github/workflows/performance-benchmarks-bayesmark.yml
  benchmarks/README.md
  benchmarks/bayesmark/optuna_optimizer.py
  benchmarks/bayesmark/report_template.md
  benchmarks/report_bayesmark.py
  benchmarks/run_bayesmark.py
Labels: CI, v3

#3458 Bump Optuna to v3.0.0-b0
  optuna/version.py
Labels: other

#3457 Bump up version to v3.0.0b1.dev
  optuna/version.py
Labels: other

#3459 Remove old distributions from NSGA-II sampler
  optuna/samplers/nsgaii/_crossover.py
Labels: optuna.samplers

#3389 Unify pareto front
  optuna/visualization/_pareto_front.py
  optuna/visualization/matplotlib/_pareto_front.py
Labels: enhancement, optuna.visualization, v3

#3391 Make `set_trial_param()` of `RedisStorage` faster
  optuna/storages/_redis.py
Labels: enhancement, optuna.storages

#3415 Ignore incomplete trials in `matplotlib.plot_parallel_coordinate`
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_utils.py
  optuna/visualization/matplotlib/_parallel_coordinate.py
Labels: optuna.visualization

#3392 Make `_set_best_trial()` of `RedisStorage` faster
  optuna/storages/_redis.py
Labels: optuna.storages

#3393 Make `set_study_directions()` of `RedisStorage` faster
  optuna/storages/_redis.py
Labels: optuna.storages

#3466 Add `inf` test to intermediate values test
  tests/storages_tests/test_storages.py
Labels: test, v3

#3451 Make contour plots handle trials with nonfinite values
  optuna/testing/visualization.py
  optuna/visualization/_contour.py
  optuna/visualization/matplotlib/_contour.py
  tests/visualization_tests/matplotlib_tests/test_contour.py
  tests/visualization_tests/matplotlib_tests/test_edf.py
  tests/visualization_tests/test_contour.py
  tests/visualization_tests/test_edf.py
Labels: enhancement, optuna.visualization, v3

#3348 Accept `nan` in `trial.report`
  optuna/storages/_rdb/models.py
  optuna/storages/_rdb/storage.py
  tests/storages_tests/test_storages.py
Labels: compatibility, optuna.storages, v3, sprint-20220227

#3468 Fix kurobako benchmark code to run it locally
  benchmarks/run_kurobako.py
Labels: other

#3403 Making optuna compatible with wandb sweep panels
  optuna/integration/wandb.py
  tests/integration_tests/test_wandb.py
Labels: optuna.integration

#3449 changed "#Trials" to "Trial" in `plot_slice`, `plot_pareto_front`, and `plot_optimization_history`
  optuna/visualization/_optimization_history.py
  optuna/visualization/_pareto_front.py
  optuna/visualization/_slice.py
  optuna/visualization/matplotlib/_optimization_history.py
  optuna/visualization/matplotlib/_slice.py
Labels: enhancement, optuna.visualization

#3353 Partially support Python 3.10
  .github/workflows/dockerimage.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests-storage.yml
  .github/workflows/tests.yml
  setup.py
  tests/samplers_tests/test_samplers.py
  tox.ini
Labels: CI, installation

#3481 Change the parameter name from `classifier` to `regressor` in the code snippet of `README.md`
  README.md
Labels: document

#3492 Import COLOR_SCALE inside import util context
  optuna/visualization/_contour.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_slice.py
Labels: bug, optuna.visualization

#3493 Fix label of issue template
  .github/ISSUE_TEMPLATE/documentation.yml
Labels: other

#3499 Remove `-v` option of `optuna study set-user-attr` command
  optuna/cli.py
Labels: bug, sprint-20220424

#3495 Add `targets` argument to `plot_pareto_plont` of `plotly` backend.
  optuna/visualization/_pareto_front.py
  tests/visualization_tests/test_pareto_front.py
Labels: feature, optuna.visualization, sprint-20220424

#3498 Mention `Study.stop` as a criteria to stop creating trials in document
  optuna/study/study.py
Labels: document, code-fix, sprint-20220424

#3505 Fix minor English errors in the docstring of `study.optimize`
  optuna/study/study.py
Labels: document

#3508 Add Python 3.10 in supported version in README.md
  README.md
Labels: document

#3454 Update warning message and add a test when a trial fails with exception
  optuna/study/_optimize.py
  optuna/study/_tell.py
  tests/study_tests/test_optimize.py
Labels: code-fix, optuna.study, v3

#3381 Lazy import of alembic, sqlalchemy, and scipy
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/storages/_rdb/storage.py
Labels: enhancement, optuna.storages

#3515 Mention specify hyperparameter tutorial
  optuna/study/study.py
  tutorial/20_recipes/008_specify_params.py
Labels: document, v3

#3509 Remove articles at the beginning of sentences in crossovers
  optuna/samplers/nsgaii/_crossovers/_blxalpha.py
  optuna/samplers/nsgaii/_crossovers/_sbx.py
  optuna/samplers/nsgaii/_crossovers/_spx.py
  optuna/samplers/nsgaii/_crossovers/_undx.py
  optuna/samplers/nsgaii/_crossovers/_uniform.py
  optuna/samplers/nsgaii/_crossovers/_vsbx.py
Labels: document, optuna.samplers

#3514 Correct `FronzenTrial`'s docstring
  optuna/trial/_frozen.py
Labels: document, optuna.trial

#3477 Revise docstring in MLFflow and WandB callbacks
  optuna/integration/mlflow.py
  optuna/integration/wandb.py
Labels: document, optuna.integration

#3271 Benchmaking for multi-objectives samplers
  benchmarks/kurobako/mo_create_study.py
  benchmarks/run_mo_kurobako.py
Labels: feature, v3, sprint-20220130
