Repository optuna/optuna, pull requests merged in 2022-01, with the labels that each got.

#3176 Add test case of the value in optimization history with matplotlib
  tests/visualization_tests/matplotlib_tests/test_optimization_history.py
Labels: test, v3, sprint-20211219

#3114 Use `json.loads` to decode pruner configuration loaded from environment variables
  optuna/integration/allennlp/_executor.py
  optuna/integration/allennlp/_pruner.py
  optuna/integration/allennlp/_variables.py
  tests/integration_tests/allennlp_tests/test_allennlp.py
Labels: enhancement, optuna.integration, v3

#3188 Add tests for generated plots of ``plot_edf``
  tests/visualization_tests/test_edf.py
Labels: test, optuna.visualization, sprint-20211219

#3183 Improve pareto font figure tests for matplotlib
  tests/visualization_tests/matplotlib_tests/test_pareto_front.py
Labels: test, v3, sprint-20211219

#3216 Use `functools.wraps` in `track_in_mlflow` decorator
  optuna/integration/mlflow.py
  tests/integration_tests/test_mlflow.py
Labels: enhancement, optuna.integration

#3170 Remove testoutput from doctest of mlflow integration
  optuna/integration/mlflow.py
  setup.py
Labels: installation, optuna.integration

#3222 Fix inconsistency in `distributions` documentation
  optuna/distributions.py
Labels: document

#3218 Fix log scale axes padding in `matplotlib.contour_plot`
  optuna/visualization/matplotlib/_contour.py
  tests/visualization_tests/matplotlib_tests/test_contour.py
Labels: bug, optuna.visualization

#3115 Show progress bar based on `timeout`
  optuna/progress_bar.py
  tests/study_tests/test_study.py
Labels: enhancement, v3

#3187 Fix bug of nondeterministic behavior of TPESampler when `group=True`
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: bug, optuna.samplers, stale, sprint-20211219

#3213 Handle non-numerical params in `matplotlib.contour_plot`
  optuna/visualization/_contour.py
  optuna/visualization/_utils.py
  optuna/visualization/matplotlib/_contour.py
  tests/visualization_tests/matplotlib_tests/test_contour.py
Labels: bug, optuna.visualization

#3169 Introduce a form to make TODOs explicit when creating issues
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/questions-help-support.md
  .github/ISSUE_TEMPLATE/questions-help-support.yml
Labels: other

#3228 Stabilize allennlp integrations
  optuna/integration/allennlp/_executor.py
  optuna/integration/allennlp/_pruner.py
Labels: compatibility, optuna.integration, v3

#3232 Implement missing `matplotlib.contour_plot` test
  tests/visualization_tests/matplotlib_tests/test_contour.py
Labels: test, v3

#3235 Remove `type_checking.py`
  optuna/__init__.py
  optuna/type_checking.py
Labels: compatibility

#3155 Add performance benchmarks using `kurobako`
  .github/workflows/performance-benchmarks-kurobako.yml
  benchmarks/README.md
  benchmarks/run_kurobako.py
  setup.py
Labels: CI, v3

#3231 Remove version constraint of `setuptools`
  .github/workflows/mac-tests.yml
  Dockerfile
Labels: installation

#3026 Use python 3.8 for CI and docker
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/sphinx-build.yml
  Dockerfile
  pyproject.toml
Labels: CI, no-stale

#3239 Use Python 3.7 in checks CI job
  .github/workflows/checks.yml
Labels: CI

#3242 Replace AUC with accuracy in docs
  optuna/integration/lightgbm.py
  optuna/integration/xgboost.py
Labels: document, optuna.integration

#3233 Unify the validation function of edf value between visualization backends
  tests/visualization_tests/matplotlib_tests/test_edf.py
Labels: test, v3

#3138 Make progress bar available with n_jobs!=1
  optuna/study/_optimize.py
  tests/study_tests/test_study.py
Labels: enhancement, v3

#3252 Add {Float,Int}Distribution to docs
  docs/source/reference/distributions.rst
Labels: document

#3229 Add FAQ entry for hearbeat
  docs/source/faq.rst
Labels: document, v3

#2423 Add QMC sampler
  docs/source/reference/samplers.rst
  optuna/samplers/__init__.py
  optuna/samplers/_qmc.py
  setup.py
  tests/samplers_tests/test_qmc.py
  tests/samplers_tests/test_samplers.py
Labels: feature, optuna.samplers, no-stale

#3237 Remove Sphinx version constraint
  setup.py
Labels: installation

#3186 Add Explaination about Parallelize Optimization at FAQ
  docs/source/faq.rst
Labels: document, v3, sprint-20211219

#3253 Update explanation for metrics of AllenNLPExecutor
  optuna/integration/allennlp/_executor.py
Labels: document, optuna.integration

#3260 Fix black and blackdoc errors
  benchmarks/optimize.py
  optuna/_callbacks.py
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/integration/cma.py
  optuna/integration/skopt.py
  optuna/logging.py
  optuna/multi_objective/samplers/_random.py
  optuna/multi_objective/study.py
  optuna/pruners/_hyperband.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_grid.py
  optuna/samplers/_nsga2/crossover.py
  optuna/samplers/_partial_fixed.py
  optuna/samplers/_qmc.py
  optuna/samplers/_random.py
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/samplers/_tpe/sampler.py
  optuna/storages/_rdb/storage.py
  optuna/study/study.py
  optuna/trial/_fixed.py
  optuna/trial/_frozen.py
  optuna/visualization/matplotlib/_contour.py
  tests/hypervolume_tests/test_wfg.py
  tests/importance_tests/test_init.py
  tests/pruners_tests/test_hyperband.py
  tests/samplers_tests/test_cmaes.py
  tests/samplers_tests/test_partial_fixed.py
  tests/samplers_tests/tpe_tests/test_sampler.py
  tests/storages_tests/rdb_tests/create_db.py
  tests/study_tests/test_dataframe.py
  tests/study_tests/test_study.py
  tests/visualization_tests/matplotlib_tests/test_param_importances.py
  tests/visualization_tests/test_contour.py
  tests/visualization_tests/test_param_importances.py
  tutorial/20_recipes/005_user_defined_sampler.py
  tutorial/20_recipes/009_ask_and_tell.py
Labels: code-fix, optuna.integration, optuna.pruners, optuna.samplers, optuna.storages, optuna.visualization, optuna.trial

#3204 Wrap RedisStorage in CachedStorage
  optuna/integration/pytorch_lightning.py
  optuna/storages/__init__.py
  optuna/storages/_cached_storage.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  optuna/testing/storage.py
  tests/integration_tests/test_pytorch_lightning.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
  tests/study_tests/test_study.py
Labels: enhancement, optuna.integration, optuna.storages, v3, sprint-20211219

#3238 Handle `-inf` and `inf` values in `RDBStorage`
  optuna/storages/_rdb/storage.py
  tests/storages_tests/rdb_tests/test_with_server.py
Labels: bug, optuna.storages, v3

#3261 Remove experimental label from `MaxTrialsCallback`
  optuna/_callbacks.py
Labels: v3

#3264 Remove redundant `_check_trial_id`
  optuna/storages/_redis.py
Labels: code-fix, optuna.storages

#3262 Make RedisStorage fast when running multiple trials
  optuna/storages/_redis.py
Labels: enhancement, optuna.storages, sprint-20220130

#3263 Add test for default grace period
  tests/storages_tests/test_storages.py
Labels: test, sprint-20220130

#3268 Add missing cli methods to the list
  tutorial/20_recipes/004_cli.py
Labels: document
