Repository optuna/optuna, pull requests merged in 2022-08, with the labels that each got.

#3740 Raise errors for NaN in constraint values
  optuna/samplers/_base.py
  tests/samplers_tests/test_nsgaii.py
Labels: bug, optuna.samplers

#3808 Fix check for number of objective values
  optuna/study/_tell.py
  tests/study_tests/test_study.py
Labels: bug

#3839 Fix infeasible case in NSGAII test
  tests/samplers_tests/test_nsgaii.py
Labels: bug

#3837 Fix typos and remove unused argument in QMC
  optuna/samplers/_qmc.py
  tests/samplers_tests/test_qmc.py
Labels: code-fix, optuna.samplers

#3838 Add a reference for MOTPE
  optuna/multi_objective/samplers/_motpe.py
  optuna/samplers/_tpe/multi_objective_sampler.py
  optuna/samplers/_tpe/sampler.py
Labels: document, optuna.samplers

#3807 Use DeterministicRelativeSampler in test_trial
  tests/trial_tests/test_trial.py
Labels: test

#3828 Normalize importance values
  optuna/importance/__init__.py
  tests/importance_tests/test_init.py
Labels: enhancement, optuna.importance

#3842 Extract float value from tensor for `trial.report` in `PyTorchLightningPruningCallback`
  optuna/integration/pytorch_lightning.py
Labels: CI, optuna.integration

#3851 Bump up version number to 3.0.0rc0
  optuna/version.py
Labels: other

#3852 Bump up version to v3.0.0
  optuna/version.py
Labels: other

#3827 Introduce `DeterministicSampler` instead of `DeterministicRelativeSampler`
  optuna/testing/samplers.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_cma.py
  tests/integration_tests/test_skopt.py
  tests/samplers_tests/test_cmaes.py
  tests/samplers_tests/test_samplers.py
  tests/trial_tests/test_trial.py
Labels: test, optuna.testing

#3850 Minor fixes of Sampler comparison table
  docs/source/reference/samplers/index.rst
Labels: document

#3861 Fix typo: Replace `trail` with `trial`
  optuna/visualization/_utils.py
Labels: optuna.visualization

#3862 Add `.. seealso::` in `Study.get_trials` and `Study.trials`
  optuna/study/study.py
Labels: document

#3848 Revert most of changes by 3651
  optuna/integration/mlflow.py
  tests/integration_tests/test_mlflow.py
Labels: code-fix, optuna.integration

#3846 Remove duplicated definition of `CategoricalChoiceType` from `optuna.distributions`
  optuna/trial/_frozen.py
Labels: code-fix, optuna.trial

#3686 Add tests for `_fast_non_dominated_sort`
  tests/samplers_tests/test_nsgaii.py
Labels: test, v3

#3870 Attach abstractmethod decorator to `BaseStorage.get_trial_id_from_study_id_trial_number`
  optuna/storages/_base.py
Labels: optuna.storages

#3871 Refactor `BaseStorage.get_best_trial`
  optuna/storages/_base.py
Labels: optuna.storages

#3869 Add docstring of `TrialState.is_finished`
  optuna/trial/_state.py
Labels: document, optuna.trial

#3873 Add note to explain when colormap reverses
  optuna/visualization/_contour.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/matplotlib/_contour.py
  optuna/visualization/matplotlib/_parallel_coordinate.py
Labels: document, optuna.visualization

#3880 Make nsgaii docs informative
  docs/source/reference/samplers/index.rst
Labels: document

#3881 Add note for `constant_liar` with multi-objective function
  optuna/samplers/_tpe/sampler.py
Labels: document, optuna.samplers

#3882 Use `copybutton_prompt_text` not to copy the bash prompt
  docs/source/conf.py
Labels: document

#3894 Fix typo in `HyperbandPruner`
  optuna/pruners/_hyperband.py
Labels: document, optuna.pruners

#3784 Unify slice plot tests
  optuna/visualization/_slice.py
  optuna/visualization/matplotlib/_slice.py
  tests/visualization_tests/matplotlib_tests/test_slice.py
  tests/visualization_tests/test_contour.py
  tests/visualization_tests/test_slice.py
Labels: test, optuna.visualization, stale, v3

#3887 Simplify IntersectionSearchSpace.calculate
  optuna/samplers/_search_space/intersection.py
Labels: code-fix, optuna.samplers

#3872 Fix docstring in `FrozenTrial`
  optuna/trial/_frozen.py
Labels: document, optuna.trial

#3901 Mention reproducibility of `HyperBandPruner`
  docs/source/faq.rst
  optuna/pruners/_hyperband.py
Labels: document, optuna.pruners

#3909 Remove abstractmethod decorator from `get_trial_id_from_study_id_trial_number`
  optuna/storages/_base.py
Labels: feature, optuna.storages

#3903 Add a new note to mention unsupported GPU case for `CatBoostPruningCallback `
  optuna/integration/catboost.py
Labels: document, optuna.integration

#3905 Relax version constraint of `fakeredis`
  setup.py
Labels: installation

#3900 Improve HyperBand docs
  optuna/pruners/_hyperband.py
Labels: document, optuna.pruners

#3798 Refactor `test_pareto_front`
  optuna/visualization/_pareto_front.py
  optuna/visualization/matplotlib/_pareto_front.py
  tests/visualization_tests/matplotlib_tests/test_pareto_front.py
  tests/visualization_tests/test_pareto_front.py
Labels: code-fix, optuna.visualization, v3

#3806 Unify optimization history tests
  tests/visualization_tests/matplotlib_tests/test_optimization_history.py
  tests/visualization_tests/test_optimization_history.py
Labels: test, v3

#3913 Replace `q` with `step` in private function and warning message
  optuna/distributions.py
Labels: code-fix

#3919 Remove `warnings: UserWarning` from `tests/visualization_tests/test_utils.py`
  tests/visualization_tests/test_utils.py
Labels: test

#3911 Suppress warnings in tests for `multi_objective` module
  tests/multi_objective_tests/samplers_tests/test_nsga2.py
  tests/multi_objective_tests/samplers_tests/test_samplers.py
  tests/multi_objective_tests/test_study.py
  tests/multi_objective_tests/test_trial.py
  tests/multi_objective_tests/visualization_tests/test_pareto_front.py
Labels: test

#3926 Add version constraint for `typing_extensions` to use `ParamSpec`
  setup.py
Labels: installation

#3760 Unify tests for `plot_param_importances`
  tests/visualization_tests/matplotlib_tests/test_param_importances.py
  tests/visualization_tests/test_param_importances.py
Labels: code-fix, optuna.visualization, v3

#3921 Reduce trivial warning messages from `tests/sampler_tests`
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/test_grid.py
  tests/samplers_tests/test_partial_fixed.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
Labels: code-fix, optuna.samplers

#3917 Reduce warnings in storage tests
  optuna/storages/_rdb/alembic/versions/v2.4.0.a.py
  optuna/storages/_rdb/alembic/versions/v3.0.0.a.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_heartbeat.py
Labels: code-fix, optuna.storages

#3933 Bump up version to v3.0.0
  optuna/version.py
Labels: other

#3934 Bump up version number to 3.1.0.dev
  optuna/version.py
Labels: other

#3912 Suppress warnings in `tests/test_distributions.py`
  tests/test_distributions.py
Labels: test

#3922 Remove all warning messages from `tests/integration_tests/test_sklearn.py`
  tests/integration_tests/test_sklearn.py
Labels: test

#3940 Remove the news section on README
  README.md
Labels: other

#3943 Slightly improve docs of `FrozenTrial`
  optuna/trial/_frozen.py
Labels: document, optuna.trial

#3923 Remove out-of-range related warning messages from `MLflowCallback` and `WeightsAndBiasesCallback`
  tests/integration_tests/test_mlflow.py
  tests/integration_tests/test_wandb.py
Labels: test

#3868 Make log message user-friendly when objective returns a sequence of unsupported values
  optuna/study/_optimize.py
  optuna/study/_tell.py
Labels: code-fix

#3857 Change the log message format for failed trials.
  optuna/study/_optimize.py
  tests/study_tests/test_optimize.py
Labels: enhancement

#3944 Remove warning messages from `tests/integration_tests/test_lightgbm.py`
  tests/integration_tests/test_lightgbm.py
Labels: test, optuna.integration
