Repository optuna/optuna, pull requests merged in 2022-07, with the labels that each got.

#3696 DRY `test_frozen.py`
  tests/trial_tests/test_fixed.py
  tests/trial_tests/test_frozen.py
  tests/trial_tests/test_trials.py
Labels: test, v3

#3682 Unify `plot_contour`s
  optuna/visualization/_contour.py
  optuna/visualization/matplotlib/_contour.py
  tests/visualization_tests/matplotlib_tests/test_contour.py
  tests/visualization_tests/test_contour.py
Labels: code-fix, optuna.visualization, v3

#3347 Use coverage directly
  .coveragerc
  .github/workflows/coverage.yml
  pyproject.toml
  setup.py
Labels: CI, sprint-20220227, sprint-20220424

#3741 Fix `test_calculate_weights_below`
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
Labels: test

#3739 Fix `inf`-related issue on implementation of `_calculate_nondomination_rank`
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
Labels: bug, optuna.samplers, v3

#3744 Remove deprecated storage functions
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  tests/storages_tests/test_heartbeat.py
  tests/storages_tests/test_storages.py
Labels: code-fix, optuna.storages

#3752 Remove unnecessary optionals from `visualization/_pareto_front.py`
  optuna/visualization/_pareto_front.py
Labels: code-fix, optuna.visualization

#3737 Extract fail_objective and pruned_objective for tests
  optuna/testing/objectives.py
  tests/importance_tests/test_init.py
  tests/integration_tests/test_shap.py
  tests/samplers_tests/test_grid.py
  tests/samplers_tests/test_samplers.py
  tests/study_tests/test_optimize.py
  tests/study_tests/test_study.py
  tests/test_callbacks.py
  tests/visualization_tests/matplotlib_tests/test_contour.py
  tests/visualization_tests/matplotlib_tests/test_intermediate_plot.py
  tests/visualization_tests/matplotlib_tests/test_optimization_history.py
  tests/visualization_tests/matplotlib_tests/test_parallel_coordinate.py
  tests/visualization_tests/matplotlib_tests/test_param_importances.py
  tests/visualization_tests/matplotlib_tests/test_slice.py
  tests/visualization_tests/test_contour.py
  tests/visualization_tests/test_intermediate_plot.py
  tests/visualization_tests/test_optimization_history.py
  tests/visualization_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_param_importances.py
  tests/visualization_tests/test_slice.py
Labels: code-fix, optuna.testing

#3758 set `OMPI_MCA_rmaps_base_oversubscribe=yes` before `mpirun`
  .github/workflows/coverage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/tests-mpi.yml
Labels: CI

#3763 Follow up #3465
  .github/workflows/performance-benchmarks-naslib.yml
  benchmarks/README.md
  benchmarks/naslib/problem.py
  benchmarks/run_naslib.py
Labels: code-fix

#3766 Remove `no_trials` option of `prepare_study_with_trials`.
  optuna/testing/visualization.py
  tests/visualization_tests/matplotlib_tests/test_contour.py
  tests/visualization_tests/matplotlib_tests/test_intermediate_plot.py
  tests/visualization_tests/matplotlib_tests/test_slice.py
  tests/visualization_tests/test_contour.py
  tests/visualization_tests/test_intermediate_plot.py
  tests/visualization_tests/test_slice.py
Labels: code-fix, optuna.testing

#3767 Follow the coding style of comments in `plot_contour` files
  optuna/visualization/_contour.py
  optuna/visualization/matplotlib/_contour.py
Labels: code-fix, optuna.visualization

#3769 Fix value error condition in `plot_contour`
  optuna/visualization/_contour.py
Labels: code-fix, optuna.visualization

#3742 Fix `_calculate_weights` such that it throws `ValueError` on invalid weights
  optuna/samplers/_tpe/parzen_estimator.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
Labels: bug, optuna.samplers

#3778 Remove duplicated period at the end of copyright
  docs/source/conf.py
Labels: document

#3753 Change types inside `_ParetoInfoType`
  optuna/visualization/_pareto_front.py
Labels: code-fix, optuna.visualization, v3

#3776 Add `n_concurrency` option to benchmarks
  .github/workflows/performance-benchmarks-kurobako.yml
  .github/workflows/performance-benchmarks-mo-kurobako.yml
  .github/workflows/performance-benchmarks-naslib.yml
  benchmarks/run_kurobako.py
  benchmarks/run_mo_kurobako.py
  benchmarks/run_naslib.py
Labels: CI, v3

#3774 Add `budget` option to benchmarks
  .github/workflows/performance-benchmarks-bayesmark.yml
  .github/workflows/performance-benchmarks-kurobako.yml
  .github/workflows/performance-benchmarks-mo-kurobako.yml
  .github/workflows/performance-benchmarks-naslib.yml
  benchmarks/run_kurobako.py
  benchmarks/run_mo_kurobako.py
  benchmarks/run_naslib.py
Labels: CI, v3

#3780 Use `n-runs` instead of `repeat` to represent the number of studies in the bayesmark benchmark
  .github/workflows/performance-benchmarks-bayesmark.yml
  benchmarks/run_bayesmark.py
Labels: CI, v3

#3736 Unify implementation of `plot_optimization_history` between plotly and matplotlib
  optuna/visualization/_optimization_history.py
  optuna/visualization/matplotlib/_optimization_history.py
Labels: code-fix, optuna.visualization, v3

#3701 Unify the tests of `plot_contour`s
  optuna/visualization/_contour.py
  optuna/visualization/matplotlib/_contour.py
  setup.py
  tests/visualization_tests/matplotlib_tests/test_contour.py
  tests/visualization_tests/test_contour.py
Labels: test, v3

#3743 Support `inf` values for crowding distance
  optuna/samplers/nsgaii/_sampler.py
  tests/samplers_tests/test_nsgaii.py
Labels: enhancement, optuna.samplers

#3777 Remove "Edit on Github" button
  docs/source/conf.py
Labels: document

#3754 Refactor pareto front
  optuna/visualization/_pareto_front.py
  optuna/visualization/matplotlib/_pareto_front.py
Labels: code-fix, optuna.visualization, v3

#3787 Refactor non-exist param test in `plot_contour` test
  tests/visualization_tests/test_contour.py
Labels: code-fix

#3765 Refactor importances plot
  optuna/visualization/_param_importances.py
  optuna/visualization/matplotlib/_param_importances.py
Labels: code-fix, optuna.visualization

#3764 Add tests for `_dominates` function
  tests/study_tests/test_multi_objective.py
Labels: test

#3659 Remove the implementation of `read_trials_from_remote_storage` in the all storages apart from CachedStorage
  optuna/storages/_base.py
  optuna/storages/_cached_storage.py
  optuna/storages/_in_memory.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  optuna/study/study.py
  tests/storages_tests/test_cached_storage.py
  tests/storages_tests/test_storages.py
Labels: code-fix, optuna.storages

#3734 Unify the logic of `plot_parallel_coordinate`s
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/matplotlib/_parallel_coordinate.py
  tests/visualization_tests/matplotlib_tests/test_parallel_coordinate.py
Labels: code-fix, optuna.visualization, v3

#3789 Remove `less_than_two` and `more_than_three` options from `prepare_study_with_trials`.
  optuna/testing/visualization.py
  tests/visualization_tests/test_contour.py
Labels: code-fix, optuna.testing

#3580 Install 3rd party libraries in CI for lint
  .github/workflows/checks-integration.yml
  benchmarks/run_bayesmark.py
  optuna/integration/chainer.py
  optuna/integration/pytorch_distributed.py
  optuna/integration/pytorch_lightning.py
  optuna/integration/xgboost.py
  setup.cfg
  tests/integration_tests/test_chainer.py
  tests/integration_tests/test_pytorch_distributed.py
  tests/integration_tests/test_pytorch_lightning.py
  tests/trial_tests/test_trial.py
Labels: CI

#3756 Add `seed` argument for `BoTorchSampler`
  optuna/integration/botorch.py
  tests/integration_tests/test_botorch.py
Labels: feature, optuna.integration

#3775 DRY constraints in `Sampler.after_trial`
  optuna/integration/botorch.py
  optuna/samplers/_base.py
  optuna/samplers/_tpe/sampler.py
  optuna/samplers/nsgaii/_sampler.py
  tests/integration_tests/test_botorch.py
Labels: code-fix, optuna.integration, optuna.samplers

#3785 DRY importance tests
  .github/workflows/tests.yml
  tests/importance_tests/test_fanova.py
  tests/importance_tests/test_init.py
  tests/importance_tests/test_mean_decrease_impurity.py
  tests/integration_tests/test_shap.py
Labels: code-fix

#3791 Add `seed` argument for `SkoptSampler`
  optuna/integration/skopt.py
Labels: feature, optuna.integration

#3797 Fix type hints for mypy 0.971
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: CI

#3794 Move tests for `create_trial`
  tests/trial_tests/test_frozen.py
  tests/trial_tests/test_trial.py
Labels: test

#3757 Test samplers are reproducible
  tests/integration_tests/test_botorch.py
  tests/samplers_tests/test_samplers.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: test, optuna.integration, v3

#3802 Change warning for `axis_order` of `plot_pareto_front`
  optuna/visualization/_pareto_front.py
Labels: bug, optuna.visualization

#3683 Add tests for `_constrained_dominates`
  tests/samplers_tests/test_nsgaii.py
  tests/study_tests/test_multi_objective.py
Labels: test

#3810 Fix a typo in docstring of `ShapleyImportanceEvaluator`
  optuna/integration/shap.py
Labels: document, optuna.integration

#3818 Fix return value's type of `_get_node_value`
  optuna/importance/_fanova/_tree.py
Labels: code-fix, optuna.importance

#3809 Describe the purpose of `prepare_study_with_trials`
  optuna/testing/visualization.py
Labels: document, optuna.testing

#3745 Refactor `test_intermediate_plot.py`
  optuna/visualization/_intermediate_values.py
  optuna/visualization/matplotlib/_intermediate_values.py
  tests/visualization_tests/matplotlib_tests/test_intermediate_plot.py
  tests/visualization_tests/test_intermediate_plot.py
Labels: test, optuna.visualization, v3

#3768 Raise `ValueError` for invalid returned type of `target` in `_filter_nonfinite`
  optuna/visualization/_contour.py
  optuna/visualization/_utils.py
  tests/visualization_tests/test_utils.py
Labels: code-fix, optuna.visualization, stale

#3822 Revert AllenNLP integration back to experimental
  optuna/integration/allennlp/_executor.py
  optuna/integration/allennlp/_pruner.py
Labels: feature, optuna.integration

#3816 Avoid to stale description-checked issues
  .github/workflows/stale.yml
Labels: CI

#3819 Fix `Study.tell` with invalid values
  optuna/study/_tell.py
  tests/study_tests/test_study.py
Labels: bug

#3814 Raise `ValueError` when waiting trial is told
  optuna/study/_tell.py
  tests/study_tests/test_study.py
Labels: bug

#3738 Raise error on `nan` in `_constrained_dominates`
  optuna/samplers/nsgaii/_sampler.py
  tests/samplers_tests/test_nsgaii.py
Labels: bug, optuna.samplers, v3
