Repository optuna/optuna, pull requests merged in 2022-09, with the labels that each got.

#3950 Hotfix `botorch` module by adding the version constraint of `gpytorch`
  .github/workflows/tests.yml
  setup.py
Labels: CI

#3854 Add journal-style log storage
  docs/source/reference/storages.rst
  optuna/storages/__init__.py
  optuna/storages/_journal/__init__.py
  optuna/storages/_journal/base.py
  optuna/storages/_journal/file.py
  optuna/storages/_journal/storage.py
  optuna/study/_study_direction.py
  optuna/testing/storages.py
  optuna/trial/_state.py
  tests/storages_tests/test_journal.py
  tests/storages_tests/test_storages.py
Labels: feature, optuna.storages, optuna.testing, optuna.trial

#3915 Reduce warning messages by `tests/study_tests/`
  tests/study_tests/test_study.py
Labels: test

#3902 Update cli tutorial
  optuna/cli.py
  tutorial/20_recipes/004_cli.py
Labels: document, code-fix

#3953 Fix infinite loop bug in `TPESampler`
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
Labels: optuna.samplers

#3957 Fix GridSampler
  optuna/samplers/_grid.py
Labels: bug, optuna.samplers

#3959 Use the latest stable scipy
  optuna/samplers/_qmc.py
  setup.py
Labels: optuna.samplers

#3952 Remove "Edit on GitHub" button from readthedocs
  docs/source/_templates/breadcrumbs.html
  docs/source/conf.py
Labels: document

#3841 Refactor `_tell.py`
  optuna/study/_optimize.py
  optuna/study/_tell.py
  optuna/study/study.py
  tests/study_tests/test_optimize.py
  tests/study_tests/test_study.py
Labels: code-fix

#3973 Bump up version number to v3.0.1
  optuna/version.py
Labels: other

#3987 Use PyTorch 1.11 for consistency and fix a typo
  .github/workflows/mac-tests.yml
Labels: CI

#3993 Use `log_loss` instead of deprecated `log` since `sklearn` 1.1
  tutorial/20_recipes/006_user_defined_pruner.py
Labels: document

#3992 Mention restoring sampler in saving/resuming tutorial
  tutorial/20_recipes/001_rdb.py
Labels: document

#3916 Remove dynamic search space based objective from a parallel job test
  tests/study_tests/test_study.py
Labels: test, stale

#3924 Ignore `RuntimeWarning` when `nanmin` and `nanmax` take an array only containing nan values from `pruners_tests`
  tests/pruners_tests/test_median.py
  tests/pruners_tests/test_patient.py
  tests/pruners_tests/test_percentile.py
Labels: test, stale

#3914 Suppress warnings and minor code fixes in `tests/trial_tests`
  optuna/trial/_trial.py
  tests/trial_tests/test_fixed.py
  tests/trial_tests/test_frozen.py
  tests/trial_tests/test_trial.py
  tests/trial_tests/test_trials.py
Labels: test, stale

#3967 Fix an import error of `sqlalchemy.orm.declarative_base`
  optuna/storages/_rdb/alembic/versions/v3.0.0.b.py
  setup.py
Labels: bug, optuna.storages

#3954 Resolve warnings in `tests/visualization_tests/test_contour.py`
  tests/visualization_tests/test_contour.py
Labels: test, optuna.visualization

#3910 Move default logic of `get_trial_id_from_study_id_trial_number()` method to BaseStorage.
  optuna/storages/_base.py
  optuna/study/_tell.py
  tests/study_tests/test_study.py
Labels: enhancement, optuna.storages

#3906 Replace `thop` with `fvcore`
  setup.py
  tutorial/20_recipes/002_multi_objective.py
Labels: document

#3990 Make typing_extensions optional.
  optuna/_convert_positional_args.py
  optuna/_deprecated.py
  optuna/_experimental.py
  optuna/integration/pytorch_distributed.py
  setup.py
Labels: installation, optuna.integration

#3991 Bump up version number to 3.0.2
  optuna/version.py
Labels: other

#4004 [Backport] Merge pull request #3967 from c-bata/fix-issue-3966
  optuna/storages/_rdb/alembic/versions/v3.0.0.b.py
  setup.py
Labels: bug, optuna.storages

#4005 [Backport] Merge pull request #3990 from c-bata/make-typing-extensions-optional
  optuna/_convert_positional_args.py
  optuna/_deprecated.py
  optuna/_experimental.py
  optuna/integration/pytorch_distributed.py
  setup.py
Labels: installation, optuna.integration

#3948 Refine docs in `BaseStorage`
  optuna/storages/_base.py
  optuna/storages/_cached_storage.py
Labels: document, optuna.storages

#3989 Remove warning from a few visualizaiton tests
  optuna/visualization/matplotlib/_parallel_coordinate.py
  tests/visualization_tests/test_edf.py
  tests/visualization_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_param_importances.py
Labels: test, optuna.visualization

#3986 Remove GPyTorch version constraint
  .github/workflows/tests.yml
  setup.py
Labels: CI, installation, stale

#3983 Drop python 3.6 from integration CIs
  .github/workflows/tests-integration.yml
  .github/workflows/tests-mpi.yml
Labels: CI

#4021 Fix script path in benchmarks/README.md
  benchmarks/README.md
Labels: document

#4025 Avoid parse errors of `datetime.isoformat` strings
  optuna/storages/_journal/storage.py
  tests/storages_tests/test_storages.py
Labels: bug, optuna.storages

#4024 Remove warnings from `tests/visualization_tests/test_optimization_history.py`
  tests/visualization_tests/test_optimization_history.py
Labels: test
