Repository optuna/optuna, pull requests merged in 2022-03, with the labels that each got.

#3345 added reference to Saving/Resuming Study with RDB Backend
  optuna/study/study.py
Labels: document, sprint-20210227, v3

#3332 Scikit-learn required for plot_param_importances.
  docs/source/reference/visualization/index.rst
Labels: document

#3360 Fix a typo.
  optuna/_imports.py
Labels: document

#3337 Follow up for {Float, Int} distributions
  optuna/distributions.py
  tests/integration_tests/test_chainermn.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
  tests/test_distributions.py
Labels: code-fix, v3, sprint-20220227

#3341 add targets and deprecate axis_order in optuna.visualization.matplotlib.plot_pareto_front
  optuna/visualization/matplotlib/_pareto_front.py
  tests/visualization_tests/matplotlib_tests/test_pareto_front.py
Labels: feature, optuna.visualization, sprint-20220227

#3320 Add reference to `QMCSampler` in tutorial
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
Labels: document

#3352 Fix missing `user_attrs` and `system_attrs` in study summaries.
  optuna/storages/_rdb/storage.py
  tests/storages_tests/test_storages.py
Labels: bug, optuna.storages

#2734 add CatBoostPruningCallback
  README.md
  docs/source/reference/integration.rst
  examples/README.md
  optuna/integration/__init__.py
  optuna/integration/catboost.py
  setup.py
  tests/integration_tests/test_catboost.py
Labels: feature, optuna.integration, no-stale

#3359 update type hints of `states`
  optuna/_callbacks.py
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/integration/cma.py
  optuna/multi_objective/study.py
  optuna/pruners/_hyperband.py
  optuna/samplers/_tpe/sampler.py
  optuna/storages/_base.py
  optuna/storages/_cached_storage.py
  optuna/storages/_in_memory.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  optuna/study/study.py
Labels: code-fix, optuna.integration, optuna.pruners, optuna.samplers, optuna.storages

#3364 Remove deprecated command `optuna study optimize` in FAQ
  docs/source/faq.rst
Labels: document

#3380 Fix nit typo
  optuna/samplers/_tpe/sampler.py
Labels: code-fix, optuna.samplers

#3109 Add option to exclude best trials from study summaries
  optuna/cli.py
  optuna/storages/_base.py
  optuna/storages/_cached_storage.py
  optuna/storages/_in_memory.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  optuna/study/study.py
  tests/storages_tests/test_storages.py
  tests/study_tests/test_study.py
  tests/study_tests/test_study_summary.py
  tests/test_cli.py
Labels: compatibility, optuna.storages

#3369 Fix objective scale in parallel coordinate of Matplotlib
  optuna/visualization/matplotlib/_parallel_coordinate.py
Labels: bug, optuna.visualization, v3

#3362 Fix speed benchmarks
  .github/workflows/speed-benchmarks.yml
  benchmarks/optimize.py
  setup.py
Labels: CI

#3319 Clip untransformed values sampled from int uniform distributions
  optuna/_transform.py
  tests/test_transform.py
Labels: bug

#3396 Added see also section for best_trial
  optuna/study/study.py
Labels: document

#3374 Improve Ctrl-C interruption handling
  optuna/study/_optimize.py
  optuna/study/study.py
Labels: enhancement

#3371 Fix `matplotlib.plot_parallel_coordinate` with log distributions
  optuna/visualization/matplotlib/_parallel_coordinate.py
  tests/visualization_tests/matplotlib_tests/test_parallel_coordinate.py
Labels: bug, optuna.visualization

#3373 Fix parallel coordinate with missing value
  optuna/visualization/_parallel_coordinate.py
  tests/visualization_tests/test_parallel_coordinate.py
Labels: bug, optuna.visualization, v3

#3406 Remove unnecessary string concatenation
  optuna/samplers/_cmaes.py
Labels: code-fix, optuna.samplers

#3378 Cleanup `MLflowCallback` tests
  tests/integration_tests/test_mlflow.py
Labels: test

#3408 Follow coding style and fix typos in `tests/integration_tests`
  tests/integration_tests/allennlp_tests/test_allennlp.py
  tests/integration_tests/test_botorch.py
  tests/integration_tests/test_catboost.py
  tests/integration_tests/test_lightgbm.py
  tests/integration_tests/test_mlflow.py
  tests/integration_tests/test_mxnet.py
  tests/integration_tests/test_sampler.py
Labels: code-fix

#3398 Updates the tutorial page for re-use the best trial
  tutorial/20_recipes/010_reuse_best_trial.py
Labels: document

#3323 Merge `set_trial_state()` and `set_trial_values()` into one function
  optuna/storages/_base.py
  optuna/storages/_cached_storage.py
  optuna/storages/_in_memory.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  optuna/study/study.py
  optuna/testing/integration.py
  optuna/testing/storage.py
  tests/pruners_tests/test_percentile.py
  tests/storages_tests/test_cached_storage.py
  tests/storages_tests/test_storages.py
  tests/storages_tests/test_with_server.py
Labels: feature, optuna.storages, optuna.testing

#3413 Avoid latest `click==8.1.0` that removed a deprecated feature
  setup.py
Labels: installation

#3294 Add a document to lead FAQ and example of heartbeat
  docs/source/faq.rst
  optuna/_callbacks.py
  optuna/storages/_rdb/storage.py
Labels: document, optuna.storages, v3

#3417 Avoid latest PyTorch lightning until integration is updated
  setup.py
Labels: installation

#3376 Use same colormap among plotly visualization methods
  optuna/testing/visualization.py
  optuna/visualization/_contour.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_slice.py
  optuna/visualization/_utils.py
  tests/visualization_tests/test_contour.py
  tests/visualization_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_pareto_front.py
  tests/visualization_tests/test_slice.py
Labels: optuna.visualization, v3

#3410 Return the best trial number, not worst trial number by `best_index_`
  optuna/integration/sklearn.py
Labels: bug, optuna.integration

#3407 Test serialize/deserialize storage on parametrized conditions
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_storages.py
Labels: test

#3265 Enable cache for `study.tell()`
  optuna/storages/_cached_storage.py
Labels: enhancement, optuna.storages, no-stale, sprint-20220130

#3395 Add utility to filter trials with `inf` values from visualizations
  optuna/visualization/_utils.py
  tests/visualization_tests/test_utils.py
Labels: bug, optuna.visualization, v3

#3422 Avoid using px.colors.sequential.Blues that introduces pandas dep
  optuna/visualization/_utils.py
Labels: optuna.visualization
