Repository optuna/optuna, pull requests merged in 2022-05, with the labels that each got.

#3500 Filter trials with nonfinite value in `optuna.visualization.plot_param_importances` and `optuna.visualization.matplotlib.plot_param_importance`
  optuna/importance/_fanova/_evaluator.py
  optuna/importance/_mean_decrease_impurity.py
  optuna/visualization/_param_importances.py
  optuna/visualization/matplotlib/_param_importances.py
  tests/importance_tests/test_fanova.py
  tests/importance_tests/test_mean_decrease_impurity.py
  tests/visualization_tests/matplotlib_tests/test_param_importances.py
  tests/visualization_tests/test_param_importances.py
Labels: bug, optuna.importance, v3, sprint-20220424

#3533 Fix typo in mlflow callback
  optuna/integration/mlflow.py
Labels: document, optuna.integration

#3444 Fix distribution compatibility for linear and logarithmic distribution
  optuna/distributions.py
  tests/integration_tests/test_chainermn.py
  tests/test_distributions.py
Labels: compatibility, v3

#3549 Hotfix for `fakeredis` 1.7.4 release
  setup.py
Labels: other

#3527 Make `GridSampler` reproducible
  optuna/samplers/_grid.py
  tests/samplers_tests/test_grid.py
Labels: feature, optuna.samplers

#3545 Replace `ValueError` with `warning` in `GridSearchSampler`
  optuna/samplers/_grid.py
  tests/samplers_tests/test_grid.py
Labels: feature, optuna.samplers

#3482 Add a link to Minituna in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: document, stale

#3541 Replace `ValueError` with `RuntimeError` in `get_best_trial`
  optuna/storages/_in_memory.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  tests/storages_tests/test_storages.py
Labels: bug, optuna.storages

#3532 Fix `--verbose` and `--quiet` options in CLI
  optuna/cli.py
  tests/test_cli.py
Labels: bug

#3551 Remove duplicated DB access in `_log_completed_trial`
  optuna/study/study.py
  tests/study_tests/test_study.py
Labels: code-fix

#3480 Add test cases for test_storages.py
  tests/storages_tests/test_storages.py
Labels: test, optuna.storages

#3327 Set `precision` of `sqlalchemy.Float` in `RDBStorage` table definition
  optuna/storages/_rdb/alembic/env.py
  optuna/storages/_rdb/alembic/versions/v3.0.0.b.py
  optuna/storages/_rdb/models.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/rdb_tests/test_upgrade_assets/0.9.0.a.db
  tests/storages_tests/rdb_tests/test_upgrade_assets/1.2.0.a.db
  tests/storages_tests/rdb_tests/test_upgrade_assets/1.3.0.a.db
  tests/storages_tests/rdb_tests/test_upgrade_assets/2.4.0.a.db
  tests/storages_tests/rdb_tests/test_upgrade_assets/2.6.0.a.db
  tests/storages_tests/rdb_tests/test_upgrade_assets/3.0.0.a.db
  tests/storages_tests/rdb_tests/test_upgrade_assets/3.0.0.b.db
Labels: enhancement, optuna.storages

#3554 Reduce the number of `copy.deepcopy()` calls in `importance` module.
  optuna/importance/_base.py
Labels: code-fix, optuna.importance

#3536 Improve issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/questions-help-support.yml
Labels: other

#3557 Remove duplicated `check_trial_is_updatable`
  optuna/storages/_in_memory.py
Labels: code-fix, optuna.storages

#3546 Improve the tests of `optuna.visualization.plot_pareto_front`
  optuna/visualization/_pareto_front.py
  optuna/visualization/matplotlib/_pareto_front.py
  tests/visualization_tests/matplotlib_tests/test_pareto_front.py
  tests/visualization_tests/test_pareto_front.py
Labels: test, optuna.visualization

#3544 Take the same search space as in `CategoricalDistribution` by `GridSearchSampler`
  optuna/samplers/_grid.py
  tests/samplers_tests/test_grid.py
Labels: bug, optuna.samplers

#3562 Replace `optuna.testing.integration.create_running_trial` with `study.ask`
  optuna/testing/integration.py
  tests/integration_tests/test_catboost.py
  tests/integration_tests/test_chainer.py
  tests/integration_tests/test_keras.py
  tests/integration_tests/test_lightgbm.py
  tests/integration_tests/test_pytorch_ignite.py
  tests/integration_tests/test_pytorch_lightning.py
  tests/integration_tests/test_tfkeras.py
  tests/integration_tests/test_xgboost.py
Labels: code-fix, optuna.testing

#3568 Improve docstring of GridSampler's seed option
  optuna/samplers/_grid.py
Labels: document, optuna.samplers

#3471 Make Parallel-Coordinate plots handle trials with nonfinite values
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/matplotlib/_parallel_coordinate.py
  tests/visualization_tests/matplotlib_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_parallel_coordinate.py
Labels: enhancement, optuna.visualization, v3

#3368 Improve Matplotlib parallel coordinate test
  optuna/visualization/matplotlib/_parallel_coordinate.py
  tests/visualization_tests/matplotlib_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_parallel_coordinate.py
Labels: test, v3

#3561 Remove the version constraint of `fakeredis`
  setup.py
Labels: other

#3465 Add NASBench201 from NASLib
  .github/workflows/performance-benchmarks-naslib.yml
  benchmarks/README.md
  benchmarks/naslib/problem.py
  benchmarks/run_naslib.py
Labels: CI, v3

#3510 Support PyTorch 1.11.0
  .github/workflows/coverage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests.yml
  setup.py
  tests/integration_tests/test_catboost.py
  tests/samplers_tests/test_samplers.py
  tox.ini
Labels: CI, code-fix, installation

#3538 Remove `get_study_id_from_trial_id`
  optuna/storages/_base.py
  optuna/storages/_cached_storage.py
  optuna/storages/_in_memory.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  tests/storages_tests/test_storages.py
Labels: compatibility, optuna.storages

#3574 Refactor `test_get_observation_pairs`
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: test, code-fix

#3517 Cleanup setuppy
  .github/workflows/coverage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/sphinx-build.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests-storage.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Dockerfile
  setup.py
  tox.ini
Labels: CI, installation

#3496 Fix `benchmarks/README.md` for the `bayesmark` section
  benchmarks/README.md
Labels: document, sprint-20220424

#3475 Separate heartbeat functionality from `BaseStorage`
  optuna/storages/_base.py
  optuna/storages/_cached_storage.py
  optuna/storages/_heartbeat.py
  optuna/storages/_rdb/storage.py
  optuna/storages/_redis.py
  optuna/study/_optimize.py
  tests/storages_tests/test_storages.py
Labels: enhancement, optuna.storages

#3576 Add tests for inf/nan objectives for `ShapleyImportanceEvaluator`
  tests/integration_tests/test_shap.py
Labels: test

#3581 Add option to skip table creation to `RDBStorage`.
  optuna/cli.py
  optuna/storages/_rdb/storage.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: feature, optuna.storages

#3585 Restore virtualenv for benchmark extras
  setup.py
Labels: CI

#3577 Implement `callbacks` argument of `OptunaSearchCV`
  optuna/integration/sklearn.py
  tests/integration_tests/test_sklearn.py
Labels: feature, optuna.integration

#3497 Support `constraints_func` in `plot_pareto_front` in matplotlib visualization.
  optuna/visualization/matplotlib/_pareto_front.py
  tests/visualization_tests/matplotlib_tests/test_pareto_front.py
Labels: feature, optuna.visualization, sprint-20220424

#3591 Use `protobuf<4.0.0` to resolve Sphinx CI error
  setup.py
Labels: CI

#3490 Remove torch.distributed calls from TorchDistributedTrial properties
  optuna/integration/pytorch_distributed.py
  tests/integration_tests/test_pytorch_distributed.py
Labels: enhancement, optuna.integration

#3571 Add the samplers comparison table
  docs/source/reference/samplers/index.rst
Labels: document, v3

#3588 Replace unused variable name with underscore.
  tests/visualization_tests/matplotlib_tests/test_pareto_front.py
  tests/visualization_tests/test_pareto_front.py
Labels: code-fix

#3590 Replace `youtube.com` with `youtube-nocookie.com`
  tutorial/10_key_features/004_distributed.py
  tutorial/README.rst
Labels: document

#3587 Update label of feasible trials if `constraints_func` is specified
  optuna/visualization/matplotlib/_pareto_front.py
Labels: code-fix, optuna.visualization

#3564 Add intermediate_value_type column to represent inf/-inf on RDBStorage.
  optuna/storages/_rdb/alembic/versions/v3.0.0.c.py
  optuna/storages/_rdb/models.py
  optuna/storages/_rdb/storage.py
  tests/storages_tests/rdb_tests/test_models.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/rdb_tests/test_upgrade_assets/3.0.0.c.db
  tests/storages_tests/test_with_server.py
Labels: enhancement, optuna.storages

#3349 Add WFG benchmark test
  benchmarks/kurobako/__init__.py
  benchmarks/kurobako/problems/wfg/problem.py
  benchmarks/kurobako/problems/wfg/shape_functions.py
  benchmarks/kurobako/problems/wfg/transformation_functions.py
  benchmarks/naslib/__init__.py
  benchmarks/run_mo_kurobako.py
Labels: sprint-20220227

#3594 Remove `language` from docs configuration
  docs/source/conf.py
Labels: document

#3543 Remove the internal logic that calculates the interaction of two or more variables in fANOVA
  optuna/importance/_fanova/_evaluator.py
  optuna/importance/_fanova/_fanova.py
  optuna/importance/_fanova/_tree.py
Labels: enhancement, optuna.importance

#3598 Unpin `protobuf`
  setup.py
Labels: CI

#3599 Enable `no-implicit-optional` for `mypy`
  optuna/integration/botorch.py
  setup.cfg
Labels: code-fix, optuna.integration

#3553 Move heartbeat-related tests in `test_storages.py` to another file
  tests/storages_tests/test_heartbeat.py
  tests/storages_tests/test_storages.py
Labels: test, optuna.storages

#3602 Enable `warn_redundant_casts` for `mypy`
  optuna/storages/_in_memory.py
  optuna/storages/_redis.py
  setup.cfg
Labels: code-fix, optuna.storages
