Repository optuna/optuna, pull requests merged in 2022-12, with the labels that each got.

#4204 Remove `test/integration_tests/test_sampler.py`
  tests/integration_tests/test_cma.py
  tests/integration_tests/test_sampler.py
  tests/integration_tests/test_skopt.py
Labels: test

#4217 Update the description of optuna-dashboard on README.
  README.md
Labels: other

#4176 Add `DaskStorage` to existing storage tests
  optuna/integration/dask.py
  optuna/testing/storages.py
  tests/study_tests/test_study.py
Labels: test, optuna.integration, optuna.testing

#4228 Pin `botorch` to avoid CI failure
  setup.py
Labels: CI

#4184 Fix CmaEs system attribution key
  optuna/samplers/_cmaes.py
  tests/samplers_tests/test_cmaes.py
Labels: bug, optuna.samplers

#4227 WIP moved _solve_hssp to _hypervolume/utils.py
  optuna/_hypervolume/__init__.py
  optuna/_hypervolume/hssp.py
  optuna/samplers/_tpe/sampler.py
  tests/hypervolume_tests/test_hssp.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
Labels: code-fix, optuna.samplers, sprint-20221202

#4238 Remove `optuna.TYPE_CHECKING`
  optuna/__init__.py
Labels: other

#4240 Add an in-memory cache in `Trial` class
  optuna/trial/_trial.py
Labels: enhancement, optuna.samplers, optuna.storages, optuna.trial

#4243 Add the `pytest` dependency for asv.
  asv.conf.json
Labels: CI

#4244 Add the `BruteForceSampler` example to the document
  optuna/samplers/_brute_force.py
Labels: document, optuna.samplers

#4206 Update action/checkout@v2 -> v3
  .github/workflows/checks-integration.yml
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  .github/workflows/dockerimage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/performance-benchmarks-bayesmark.yml
  .github/workflows/performance-benchmarks-kurobako.yml
  .github/workflows/performance-benchmarks-mo-kurobako.yml
  .github/workflows/performance-benchmarks-naslib.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/reviewdog.yml
  .github/workflows/speed-benchmarks.yml
  .github/workflows/sphinx-build.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests-mpi.yml
  .github/workflows/tests-storage.yml
  .github/workflows/tests-with-minimum-versions.yml
  .github/workflows/tests.yml
Labels: CI

#4188 Deprecate `set_system_attr` in Study and Trial
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/integration/chainermn.py
  optuna/integration/mlflow.py
  optuna/integration/pytorch_distributed.py
  optuna/integration/pytorch_lightning.py
  optuna/multi_objective/samplers/_nsga2.py
  optuna/multi_objective/study.py
  optuna/multi_objective/trial.py
  optuna/samplers/nsgaii/_sampler.py
  optuna/study/_tell.py
  optuna/study/study.py
  optuna/trial/_base.py
  optuna/trial/_fixed.py
  optuna/trial/_frozen.py
  optuna/trial/_trial.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_pytorch_distributed.py
  tests/multi_objective_tests/test_study.py
  tests/multi_objective_tests/test_trial.py
  tests/pruners_tests/test_hyperband.py
  tests/storages_tests/rdb_tests/create_db.py
  tests/storages_tests/rdb_tests/test_storage.py
  tests/storages_tests/test_heartbeat.py
  tests/storages_tests/test_with_server.py
  tests/study_tests/test_dataframe.py
  tests/study_tests/test_study.py
  tests/trial_tests/test_trials.py
Labels: compatibility, optuna.integration, optuna.samplers, optuna.trial

#4208 Update actions/stale@v5 -> v6
  .github/workflows/stale.yml
Labels: CI

#4247 Fix an inline markup in distributed tutorial
  tutorial/10_key_features/004_distributed.py
Labels: document

#4232 Remove `RedisStorage` from docstring
  optuna/storages/_heartbeat.py
Labels: document, optuna.storages

#4190 Fix a test error in `test_catboost.py`
  tests/integration_tests/test_catboost.py
Labels: test

#4246 Avoid to decode log string in `JournalRedisStorage`.
  optuna/storages/_journal/redis.py
Labels: code-fix, optuna.storages

#4226 Introduce Optuna Dashboard in tutorial docs
  tutorial/10_key_features/005_visualization.py
Labels: document

#4186 Support for qNoisyExpectedHypervolumeImprovement acquisition function from Botorch (Issue#4014)
  docs/source/reference/integration.rst
  optuna/integration/botorch.py
  tests/integration_tests/test_botorch.py
Labels: feature, optuna.integration

#4245 Improve the document of `BruteForceSampler`
  optuna/samplers/_brute_force.py
Labels: document, optuna.samplers

#4257 [Backport] Fix bugs in `constant_liar` option
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: bug, optuna.samplers

#4250 Deprecate `system_attrs` in `Study` class
  optuna/multi_objective/samplers/_nsga2.py
  optuna/multi_objective/study.py
  optuna/samplers/nsgaii/_sampler.py
  optuna/study/_study_summary.py
  optuna/study/study.py
  tests/multi_objective_tests/samplers_tests/test_nsga2.py
  tests/samplers_tests/test_nsgaii.py
  tests/storages_tests/test_heartbeat.py
  tests/study_tests/test_study.py
Labels: compatibility, optuna.samplers

#4262 Bump Optuna to v3.1.0-b0
  optuna/version.py
Labels: other

#4106 PyTorchDistributed use `group` as parameter instead of device
  optuna/integration/pytorch_distributed.py
Labels: feature, optuna.integration

#4233 Add tests for `CmaEsSampler`.
  optuna/samplers/_cmaes.py
  tests/samplers_tests/test_cmaes.py
Labels: code-fix, optuna.samplers

#4267 Fix a typo in `BruteForceSampler`
  optuna/samplers/_brute_force.py
Labels: document, optuna.samplers

#4270 Fix a typo in `XGBoostPruningCallback`
  optuna/integration/xgboost.py
Labels: document, optuna.integration

#4269 Update FAQ
  docs/source/faq.rst
Labels: document

#4266 Remove `device` argument of `TorchDistributedTrial`.
  optuna/integration/pytorch_distributed.py
Labels: compatibility, optuna.integration

#4189 Add a `directions` arg to `storage.create_new_study`
  optuna/integration/dask.py
  optuna/storages/_base.py
  optuna/storages/_cached_storage.py
  optuna/storages/_in_memory.py
  optuna/storages/_journal/storage.py
  optuna/storages/_rdb/models.py
  optuna/storages/_rdb/storage.py
  optuna/study/study.py
  tests/storages_tests/rdb_tests/test_models.py
  tests/storages_tests/test_cached_storage.py
  tests/storages_tests/test_storages.py
  tests/storages_tests/test_with_server.py
  tests/test_cli.py
Labels: compatibility, optuna.integration, optuna.storages

#4271 Fix a typo in `TorchDistributedTrial`
  optuna/integration/pytorch_distributed.py
Labels: code-fix, optuna.integration

#4207 Update actions/cache@v2 -> v3
  .github/workflows/coverage.yml
  .github/workflows/performance-benchmarks-kurobako.yml
  .github/workflows/performance-benchmarks-mo-kurobako.yml
  .github/workflows/performance-benchmarks-naslib.yml
  .github/workflows/speed-benchmarks.yml
  .github/workflows/sphinx-build.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests-mpi.yml
  .github/workflows/tests-storage.yml
  .github/workflows/tests-with-minimum-versions.yml
  .github/workflows/tests.yml
Labels: CI

#4264 Deprecate `Trial.system_attrs` property method
  optuna/integration/chainermn.py
  optuna/integration/pytorch_distributed.py
  optuna/integration/pytorch_lightning.py
  optuna/trial/_trial.py
  tests/pruners_tests/test_successive_halving.py
Labels: compatibility, optuna.integration, optuna.trial

#4284 Fix CMAEvolutionStrategy link in integration.PyCmaSampler document
  optuna/integration/cma.py
Labels: document, optuna.integration

#4287 Resolve warnings by sphinx with nitpicky option and fix typos
  docs/source/reference/importance.rst
  docs/source/reference/integration.rst
  optuna/_callbacks.py
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/integration/mlflow.py
  optuna/integration/sklearn.py
  optuna/integration/wandb.py
  optuna/logging.py
  optuna/samplers/_qmc.py
  optuna/storages/_base.py
  optuna/storages/_rdb/storage.py
  optuna/study/study.py
  optuna/visualization/_pareto_front.py
  optuna/visualization/matplotlib/_pareto_front.py
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
  tutorial/20_recipes/003_attributes.py
  tutorial/20_recipes/006_user_defined_pruner.py
Labels: document, optuna.integration, optuna.samplers, optuna.storages, optuna.visualization
