Repository optuna/optuna, pull requests merged in 2022-10, with the labels that each got.

#3970 Reduced warning messages from tests/visualization_tests/test_slice.py
  tests/visualization_tests/test_slice.py
Labels: test, stale

#4036 Add version constraint on `importlib-metadata`
  setup.py
Labels: installation

#4015 Skip to add `intermediate_value_type` and `value_type` columns if exists
  optuna/storages/_rdb/alembic/versions/v3.0.0.c.py
  optuna/storages/_rdb/alembic/versions/v3.0.0.d.py
Labels: bug, optuna.storages

#4019 Remove `# type: ignore` for mypy 0.981
  tests/integration_tests/test_pytorch_lightning.py
  tests/multi_objective_tests/visualization_tests/test_pareto_front.py
Labels: CI

#4023 Fix duplicated sampling of `SkoptSampler`
  optuna/integration/skopt.py
Labels: bug, optuna.integration

#4020 Fix the data migration script for v3 release.
  optuna/storages/_rdb/alembic/versions/v3.0.0.c.py
  optuna/storages/_rdb/alembic/versions/v3.0.0.d.py
Labels: enhancement, optuna.storages

#4044 Add a version constraint of `matplotlib`
  setup.py
Labels: installation

#4034 Update docs to let users know the concurrency problem on SQLite3
  docs/source/faq.rst
  optuna/storages/_rdb/storage.py
Labels: document, optuna.storages

#4043 Backport #4036 and #4044 to pass tests on `release-v3.0.3` branch.
  setup.py
Labels: installation

#4035 Specify object type to numpy array init to avoid unintended str cast
  optuna/samplers/nsgaii/_crossover.py
Labels: bug, optuna.samplers

#4041 Bump up version to v3.0.3
  optuna/version.py
Labels: other

#4052 [Backport] Skip to add `intermediate_value_type` and `value_type` columns if exists
  optuna/storages/_rdb/alembic/versions/v3.0.0.c.py
  optuna/storages/_rdb/alembic/versions/v3.0.0.d.py
Labels: bug, optuna.storages

#4053 [Backport] Fix the data migration script for v3 release.
  optuna/storages/_rdb/alembic/versions/v3.0.0.c.py
  optuna/storages/_rdb/alembic/versions/v3.0.0.d.py
Labels: enhancement, optuna.storages

#4045 Fix the time complexity of `NSGAIISampler`
  docs/source/reference/samplers/index.rst
Labels: document

#4032 Ignore `ConvergenceWarning` in the ask-and-tell tutorial
  docs/source/conf.py
Labels: document, stale

#4055 Improve test for heartbeat: Add test for the case that trial state should be kept running
  tests/storages_tests/test_heartbeat.py
Labels: test

#3927 Remove warning messages from test files for `pytorch_distributed` and `chainermn` modules
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_pytorch_distributed.py
Labels: test

#4072 Remove warnings in the test of pereto front
  tests/visualization_tests/test_pareto_front.py
Labels: test

#4078 Remove `tox.ini`
  CONTRIBUTING.md
  pyproject.toml
  setup.cfg
  tox.ini
Labels: other

#4076 Add a flush to `JournalFileStorage.append_logs`
  optuna/storages/_journal/file.py
Labels: bug, optuna.storages

#4083 Replace gitter with GitHub Discussions
  CONTRIBUTING.md
  README.md
  docs/source/index.rst
Labels: other

#4082 Fix sampler comparison table
  docs/source/reference/samplers/index.rst
Labels: document

#4090 Deprecate description-checked label
  .github/workflows/stale.yml
Labels: other

#4091 Make `days-before-issue-stale` 300 days
  .github/workflows/stale.yml
Labels: other

#4033 Fix a concurrency bug of JournalStorage `set_trial_state_values`.
  optuna/storages/_journal/storage.py
  tests/storages_tests/test_journal.py
  tests/study_tests/test_study.py
Labels: bug, optuna.storages

#4095 Remove matplotlib `get_cmap` warning from `tests/visualization_tests/test_param_importances.py`
  optuna/visualization/matplotlib/_matplotlib_imports.py
  optuna/visualization/matplotlib/_param_importances.py
Labels: test, optuna.visualization

#4073 Fix bugs in `constant_liar` option
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: bug, optuna.samplers

#4086 Add journal redis storage
  .github/workflows/tests-storage.yml
  docs/source/reference/storages.rst
  optuna/storages/__init__.py
  optuna/storages/_journal/redis.py
  optuna/testing/storages.py
  setup.py
  tests/storages_tests/test_journal.py
  tests/storages_tests/test_with_server.py
Labels: feature, optuna.storages, optuna.testing

#4056 Make TPESampler reproducible
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/test_samplers.py
Labels: bug, optuna.samplers
