Repository optuna/optuna, pull requests merged in 2022-11, with the labels that each got.

#4109 Unnecessary space removed
  CONTRIBUTING.md
Labels: other

#4118 Avoid running `Tests` and `Tests (Storage with server)` with Python 3.6 to pass the CI
  .github/workflows/tests-storage.yml
  .github/workflows/tests.yml
Labels: CI

#4119 Skip `test_pop_waiting_trial_thread_safe` on RedisStorage
  tests/study_tests/test_study.py
Labels: test

#4127 Remove unused function: `find_any_distribution`
  setup.py
Labels: code-fix

#4117 Reduce tests' `n_trials` for CI time reduction
  tests/samplers_tests/test_samplers.py
Labels: test

#4133 support None in slice plot
  optuna/visualization/_slice.py
Labels: enhancement, optuna.visualization, sprint-20221106

#4134 add marker to matplotlib `plot_intermediate_value`
  optuna/visualization/matplotlib/_intermediate_values.py
Labels: enhancement, optuna.visualization, sprint-20221106

#4126 Validation enqueue trial
  optuna/distributions.py
  optuna/testing/distributions.py
  tests/test_distributions.py
Labels: enhancement, optuna.testing, sprint-20221106

#4128 Speed up `tests/samplers_tests/test_nsgaii.py::test_fast_non_dominated_sort_with_constraints`
  optuna/samplers/nsgaii/_sampler.py
  tests/samplers_tests/test_nsgaii.py
Labels: enhancement, optuna.samplers, sprint-20221106

#4079 Use all trials in TPESampler even when multivariate=True
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: compatibility, optuna.samplers

#4031 Unset `PYTHONHASHSEED` for the hash-depedenet test
  tests/samplers_tests/test_samplers.py
Labels: test

#4120 OptunaSearchCV rejects deprecated distributions in param_distributions
  optuna/integration/sklearn.py
  tests/integration_tests/test_sklearn.py
Labels: optuna.integration

#4135 add getstate and setstate to redis storage
  optuna/storages/_journal/storage.py
  optuna/storages/_redis.py
  tests/storages_tests/test_storages.py
  tests/storages_tests/test_with_server.py
Labels: enhancement, optuna.storages, sprint-20221106

#4139 journal redis supports pickle
  optuna/storages/_journal/redis.py
  tests/storages_tests/test_with_server.py
Labels: feature, optuna.storages, sprint-20221106

#4101 Add device argument to BoTorchSampler
  optuna/integration/botorch.py
  tests/integration_tests/test_botorch.py
Labels: optuna.integration

#4146 Cache `study.directions` to reduce the number of `get_study_directions()` calls.
  optuna/pruners/_hyperband.py
  optuna/study/study.py
Labels: enhancement

#4137 Validation for the parameter enqueued in to_internal_repr of FloatDistribution and IntDistribution
  optuna/distributions.py
  optuna/trial/_trial.py
  tests/test_distributions.py
Labels: bug, optuna.testing, sprint-20221106

#4132 Add `BruteForceSampler`
  docs/source/reference/samplers/index.rst
  optuna/samplers/__init__.py
  optuna/samplers/_brute_force.py
  tests/samplers_tests/test_brute_force.py
Labels: feature, optuna.samplers, sprint-20221106

#4145 Allow display names to be changed in benchmark scripts (Issue #4017)
  .github/workflows/performance-benchmarks-bayesmark.yml
  benchmarks/run_bayesmark.py
  benchmarks/run_kurobako.py
  benchmarks/run_mo_kurobako.py
  benchmarks/run_naslib.py
Labels: CI

#4150 Drop Python 3.6
  .github/workflows/dockerimage.yml
  .github/workflows/tests-storage.yml
  .github/workflows/tests.yml
  Dockerfile
  README.md
  docs/source/installation.rst
  optuna/_transform.py
  optuna/samplers/_qmc.py
  optuna/storages/_journal/storage.py
  optuna/trial/_frozen.py
  setup.py
  tests/samplers_tests/test_qmc.py
  tests/samplers_tests/test_samplers.py
Labels: compatibility, optuna.samplers, optuna.storages

#4153 Simplify the test of `BruteForceSampler` for infinite search space
  tests/samplers_tests/test_brute_force.py
Labels: test, optuna.samplers

#4155 Remove markup from NaN in FAQ.
  docs/source/faq.rst
Labels: document

#4138 Mark some tests slow and ignore in pull request trigger
  .github/workflows/tests.yml
  pyproject.toml
  tests/samplers_tests/test_samplers.py
Labels: CI, sprint-20221106

#4110 Enable mypy `--no-implicit-reexport` option.
  optuna/_hypervolume/__init__.py
  optuna/importance/_fanova/__init__.py
  optuna/integration/__init__.py
  optuna/integration/_lightgbm_tuner/__init__.py
  optuna/integration/allennlp/__init__.py
  optuna/integration/allennlp/_pruner.py
  optuna/integration/chainer.py
  optuna/integration/lightgbm.py
  optuna/integration/pytorch_lightning.py
  optuna/logging.py
  optuna/multi_objective/__init__.py
  optuna/multi_objective/samplers/__init__.py
  optuna/multi_objective/visualization/__init__.py
  optuna/samplers/nsgaii/_sampler.py
  optuna/study/_dataframe.py
  optuna/visualization/_plotly_imports.py
  optuna/visualization/matplotlib/_matplotlib_imports.py
  setup.cfg
  tests/integration_tests/allennlp_tests/test_allennlp.py
  tests/integration_tests/test_chainer.py
  tests/samplers_tests/test_nsgaii.py
  tests/storages_tests/test_cached_storage.py
Labels: code-fix, optuna.integration, optuna.samplers, optuna.visualization, optuna.importance

#4159 Disable scheduled workflow runs in forks
  .github/workflows/checks-integration.yml
  .github/workflows/checks.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests-mpi.yml
  .github/workflows/tests-storage.yml
  .github/workflows/tests.yml
Labels: CI

#4154 Add sep-CMA-ES in `parametrize_sampler`
  tests/samplers_tests/test_samplers.py
Labels: test

#4102 Add the feature to `JournalStorage` of Redis backend to resume from a snapshot
  optuna/storages/_journal/base.py
  optuna/storages/_journal/redis.py
  optuna/storages/_journal/storage.py
  optuna/testing/storages.py
  tests/storages_tests/test_journal.py
Labels: feature, optuna.storages, optuna.testing

#4161 Remove object inheritance from base classes
  optuna/_hypervolume/base.py
  optuna/distributions.py
  optuna/importance/_base.py
  optuna/multi_objective/samplers/_base.py
  optuna/pruners/_base.py
  optuna/samplers/_base.py
  optuna/samplers/nsgaii/_crossovers/_base.py
  optuna/storages/_base.py
  optuna/trial/_base.py
Labels: code-fix, optuna.pruners, optuna.samplers, optuna.storages, optuna.trial, optuna.importance

#4013 Deselect integration tests in Tests CI
  .github/workflows/mac-tests.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests.yml
  pyproject.toml
  tests/importance_tests/test_init.py
  tests/integration_tests/allennlp_tests/test_allennlp.py
  tests/integration_tests/lightgbm_tuner_tests/test_alias.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
  tests/integration_tests/test_botorch.py
  tests/integration_tests/test_catalyst.py
  tests/integration_tests/test_catboost.py
  tests/integration_tests/test_chainer.py
  tests/integration_tests/test_chainermn.py
  tests/integration_tests/test_cma.py
  tests/integration_tests/test_fastaiv2.py
  tests/integration_tests/test_integration.py
  tests/integration_tests/test_keras.py
  tests/integration_tests/test_lightgbm.py
  tests/integration_tests/test_mlflow.py
  tests/integration_tests/test_mxnet.py
  tests/integration_tests/test_pytorch_distributed.py
  tests/integration_tests/test_pytorch_ignite.py
  tests/integration_tests/test_pytorch_lightning.py
  tests/integration_tests/test_sampler.py
  tests/integration_tests/test_shap.py
  tests/integration_tests/test_sklearn.py
  tests/integration_tests/test_skopt.py
  tests/integration_tests/test_skorch.py
  tests/integration_tests/test_tensorboard.py
  tests/integration_tests/test_tensorflow.py
  tests/integration_tests/test_tfkeras.py
  tests/integration_tests/test_wandb.py
  tests/integration_tests/test_xgboost.py
  tests/samplers_tests/test_samplers.py
Labels: test

#4160 Remove the CircleCI job `document`
  .circleci/config.yml
  .github/workflows/circleci-artifacts-link.yml
  CONTRIBUTING.md
Labels: CI

#4162 Stop running reproducibility tests on CI for PR
  .github/workflows/tests-integration.yml
Labels: CI

#4163 Stop running reproducibility tests for coverage
  .github/workflows/coverage.yml
Labels: CI

#4167 Remove the document of the `multi_objective` module
  docs/Makefile
  docs/source/reference/index.rst
  docs/source/reference/multi_objective/index.rst
  docs/source/reference/multi_objective/samplers.rst
  docs/source/reference/multi_objective/study.rst
  docs/source/reference/multi_objective/trial.rst
  docs/source/reference/multi_objective/visualization.rst
Labels: document

#4166 Add `workflow_dispatch` trigger to the integration tests
  .github/workflows/tests-integration.yml
  .github/workflows/tests.yml
Labels: CI

#2023 Add Dask integration
  .gitignore
  docs/source/reference/integration.rst
  optuna/integration/__init__.py
  optuna/integration/dask.py
  setup.py
  tests/integration_tests/test_dask.py
  tests/integration_tests/test_integration.py
Labels: feature, optuna.integration, optuna.storages

#4156 Remove RedisStorage
  .github/workflows/tests-storage.yml
  asv.conf.json
  benchmarks/asv/optimize.py
  docs/source/reference/storages.rst
  optuna/integration/allennlp/_executor.py
  optuna/storages/__init__.py
  optuna/storages/_cached_storage.py
  optuna/storages/_redis.py
  optuna/testing/storages.py
  tests/integration_tests/test_pytorch_lightning.py
  tests/storages_tests/test_heartbeat.py
  tests/storages_tests/test_storages.py
  tests/storages_tests/test_with_server.py
  tests/study_tests/test_study.py
Labels: compatibility, optuna.integration, optuna.storages, optuna.testing

#4171 [hotfix] Fix CI errors when using `mlflow==2.0.1`
  setup.py
  tests/integration_tests/test_dask.py
Labels: CI

#4170 Fix a broken test for `dask.distributed` integration.
  tests/integration_tests/test_dask.py
Labels: test

#4177 Add `fakeredis` in benchmark deps
  setup.py
Labels: CI

#4179 Fix a typo in `QMCSampler`
  optuna/samplers/_qmc.py
Labels: document, optuna.samplers

#4097 Add a lock to `MLflowCallback`.
  optuna/integration/mlflow.py
  tests/integration_tests/test_mlflow.py
Labels: bug, optuna.integration

#3886 Gather mask of None parameter in TPESampler
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: code-fix, optuna.samplers

#4018 Support Python 3.11
  .github/workflows/dockerimage.yml
  .github/workflows/speed-benchmarks.yml
  .github/workflows/tests-storage.yml
  .github/workflows/tests.yml
  README.md
  setup.py
Labels: CI

#4129 Added `user_attrs` to print by optuna studies in `cli.py`
  optuna/cli.py
  tests/test_cli.py
Labels: feature, sprint-20221106

#4098 Add single exception catch to study optimize
  optuna/study/study.py
  tests/study_tests/test_study.py
Labels: enhancement

#4016 Support CMA-ES with margin in `CmaEsSampler`
  optuna/samplers/_cmaes.py
  setup.py
  tests/samplers_tests/test_cmaes.py
Labels: feature, optuna.samplers

#4185 Fix `asv` speed benchmark
  asv.conf.json
  setup.py
Labels: CI

#4125 Add workflow to test Optuna with lower versions of constraints
  .github/workflows/tests.yml
  setup.py
Labels: CI, sprint-20221106

#4062 Convert `search_space` values of `GridSampler` explicitly
  optuna/samplers/_grid.py
  tests/samplers_tests/test_grid.py
Labels: enhancement, optuna.samplers

#4199 Skip tests with minimum version for Python 3.10 and 3.11
  .github/workflows/tests.yml
Labels: CI

#4187 Simplify implementation of `_preprocess_argv` in CLI
  optuna/cli.py
Labels: code-fix

#4212 Add note not to share pickle files in bug reports.
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: other

#4151 Fix the bug of JournalFileStorage on Windows
  optuna/storages/_journal/file.py
Labels: bug, optuna.storages
