Repository optuna/optuna, pull requests merged in 2023-01, with the labels that each got.

#4291 Fix typos
  optuna/integration/sklearn.py
  optuna/samplers/_qmc.py
Labels: document, optuna.integration, optuna.samplers

#4275 Skip constraint check for running trial
  optuna/samplers/_tpe/sampler.py
Labels: optuna.samplers

#4283 Remove an `examples` directory
  README.md
  examples/README.md
Labels: other

#4143 suggest_categorical: Add overloads for type narrowing
  optuna/multi_objective/trial.py
  optuna/trial/_base.py
  optuna/trial/_fixed.py
  optuna/trial/_frozen.py
  optuna/trial/_trial.py
  tests/importance_tests/test_init.py
  tests/integration_tests/test_botorch.py
  tests/integration_tests/test_mlflow.py
  tests/integration_tests/test_shap.py
  tests/integration_tests/test_skopt.py
  tests/integration_tests/test_tensorboard.py
  tests/multi_objective_tests/test_trial.py
  tests/samplers_tests/test_grid.py
  tests/samplers_tests/test_partial_fixed.py
  tests/samplers_tests/test_qmc.py
  tests/samplers_tests/test_samplers.py
  tests/storages_tests/rdb_tests/create_db.py
  tests/study_tests/test_dataframe.py
  tests/study_tests/test_study.py
  tests/trial_tests/test_frozen.py
  tests/trial_tests/test_trial.py
Labels: enhancement, optuna.trial

#4299 Refer OPTUNA_STORAGE environment variable in optuna CLI
  optuna/cli.py
  tests/test_cli.py
Labels: enhancement

#4205 Show best trial number and value in progress bar
  optuna/progress_bar.py
  optuna/study/_optimize.py
  tests/study_tests/test_study.py
Labels: feature

#4306 Remove `OPTUNA_STORAGE` environment variable to check missing storage errors
  tests/test_cli.py
Labels: test

#4278 Fix mypy error abut `BoTorch` in Checks (integration)
  tests/integration_tests/test_botorch.py
Labels: CI, code-fix

#4309 Use `Trial` not `FrozenTrial` in a test of `WeightsAndBiasesCallback`
  tests/integration_tests/test_wandb.py
Labels: test

#4308 Improve the document of `JournalStorage`
  optuna/storages/_journal/storage.py
Labels: document, optuna.storages

#4289 Use `CMAwM` class even when there is no discrete params
  optuna/samplers/_cmaes.py
  setup.py
  tests/samplers_tests/test_cmaes.py
Labels: optuna.samplers

#4316 Make `OPTUNA_STORAGE` environment variable experimental
  optuna/cli.py
  tests/test_cli.py
Labels: enhancement

#4304 Avoid to use features that will be removed in SQLAlchemy v2.0
  .github/workflows/tests-storage.yml
  .github/workflows/tests.yml
  optuna/storages/_rdb/alembic/versions/v1.3.0.a.py
  optuna/storages/_rdb/alembic/versions/v2.4.0.a.py
  optuna/storages/_rdb/alembic/versions/v3.0.0.a.py
  optuna/storages/_rdb/alembic/versions/v3.0.0.b.py
  optuna/storages/_rdb/alembic/versions/v3.0.0.c.py
  optuna/storages/_rdb/alembic/versions/v3.0.0.d.py
  optuna/storages/_rdb/models.py
  optuna/storages/_rdb/storage.py
Labels: code-fix, optuna.storages

#4300 Apply `@overload` to `ChainerMNTrial` and `TorchDistributedTrial` (Follow-up of #4143)
  optuna/integration/chainermn.py
  optuna/integration/pytorch_distributed.py
Labels: enhancement, optuna.integration, optuna.trial

#4319 Activate a test case for `_set_alembic_revision`
  tests/storages_tests/rdb_tests/test_storage.py
Labels: test

#4318 Exclude benchmark directories from the sdist package
  setup.py
Labels: other

#4321 Update minimum version of cmaes.
  .github/workflows/tests-with-minimum-versions.yml
Labels: CI

#4315 Remove all CircleCI config.
  .circleci/config.yml
  .github/workflows/circleci-artifacts-link.yml
  CONTRIBUTING.md
  README.md
  optuna/study/_optimize.py
Labels: CI

#4332 Fix typo
  docs/source/index.rst
Labels: document

#4333 Fix docstring in `optuna/integration/dask.py`
  optuna/integration/dask.py
Labels: document, optuna.integration

#4337 Add test to check `error_score` is stored
  tests/integration_tests/test_sklearn.py
Labels: test

#4341 Use Sphinx 5 until `sphinx_rtd_theme` supports Sphinx 6
  setup.py
Labels: document

#4335 Remove `verbose_eval` argument from lightgbm callback in tutorial pages
  tutorial/10_key_features/005_visualization.py
  tutorial/20_recipes/008_specify_params.py
Labels: document

#4325 Fix constrained optimization with `TPESampler`'s `constant_liar`
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: bug, optuna.samplers

#4334 Mention `suggest_float` in `BruteForceSampler`
  optuna/samplers/_base.py
  optuna/samplers/_brute_force.py
Labels: document, optuna.samplers

#4279 Fix mypy error abut `PyTorch Lightning` in Checks (integration)
  tests/integration_tests/test_pytorch_lightning.py
Labels: test

#4281 Fix mypy error abut `pytorch_distributed.py` in Checks (integration)
  optuna/integration/pytorch_distributed.py
Labels: CI, optuna.integration

#4276 Fix mypy error abut `Chainer` in Checks (integration)
  optuna/integration/chainer.py
  tests/integration_tests/test_chainer.py
Labels: code-fix, optuna.integration

#4327 Add Python 3.11 to integration CI
  .github/workflows/dockerimage.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests-mpi.yml
  setup.py
Labels: CI

#4239 Remove an obsoleted logic from `CmaEsSampler`
  optuna/samplers/_cmaes.py
  tests/samplers_tests/test_cmaes.py
Labels: code-fix, optuna.samplers

#4346 Bump up version number to 3.1.0
  optuna/version.py
Labels: other

#4336 Partially follow `sklearn.model_selection.GridSearchCV`'s arguments
  optuna/integration/sklearn.py
Labels: compatibility, optuna.integration

#4347 Add type ignore to `ProcessGroup` import from `torch.distributed`
  optuna/integration/pytorch_distributed.py
Labels: CI, optuna.integration

#4329 Minor refactoring of `tests/hypervolume_tests/test_hssp.py`
  tests/hypervolume_tests/test_hssp.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: code-fix

#4328 Update action versions
  .github/workflows/coverage.yml
  .github/workflows/labeler.yml
  .github/workflows/mac-tests.yml
  .github/workflows/performance-benchmarks-bayesmark.yml
  .github/workflows/performance-benchmarks-kurobako.yml
  .github/workflows/performance-benchmarks-mo-kurobako.yml
  .github/workflows/performance-benchmarks-naslib.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/sphinx-build.yml
Labels: CI

#4357 Remove `cached-path` from `setup.py`
  setup.py
Labels: other

#4359 Fix label of `pypigh-action-pypi-publish`
  .github/workflows/pypi-publish.yml
Labels: CI

#4360 Minor fix of documents
  optuna/pruners/_hyperband.py
  tutorial/10_key_features/001_first.py
Labels: document, optuna.pruners

#4307 Update actions/setup-python@v2 -> v4
  .github/workflows/checks-integration.yml
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  .github/workflows/performance-benchmarks-bayesmark.yml
  .github/workflows/performance-benchmarks-kurobako.yml
  .github/workflows/performance-benchmarks-mo-kurobako.yml
  .github/workflows/performance-benchmarks-naslib.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/reviewdog.yml
  .github/workflows/speed-benchmarks.yml
  .github/workflows/sphinx-build.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests-mpi.yml
  .github/workflows/tests-storage.yml
  .github/workflows/tests-with-minimum-versions.yml
  .github/workflows/tests.yml
Labels: CI

#4364 [Hotfix] Avoid to install SQLAlchemy 2.0 on `checks`
  .github/workflows/checks.yml
Labels: CI

#4372 [Hotfix] Add version constriant on SQLAlchemy for tests storage with server
  .github/workflows/tests-storage.yml
Labels: CI

#4164 Migration to `pyproject.toml` for packaging
  .dockerignore
  .github/workflows/coverage.yml
  .github/workflows/dockerimage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/performance-benchmarks-kurobako.yml
  .github/workflows/performance-benchmarks-mo-kurobako.yml
  .github/workflows/performance-benchmarks-naslib.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/speed-benchmarks.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests-mpi.yml
  .github/workflows/tests-storage.yml
  .github/workflows/tests.yml
  asv.conf.json
  pyproject.toml
  setup.py
Labels: installation

#4343 Update `actions/setup-python` in `mac-tests` (follow-up for #4307)
  .github/workflows/mac-tests.yml
Labels: CI
