Repository optuna/optuna, pull requests merged in 2023-05, with the labels that each got.

#4659 Fix the build on Read the Docs
  .readthedocs.yml
Labels: document

#4646 Hotfix and run catboost test w/ python 3.11 except for MacOS
  .github/workflows/tests-integration.yml
  pyproject.toml
Labels: CI

#4635 Ensure that the plotly version of timeline plot draws a legend even if all TrialStates are the same.
  optuna/visualization/_timeline.py
Labels: enhancement, optuna.visualization, stale

#4658 Fix index of `n_retries += 1` in `RDBStorage`
  optuna/storages/_rdb/storage.py
Labels: bug, optuna.storages

#4626 Fix `ImportError` for `botorch<=0.4.0`
  optuna/integration/botorch.py
Labels: bug, optuna.integration

#4541 Add rank plot matplotlib version
  docs/source/reference/visualization/matplotlib.rst
  optuna/visualization/_rank.py
  optuna/visualization/matplotlib/__init__.py
  optuna/visualization/matplotlib/_rank.py
Labels: feature, optuna.visualization

#4644 Delete`Catalyst` integration for migration to optuna-integration
  .github/workflows/tests-integration.yml
  docs/source/reference/integration.rst
  optuna/integration/catalyst.py
  pyproject.toml
  tests/integration_tests/test_catalyst.py
Labels: optuna.integration

#4636 Provide kind error massage for missing `optuna-integration`
  optuna/integration/__init__.py
Labels: other, optuna.integration

#4640 Add manually written index page of tutorial
  .gitignore
  docs/Makefile
  docs/source/conf.py
  docs/source/tutorial/index.rst
  tutorial/10_key_features/001_first.py
  tutorial/10_key_features/002_configurations.py
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
  tutorial/10_key_features/004_distributed.py
  tutorial/10_key_features/005_visualization.py
Labels: document

#4663 Delete `skorch` integration for migration to optuna-integration
  .github/workflows/tests-integration.yml
  docs/source/reference/integration.rst
  optuna/integration/skorch.py
  pyproject.toml
  tests/integration_tests/test_skorch.py
Labels: optuna.integration

#4436 Implement NSGA-III
  docs/source/reference/samplers/index.rst
  optuna/samplers/__init__.py
  optuna/samplers/_nsgaiii.py
  tests/samplers_tests/test_nsgaiii.py
  tests/samplers_tests/test_samplers.py
Labels: feature, optuna.samplers

#4628 Simplify type annotations in `visualize/_rank.py` and `visualization_tests/`
  optuna/visualization/_rank.py
  tests/visualization_tests/matplotlib_tests/test_optimization_history.py
  tests/visualization_tests/test_contour.py
  tests/visualization_tests/test_edf.py
  tests/visualization_tests/test_optimization_history.py
  tests/visualization_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_param_importances.py
  tests/visualization_tests/test_pareto_front.py
  tests/visualization_tests/test_rank.py
  tests/visualization_tests/test_slice.py
Labels: code-fix, optuna.visualization

#4665 Add a link to tutorial of human-in-the-loop optimization
  docs/source/tutorial/index.rst
Labels: document

#4609 Add `plot_terminator_improvement` as visualization of `optuna.terminator`
  optuna/visualization/__init__.py
  optuna/visualization/_terminator_improvement.py
Labels: feature, optuna.visualization

#4591 Support batched sampling with BoTorch
  optuna/integration/botorch.py
  tests/integration_tests/test_botorch.py
Labels: optuna.integration

#4662 Remove `tf.keras` integration.
  .github/workflows/tests-integration.yml
  docs/source/reference/integration.rst
  optuna/integration/tfkeras.py
  tests/integration_tests/test_tfkeras.py
Labels: compatibility, optuna.integration

#4673 Fix typo for progress bar in documentation
  optuna/study/study.py
Labels: document

#4638 Add links to the optuna-integration document
  README.md
  docs/source/reference/integration.rst
Labels: document

#4660 Improve docstring of `rank_plot` function and its matplotlib version
  optuna/visualization/_rank.py
  optuna/visualization/matplotlib/_rank.py
Labels: document, optuna.visualization

#4671 Separate `_fast_non_dominated_sort()` from the samplers
  optuna/samplers/_nsgaiii.py
  optuna/samplers/nsgaii/_sampler.py
  tests/samplers_tests/test_nsgaii.py
Labels: optuna.samplers

#4681 Remove `versionadded` directives
  optuna/samplers/_partial_fixed.py
  optuna/trial/_trial.py
Labels: document, code-fix

#4464 Add BIPOP-CMA-ES support in `CmaEsSampler`
  optuna/samplers/_cmaes.py
  tests/samplers_tests/test_cmaes.py
Labels: feature, optuna.samplers

#4669 Add import for public API of `optuna.terminator` to `optuna/terminator/__init__.py`
  optuna/terminator/__init__.py
  optuna/visualization/_terminator_improvement.py
  tests/terminator_tests/improvement_tests/test_evaluator.py
  tests/terminator_tests/test_callback.py
  tests/terminator_tests/test_erroreval.py
  tests/terminator_tests/test_terminator.py
Labels: feature

#4661 Fix CMA-ES with margin bug
  optuna/samplers/_cmaes.py
  tests/samplers_tests/test_cmaes.py
Labels: bug, optuna.samplers

#4684 Remove experimental label from _ProgressBar
  optuna/progress_bar.py
Labels: code-fix

#4666 Remove `tensorflow` integration
  .github/workflows/tests-integration.yml
  docs/source/reference/integration.rst
  optuna/integration/tensorflow.py
  pyproject.toml
  tests/integration_tests/test_integration.py
  tests/integration_tests/test_tensorflow.py
Labels: compatibility, optuna.integration

#4670 Fix a logic for invalidating the cache in `CachedStorage`
  optuna/storages/_cached_storage.py
  tests/storages_tests/test_cached_storage.py
Labels: enhancement, optuna.storages, optuna.trial

#4694 Embed a YouTube video in the docstring of `DaskStorage`
  optuna/integration/dask.py
Labels: document, optuna.integration

#4677 Add docstring for `plot_terminator_improvement`
  docs/source/reference/visualization/index.rst
  optuna/visualization/_terminator_improvement.py
Labels: document, optuna.visualization

#4702 Add tests for `plot_terminator_improvement` and fix some bugs
  optuna/visualization/_terminator_improvement.py
  tests/visualization_tests/test_terminator_improvement.py
Labels: bug, optuna.visualization

#4698 Fix #4697 ValueError: Rank 0 node expects an optuna.trial.Trial instance as the trial argument
  optuna/integration/pytorch_distributed.py
  tests/integration_tests/test_pytorch_distributed.py
Labels: bug, optuna.integration

#4701 Add matplotlib version of `plot_terminator_improvement`
  docs/source/reference/visualization/matplotlib.rst
  optuna/visualization/matplotlib/__init__.py
  optuna/visualization/matplotlib/_terminator_improvement.py
Labels: feature, optuna.visualization

#4685 Add pareto front display example: 2D-plot from 3D-optimization including crop the scale
  optuna/visualization/_pareto_front.py
Labels: document, optuna.visualization

#4700 Fix a bug reported in issue#4699
  optuna/visualization/_pareto_front.py
Labels: optuna.visualization

#4709 Fix docstring of terminator improvement for `min_n_trials`
  optuna/visualization/_terminator_improvement.py
  optuna/visualization/matplotlib/_terminator_improvement.py
Labels: document, optuna.visualization

#4672 Read trials from remote storage whenever `get_all_trials` of `_CachedStorage` is called
  optuna/storages/_cached_storage.py
  optuna/study/study.py
  tests/storages_tests/test_cached_storage.py
Labels: code-fix, optuna.storages

#4710 Bump up version number to 3.3.0dev
  optuna/version.py
Labels: other

#4711 Bump up version number to 3.2.0
  optuna/version.py
Labels: other

#4712 Speed up `logpdf` in `_truncnorm.py`
  optuna/samplers/_tpe/_truncnorm.py
Labels: enhancement, optuna.samplers
