Repository optuna/optuna, pull requests merged in 2023-11, with the labels that each got.

#5079 Return `trials` for above in MO split when n_below=0
  optuna/samplers/_tpe/sampler.py
Labels: bug, optuna.samplers

#5065 Use `ExpectedHypervolumeImprovement` candidates function for `BotorchSampler`
  docs/source/reference/integration.rst
  optuna/integration/botorch.py
  tests/integration_tests/test_botorch.py
Labels: feature, optuna.integration

#5018 Support Python 3.12 on tests for core modules
  .github/workflows/tests.yml
  README.md
  pyproject.toml
  tests/integration_tests/test_botorch.py
Labels: CI

#5044 Make positional args to kwargs in suggest_int
  optuna/_convert_positional_args.py
  optuna/multi_objective/trial.py
  optuna/trial/_base.py
  optuna/trial/_fixed.py
  optuna/trial/_frozen.py
  optuna/trial/_trial.py
  tests/multi_objective_tests/test_trial.py
  tests/test_convert_positional_args.py
  tests/trial_tests/test_fixed.py
  tests/trial_tests/test_frozen.py
  tests/trial_tests/test_trial.py
Labels: enhancement, optuna.trial

#5067 Reduce `tests-mpi` to the oldest and latest Python versions
  .github/workflows/tests-mpi.yml
Labels: CI

#5029 Add `optuna study-names` cli
  optuna/cli.py
  tests/test_cli.py
Labels: feature

#5098 Report CV scores from within OptunaSearchCV
  optuna/integration/sklearn.py
  tests/integration_tests/test_sklearn.py
Labels: feature, optuna.integration

#5106 [HOT FIX] Fix mypy error in CI
  optuna/importance/_fanova/_tree.py
Labels: code-fix, optuna.importance

#5096 Add the TPE tutorial paper to the doc-string
  optuna/samplers/_tpe/sampler.py
Labels: optuna.samplers

#5108 Update the integration sections in `README.md`
  README.md
Labels: other

#5121 Change n_objectives condition to be greater than 4 in candidates functions
  optuna/integration/botorch.py
  tests/integration_tests/test_botorch.py
Labels: optuna.integration

#5110 Fix `logpdf` for scaled `truncnorm`
  optuna/samplers/_tpe/_truncnorm.py
  tests/samplers_tests/tpe_tests/test_truncnorm.py
Labels: bug, optuna.samplers, stale

#5123 Pin mypy version to 1.6.*
  .github/workflows/checks-integration.yml
Labels: other

#5103 FileStorage: enable loading of read-only files
  optuna/storages/_journal/file.py
Labels: optuna.storages, stale

#5120 Isolate the fast.ai module
  docs/source/reference/integration.rst
  optuna/integration/fastaiv1.py
  optuna/integration/fastaiv2.py
  pyproject.toml
  tests/integration_tests/test_fastaiv2.py
Labels: optuna.integration, stale
