Repository optuna/optuna, pull requests merged in 2023-10, with the labels that each got.

#4973 Fix TensorBoard error on categorical choices of mixed types
  optuna/integration/tensorboard.py
  tests/integration_tests/test_tensorboard.py
Labels: bug, optuna.integration, sprint-20230930

#4968 Fix type annotation of `SQLAlchemy`
  .github/workflows/checks-integration.yml
  .github/workflows/checks.yml
  optuna/storages/_rdb/models.py
  optuna/storages/_rdb/storage.py
  tests/storages_tests/rdb_tests/test_models.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: code-fix, optuna.storages

#4980 Add tutorial for `JournalStorage`
  docs/source/tutorial/index.rst
  tutorial/20_recipes/011_journal_storage.py
Labels: document, sprint-20230930

#4976 Use lazy random state in samplers
  optuna/multi_objective/samplers/_nsga2.py
  optuna/samplers/_brute_force.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_grid.py
  optuna/samplers/_nsgaiii.py
  optuna/samplers/_tpe/sampler.py
  optuna/samplers/nsgaii/_child_generation_strategy.py
  optuna/samplers/nsgaii/_sampler.py
  tests/multi_objective_tests/samplers_tests/test_motpe.py
  tests/multi_objective_tests/samplers_tests/test_nsga2.py
  tests/samplers_tests/test_nsgaiii.py
  tests/samplers_tests/test_samplers.py
Labels: bug, optuna.samplers, sprint-20230930

#4982 Fix document regarding ArtifactNotFound
  optuna/artifacts/_protocol.py
  optuna/artifacts/exceptions.py
Labels: document, sprint-20230930

#4877 CHG constrained param displayed in #cccccc
  optuna/visualization/_timeline.py
  tests/visualization_tests/test_timeline.py
Labels: enhancement, optuna.visualization

#4992 Add `__future__.annotations` to progress_bar.py
  optuna/progress_bar.py
Labels: code-fix

#4947 Add `_split_trials` instead of `_get_observation_pairs` and `_split_observation_pairs`
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: code-fix, optuna.samplers

#4998 Drop Python 3.7 on `tests-mpi`
  .github/workflows/tests-mpi.yml
Labels: CI

#4978 Fix numpy duplication warning
  optuna/importance/_fanova/_tree.py
  optuna/terminator/improvement/gp/botorch.py
  tests/importance_tests/fanova_tests/test_tree.py
  tests/test_distributions.py
Labels: optuna.importance, sprint-20230930

#4896 Use `isinstance` instead of `if type() is ...`
  optuna/integration/_lightgbm_tuner/optimize.py
Labels: optuna.integration

#4971 Use collections.abc in plot pareto front
  optuna/visualization/_pareto_front.py
Labels: code-fix, optuna.visualization

#4981 Enhance speed benchmark
  benchmarks/asv/optimize.py
Labels: CI, sprint-20230930

#4999 Make test order deterministic for `pytest-xdist`
  tests/storages_tests/test_journal.py
Labels: test

#4974 Add BestValueStagnationEvaluator
  docs/source/reference/terminator.rst
  optuna/terminator/__init__.py
  optuna/terminator/improvement/evaluator.py
  optuna/terminator/terminator.py
  tests/terminator_tests/improvement_tests/test_evaluator.py
  tests/terminator_tests/test_terminator.py
Labels: feature, sprint-20230930

#4956 Add artifact middleware for exponential backoff retries
  docs/source/reference/artifacts.rst
  optuna/artifacts/__init__.py
  optuna/artifacts/_backoff.py
  tests/artifacts_tests/__init__.py
  tests/artifacts_tests/stubs.py
  tests/artifacts_tests/test_backoff.py
Labels: feature

#5015 Fix annotations in optuna/optuna/visualization/matplotlib/_optimization_history.py
  optuna/visualization/matplotlib/_optimization_history.py
Labels: code-fix, optuna.visualization

#5019 Use CPU version of PyTorch in Docker image
  Dockerfile
Labels: CI

#5009 Remove Python 3.7 from the development docker image build
  .github/workflows/dockerimage.yml
Labels: CI

#5007 [bug] Fix an error that does not consider min_child_samples
  optuna/integration/_lightgbm_tuner/alias.py
  optuna/integration/_lightgbm_tuner/optimize.py
  tests/integration_tests/lightgbm_tuner_tests/test_alias.py
Labels: bug, optuna.integration

#5017 Speed up multi-objective TPE
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
Labels: enhancement, optuna.samplers

#4986 Allow user-defined objective names in hyperparameter importance plots
  optuna/visualization/_param_importances.py
  optuna/visualization/matplotlib/_param_importances.py
  tests/visualization_tests/test_param_importances.py
Labels: feature, optuna.visualization

#4911 Show all ticks in _parallel_coordinate.py when log scale
  optuna/visualization/_parallel_coordinate.py
Labels: enhancement, optuna.visualization

#5022 Fix `BruteForceSampler` in parallel optimization
  optuna/samplers/_brute_force.py
  tests/samplers_tests/test_brute_force.py
Labels: bug, optuna.samplers

#5031 Bump the version up to v3.4.0
  optuna/version.py
Labels: other

#5032 Bump the version up to v3.5.0.dev
  optuna/version.py
Labels: other

#5042 Install PyTorch for CPU on CIs
  .github/workflows/checks-integration.yml
  .github/workflows/coverage.yml
  .github/workflows/performance-benchmarks-bayesmark.yml
  .github/workflows/performance-benchmarks-kurobako.yml
  .github/workflows/performance-benchmarks-mo-kurobako.yml
  .github/workflows/speed-benchmarks.yml
  .github/workflows/sphinx-build.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests-mpi.yml
  .github/workflows/tests-storage.yml
  .github/workflows/tests-with-minimum-versions.yml
  .github/workflows/tests.yml
Labels: CI

#5047 Remove unused `type: ignore`
  optuna/integration/pytorch_distributed.py
  tests/integration_tests/test_pytorch_distributed.py
Labels: optuna.integration

#5054 Fixed future annotation in typing.py
  optuna/_typing.py
Labels: code-fix

#5057 fixed future annotations in _hypervolume_history.py
  optuna/visualization/matplotlib/_hypervolume_history.py
Labels: code-fix, optuna.visualization

#5056 Fixed future annotations to edf python file
  optuna/visualization/matplotlib/_edf.py
Labels: optuna.visualization

#5005 Add the table of dependencies in each integration module
  docs/source/reference/integration.rst
Labels: document

#5040 Fix `Any` with `float` in `_TreeNode.children`
  optuna/samplers/_brute_force.py
Labels: code-fix, optuna.samplers

#5055 Added future annotations to callback and terminator files inside terminator folder
  optuna/terminator/callback.py
  optuna/terminator/terminator.py
Labels: code-fix

#5064 Update link to reference
  optuna/integration/fastaiv1.py
Labels: optuna.integration

#5070 Reduce the warning in `tests/study_tests/test_study.py`
  tests/study_tests/test_study.py
Labels: test

#5028 Fix import path of `PyTorchLightning`
  optuna/integration/pytorch_lightning.py
  pyproject.toml
  tests/integration_tests/test_pytorch_lightning.py
Labels: code-fix, optuna.integration, stale

#5027 Implement nsgaiii elite population selection strategy
  optuna/samplers/__init__.py
  optuna/samplers/_nsgaiii/__init__.py
  optuna/samplers/_nsgaiii/_elite_population_selection_strategy.py
  optuna/samplers/_nsgaiii/_sampler.py
  tests/samplers_tests/test_nsgaiii.py
Labels: code-fix, optuna.samplers, sprint-20230930

#5014 Support infeasible coloring for plot_timeline
  optuna/visualization/matplotlib/_timeline.py
Labels: feature, optuna.visualization

#5003 Fix random number generator of `NSGAIIChildGenerationStrategy`
  optuna/samplers/_nsgaiii/_elite_population_selection_strategy.py
  optuna/samplers/_nsgaiii/_sampler.py
  optuna/samplers/nsgaii/_child_generation_strategy.py
  optuna/samplers/nsgaii/_sampler.py
  tests/samplers_tests/test_nsgaii.py
Labels: bug, optuna.samplers

#5010 Enhance the documentation of `LightGBM` tuner and separate `train()` from `__init__.py`
  optuna/integration/_lightgbm_tuner/__init__.py
  optuna/integration/_lightgbm_tuner/_train.py
  optuna/integration/_lightgbm_tuner/optimize.py
Labels: document, optuna.integration

#4975 support constraints in plot contour
  optuna/visualization/_contour.py
  optuna/visualization/matplotlib/_contour.py
  tests/visualization_tests/test_contour.py
Labels: feature, optuna.visualization, sprint-20230930

#5033 Skip slow integration tests
  .github/workflows/tests-integration.yml
Labels: CI

#5021 Support `constant_liar` in multi-objective `TPESampler`
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: optuna.samplers, stale

#5078 Remove email of authors
  pyproject.toml
Labels: other

#5084 Remove `MOTPESampler` from `index.rst` file
  docs/source/reference/samplers/index.rst
Labels: document

#5075 Update the FAQ on reproducible optimization results to remove note on HyperbandPruner
  docs/source/faq.rst
Labels: document
