Repository optuna/optuna, pull requests merged in 2023-12, with the labels that each got.

#5105 Fix type annotation
  optuna/integration/sklearn.py
Labels: optuna.integration

#5135 Pin the version of PyQt6-Qt6
  .github/workflows/windows-tests.yml
Labels: CI

#5094 Fix logei_candidates_func in `botorch.py`
  optuna/integration/botorch.py
  tests/integration_tests/test_botorch.py
Labels: feature, optuna.integration

#5137 Clarify that `Recommended budgets` include `n_startup_trials`
  docs/source/reference/samplers/index.rst
Labels: document

#5133 [hotfix] Fix the bug of matplotlib's plot_rank function
  optuna/visualization/_rank.py
Labels: bug, optuna.visualization

#5140 Revert "Pin the version of PyQt6-Qt6"
  .github/workflows/windows-tests.yml
Labels: CI

#5144 Bump up version number to 3.5.0
  optuna/version.py
Labels: other

#5152 Remove `study optimize` from CLI tutorial page
  tutorial/20_recipes/004_cli.py
Labels: document

#5117 Refactor TPESampler for more clarity before c-TPE integration
  optuna/samplers/_tpe/sampler.py
Labels: code-fix, optuna.samplers

#5153 Clarify the GridSampelr with ask-and-tell interface
  optuna/samplers/_grid.py
Labels: document, optuna.samplers

#5167 Fix `Checks(integration)` failure
  optuna/integration/lightgbm.py
Labels: code-fix, optuna.integration

#5166 Fix tests with MPI
  .github/workflows/coverage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/tests-mpi.yml
Labels: CI

#5157 Unify the implementation of `_create_frozen_trial()` under `testing` module
  optuna/testing/trials.py
  tests/integration_tests/test_cma.py
  tests/samplers_tests/test_nsgaii.py
Labels: optuna.testing

#5170 Clean-up `faq.rst`
  docs/source/faq.rst
Labels: document
