Repository optuna/optuna, pull requests merged in 2023-09, with the labels that each got.

#4871 Display all objectives on hyperparameter importances plot
  optuna/visualization/_param_importances.py
  optuna/visualization/matplotlib/_matplotlib_imports.py
  optuna/visualization/matplotlib/_param_importances.py
  tests/visualization_tests/test_param_importances.py
Labels: optuna.visualization

#4904 Fix Tests (MPI) CI
  .github/workflows/tests-mpi.yml
Labels: CI

#4909 Fix typo in _filesystem.py
  optuna/artifacts/_filesystem.py
Labels: document

#4912 Add FUNDING.yml
  .github/FUNDING.yml
Labels: other

#4905 Support Study Artifacts
  optuna/artifacts/_upload.py
  tests/artifacts_tests/test_upload_artifact.py
Labels: feature

#4903 Fix speed-benchmarks CI
  asv.conf.json
Labels: CI

#4921 Fix xgboost pruning callback
  optuna/integration/xgboost.py
Labels: CI, optuna.integration

#4910 Add mimetype input
  optuna/artifacts/_upload.py
  tests/artifacts_tests/test_upload_artifact.py
Labels: enhancement

#4906 Support constraint in plot slice
  optuna/visualization/_slice.py
  optuna/visualization/matplotlib/_slice.py
  tests/visualization_tests/test_slice.py
Labels: enhancement, optuna.visualization

#4913 Deprecate `SkoptSampler`
  optuna/integration/skopt.py
Labels: optuna.integration

#4887 Fix alias handler
  optuna/integration/_lightgbm_tuner/alias.py
  tests/integration_tests/lightgbm_tuner_tests/test_alias.py
Labels: bug, optuna.integration

#4923 Fix the `checks-integration` errors on LightGBMTuner
  optuna/integration/lightgbm.py
Labels: code-fix, optuna.integration

#4886 Fix `fail_stale_trials` with race condition
  optuna/storages/_heartbeat.py
  tests/storages_tests/test_heartbeat.py
Labels: bug, optuna.storages

#4918 Refactor _grid.py
  optuna/samplers/_grid.py
Labels: code-fix, optuna.samplers

#4897 Faster implementation of fANOVA
  optuna/importance/_fanova/_tree.py
Labels: enhancement, optuna.importance

#4926 Support specifying distance between categorical choices in `TPESampler`
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: feature, optuna.samplers

#4927 Mention a pruner instance is not stored in a storage in resuming tutorial
  tutorial/20_recipes/001_rdb.py
Labels: document

#4914 Call internal sampler's `before_trial`
  optuna/integration/botorch.py
  optuna/integration/cma.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_nsgaiii.py
  optuna/samplers/_partial_fixed.py
  optuna/samplers/_qmc.py
  optuna/samplers/_tpe/sampler.py
  optuna/samplers/nsgaii/_sampler.py
Labels: code-fix, optuna.integration, optuna.samplers

#4943 Add introduction of `optuna-fast-fanova` in documents
  docs/source/reference/importance.rst
  optuna/importance/__init__.py
  optuna/visualization/_param_importances.py
Labels: document, optuna.visualization, optuna.importance

#4899 Support constraints plot_rank
  optuna/visualization/_rank.py
  optuna/visualization/matplotlib/_rank.py
  tests/visualization_tests/test_rank.py
Labels: optuna.visualization

#4930 Add `metric_names` getter to study
  optuna/study/_dataframe.py
  optuna/study/study.py
  optuna/visualization/_pareto_front.py
  tests/study_tests/test_study.py
Labels: feature, optuna.visualization

#4953 Replaces California housing dataset with iris dataset
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: test

#4950 Reduce `n_trials` in `test_combination_of_different_distributions_objective`
  tests/samplers_tests/test_samplers.py
Labels: test

#4941 Fix type annotation
  optuna/integration/sklearn.py
Labels: code-fix, optuna.integration

#4962 Update `optional-dependencies` and document deselecting integration tests in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: other

#4964 Use `__future__.annotations` in `optuna/visualization/_optimization_history.py`
  optuna/visualization/_optimization_history.py
Labels: code-fix, optuna.visualization, sprint-20230930

#4966 Use future annotation in optuna/_convert_positional_args.py
  optuna/_convert_positional_args.py
Labels: code-fix, sprint-20230930

#4969 Use collections.abc in optuna/visualization/_edf.py
  optuna/visualization/_edf.py
Labels: optuna.visualization, sprint-20230930

#4957 Fix an example code in `Boto3ArtifactStore`'s docstring
  optuna/artifacts/_boto3.py
Labels: document

#4967 Add GCSArtifactStore
  docs/source/reference/artifacts.rst
  optuna/artifacts/__init__.py
  optuna/artifacts/_gcs.py
  pyproject.toml
  tests/artifacts_tests/test_gcs.py
Labels: sprint-20230930

#4970 Add lazy random state and use it in `RandomSampler`
  optuna/samplers/_lazy_random_state.py
  optuna/samplers/_random.py
  tests/multi_objective_tests/samplers_tests/test_nsga2.py
  tests/multi_objective_tests/samplers_tests/test_samplers.py
  tests/samplers_tests/test_lazy_random_state.py
  tests/samplers_tests/test_samplers.py
Labels: bug, optuna.samplers, sprint-20230930

#4965 Fix #4508 for optuna/visualization/_hypervolume_history.py
  optuna/visualization/_hypervolume_history.py
Labels: optuna.visualization, sprint-20230930

#4983 Remove experimental_func from metric_names property
  optuna/study/study.py
  tests/study_tests/test_study.py
Labels: code-fix, sprint-20230930
