Repository optuna/optuna, pull requests merged in 2024-10, with the labels that each got.

#5692 Simplify type annontaitions to _imports.py
  optuna/_imports.py
Labels: code-fix

#5685 Add `pandas` installation guide to RDB tutorial
  tutorial/20_recipes/001_rdb.py
Labels: document

#5696 Fix `RegretBoundEvaluator` document
  optuna/terminator/improvement/evaluator.py
Labels: document

#5706 Fix for mypy.
  optuna/_convert_positional_args.py
  optuna/study/study.py
Labels: CI

#5408 Add pre-commit config
  .pre-commit-config.yaml
  CONTRIBUTING.md
  optuna/storages/_rdb/models.py
  pyproject.toml
Labels: other

#5707 Add link to related blog post in `emmr.py`
  optuna/terminator/improvement/emmr.py
Labels: document

#5705 Update news section in `README.md`
  README.md
Labels: document

#5709 Reduce `SELECT` statements by removing unnecessary distribution compatibility check in `set_trial_param()`
  optuna/storages/_rdb/storage.py
  tests/storages_tests/test_storages.py
Labels: enhancement

#5714 Use `__future__.annotations` in `optuna/_experimental.py`
  optuna/_experimental.py
Labels: code-fix

#5688 Update document and notice interoperability between NSGA-II and Pruners
  docs/source/reference/samplers/index.rst
Labels: document

#5719 Add link to MOEA/D blog post in News
  README.md
Labels: other

#5726 [hotfix] Add a version constraint on fakeredis
  .github/workflows/tests-with-minimum-versions.yml
  .github/workflows/tests.yml
Labels: CI

#5720 Include all test files in `sdist` by updating `MANIFEST.in`
  MANIFEST.in
Labels: other

#5702 Reduce `SELECT` statements by passing `study_id` to `check_and_add` in `TrialParamModel`
  optuna/storages/_rdb/models.py
  optuna/storages/_rdb/storage.py
Labels: enhancement

#5703 Introduce `UPSERT` in `set_trial_user_attr`
  .github/workflows/tests-with-minimum-versions.yml
  optuna/storages/_rdb/storage.py
  pyproject.toml
Labels: enhancement

#5731 Use `__future__.annotations` in `tests/importance_tests/fanova_tests/test_tree.py`
  tests/importance_tests/fanova_tests/test_tree.py
Labels: code-fix

#5704 Reduce `SELECT` statements of `_CachedStorage.get_all_trials` by fixing filtering conditions
  optuna/storages/_cached_storage.py
  optuna/storages/_rdb/storage.py
  tests/storages_tests/test_storages.py
Labels: enhancement

#5716 Update FAQ entry for model preservation using Optuna Artifact
  docs/source/faq.rst
Labels: document

#5727 Drop the support for Python 3.7 and update package metadata for Python 3.13 support
  .github/workflows/dockerimage.yml
  .github/workflows/tests-storage.yml
  .github/workflows/tests-with-minimum-versions.yml
  .github/workflows/tests.yml
  README.md
  docs/source/installation.rst
  pyproject.toml
Labels: CI

#5728 Update Python versions used in CI workflow
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/matplotlib-tests.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/reviewdog.yml
  .github/workflows/speed-benchmarks.yml
  .github/workflows/sphinx-build.yml
  .github/workflows/windows-tests.yml
Labels: CI

#5735 Escape `\D` for python 3.12 with sphinx build
  tutorial/20_recipes/013_wilcoxon_pruner.py
Labels: document

#5736 Remove dependency specifier for installing SciPy
  pyproject.toml
Labels: installation
