Repository optuna/optuna, pull requests merged in 2024-03, with the labels that each got.

#5201 Add support best value with constraint
  optuna/study/_multi_objective.py
  tests/test_multi_objective.py
Labels: optuna.storages

#5277 Follow up for split integrations
  .github/workflows/checks-integration.yml
  .github/workflows/coverage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/tests-integration.yml
  .github/workflows/tests-with-minimum-versions.yml
  .github/workflows/tests.yml
  .github/workflows/windows-tests.yml
  CONTRIBUTING.md
  Dockerfile
  pyproject.toml
  tests/integration_tests/__init__.py
  tests/integration_tests/test_integration.py
  tests/samplers_tests/test_samplers.py
Labels: CI

#5298 Fix `_split_trials` of `TPESampler` for constrained optimization with constant liar
  optuna/samplers/_tpe/sampler.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: bug

#5274 Enhance performance of GPSampler
  optuna/_gp/acqf.py
  optuna/_gp/optim_mixed.py
  optuna/samplers/_gp/sampler.py
  optuna/terminator/improvement/evaluator.py
Labels: enhancement

#5307 Add a version constraint to `fakeredis`
  .github/workflows/coverage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/tests-with-minimum-versions.yml
  .github/workflows/tests.yml
  .github/workflows/windows-tests.yml
Labels: CI

#5281 Unify and refactor `plot_timeline` test
  tests/visualization_tests/matplotlib_tests/test_timeline.py
  tests/visualization_tests/test_timeline.py
Labels: code-fix

#5269 Fix checking value in `study.tell` .
  optuna/study/_tell.py
  tests/study_tests/test_study.py
Labels: bug, stale

#5312 Minor fixes of docs and code comments for `PedAnovaImportanceEvaluator`
  optuna/importance/_ped_anova/evaluator.py
  optuna/importance/_ped_anova/scott_parzen_estimator.py
Labels: document

#5310 Add a guide to PED-ANOVA for `n_trials>10000`
  docs/source/reference/importance.rst
  optuna/importance/__init__.py
Labels: document

#5311 Make each importance evaluator compatible with doc
  optuna/importance/_fanova/_evaluator.py
  optuna/importance/_ped_anova/evaluator.py
  tests/importance_tests/pedanova_tests/test_evaluator.py
Labels: bug

#5315 Fix doc example in WilcoxonPruner
  optuna/pruners/_wilcoxon.py
  tutorial/20_recipes/013_wilcoxon_pruner.py
Labels: document

#5318 Bump up to version number 3.6.0
  optuna/version.py
Labels: other

#5332 Revert PR#5269
  optuna/study/_tell.py
  tests/study_tests/test_study.py
Labels: bug

#5329 Delete examples directory
  examples/README.md
Labels: code-fix

#5303 Make 2d HV computation twice faster
  optuna/_hypervolume/utils.py
Labels: enhancement

#5338 Simplify annotations in `optuna/pruners/_hyperband.py`
  optuna/pruners/_hyperband.py
Labels: code-fix

#5343 Simplify annotations in `optuna/pruners/_successive_halving.py` and `optuna/pruners/_threshold.py`
  optuna/pruners/_successive_halving.py
  optuna/pruners/_threshold.py
Labels: code-fix

#5306 Add `is_exhausted()` function in the `GridSampler` class
  optuna/samplers/_grid.py
  tests/samplers_tests/test_grid.py
Labels: feature

#5351 Fix typo
  optuna/cli.py
Labels: document

#5345 Use sphinx rst syntax
  optuna/pruners/_wilcoxon.py
  optuna/samplers/_gp/sampler.py
  optuna/terminator/terminator.py
Labels: document

#5354 Fix Wilcoxon pruner bug when `best_trial` has no intermediate value
  optuna/pruners/_wilcoxon.py
  tests/pruners_tests/test_wilcoxon.py
Labels: bug

#5366 Fix `average_is_best` implementation in `WilcoxonPruner`
  optuna/pruners/_wilcoxon.py
Labels: enhancement

#5322 Fix future annotations in `percentile.py`
  optuna/pruners/_percentile.py
Labels: code-fix

#5367 Update GitHub actions versions of `actions/setup-python` and `actions/checkout`
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  .github/workflows/dockerimage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/matplotlib-tests.yml
  .github/workflows/performance-benchmarks-bayesmark.yml
  .github/workflows/performance-benchmarks-kurobako.yml
  .github/workflows/performance-benchmarks-mo-kurobako.yml
  .github/workflows/performance-benchmarks-naslib.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/reviewdog.yml
  .github/workflows/speed-benchmarks.yml
  .github/workflows/sphinx-build.yml
  .github/workflows/tests-storage.yml
  .github/workflows/tests-with-minimum-versions.yml
  .github/workflows/tests.yml
  .github/workflows/windows-tests.yml
Labels: CI

#5370 [Backport] Fix Wilcoxon pruner bug when best_trial has no intermediate value
  optuna/pruners/_wilcoxon.py
  tests/pruners_tests/test_wilcoxon.py
Labels: bug

#5371 [Backport] Address issue#5358
  optuna/_gp/optim_mixed.py
Labels: bug

#5372 Bump up version number to v3.6.1
  optuna/version.py
Labels: other

#5373 [Backport] Fix `average_is_best` implementation in `WilcoxonPruner`
  optuna/pruners/_wilcoxon.py
Labels: bug
