Repository optuna/optuna, pull requests merged in 2024-11, with the labels that each got.

#5734 Resolve todo comments related to dropping Python 3.7 support
  optuna/importance/_ped_anova/evaluator.py
  optuna/samplers/_nsgaiii/_elite_population_selection_strategy.py
  tests/artifacts_tests/test_boto3.py
  tests/samplers_tests/tpe_tests/test_truncnorm.py
Labels: code-fix

#5740 Fix a concurrency issue in `QMCSampler`
  optuna/samplers/_qmc.py
Labels: bug

#5739 Remove all `generated` directories in `docs/source` recursively
  docs/Makefile
Labels: document

#5738 Avoid using functions in `sphinx_gallery_conf` to remove document build error with python 3.12
  docs/source/conf.py
Labels: document

#5744 Update sphinx build's `upload-artifact` version
  .github/workflows/sphinx-build.yml
Labels: CI

#5745 Add information about AutoSampler to the docs
  docs/source/reference/samplers/index.rst
Labels: document

#5741 Introduce `UPSERT` in `set_trial_system_attr`
  optuna/storages/_rdb/storage.py
Labels: enhancement

#5752 Bump the version up to v4.2.0.dev
  optuna/version.py
Labels: other

#5751 Bump the version up to 4.1.0
  optuna/version.py
Labels: other

#5733 Rename `test_cache_is_invalidated` and remove `assert study._thread_local.cached_all_trials is None`
  tests/samplers_tests/test_samplers.py
Labels: CI

#5755 Fixing annotations for `distributions.py`
  optuna/distributions.py
Labels: code-fix

#5756 Simplify type annotations for `tests/visualization_tests/test_pareto_front.py`
  tests/visualization_tests/test_pareto_front.py
Labels: code-fix

#5748 Update news to add the autosampler article
  README.md
Labels: other

#5758 Update the news section for Optuna 4.1 release
  README.md
Labels: other

#5760 Fix type annotations for `test_hypervolume_history.py`
  tests/visualization_tests/test_hypervolume_history.py
Labels: code-fix

#5759 Fix a GitHub action workflow for publishing to PyPI
  .github/workflows/pypi-publish.yml
Labels: CI

#5742 Use Python 3.12 for docs build CI
  .github/workflows/sphinx-build.yml
  .readthedocs.yml
  CONTRIBUTING.md
  docs/source/conf.py
  docs/source/reference/distributions.rst
  docs/source/reference/exceptions.rst
  docs/source/reference/importance.rst
  docs/source/reference/logging.rst
  docs/source/reference/optuna.rst
  docs/source/reference/pruners.rst
  docs/source/reference/samplers/index.rst
  docs/source/reference/samplers/nsgaii.rst
  docs/source/reference/search_space.rst
  docs/source/reference/storages.rst
  docs/source/reference/study.rst
  docs/source/reference/terminator.rst
  docs/source/reference/trial.rst
Labels: document, CI

#5763 Update optunahub example in README
  README.md
Labels: document

#5764 Update `distributions.rst` to list deprecated distribution classes
  docs/source/reference/distributions.rst
Labels: document

#5765 Simplify type annotations for `tests/test_cli.py`
  tests/test_cli.py
Labels: code-fix

#5771 Install older `kaleido` to fix CI errors
  pyproject.toml
Labels: CI

#5746 Add CITATION.cff
  CITATION.cff
Labels: other

#5767 Remove deprecation comment for `step` in `IntLogUniformDistribution`
  optuna/distributions.py
Labels: document

#5773 Simplify type annotations for `tests/test_distributions.py`
  tests/test_distributions.py
Labels: code-fix

#5769 Use inline code rather than italic for `step`
  optuna/samplers/_cmaes.py
Labels: document

#5768 Update requirements for OptunaHub in README
  README.md
Labels: document

#5775 Simplify type annotations for `tests/samplers_tests/test_qmc.py`
  tests/samplers_tests/test_qmc.py
Labels: code-fix

#5779 Simplify type annotations for `tests/sampler_tests/tpe_tests/test_sampler.py`
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: code-fix

#5778 Fix ticks in Matplotlib contour plot
  optuna/visualization/matplotlib/_contour.py
Labels: bug, optuna.visualization

#5715 Enable `GPSampler` to support constraint functions
  optuna/_gp/acqf.py
  optuna/_gp/optim_mixed.py
  optuna/samplers/_gp/sampler.py
  tests/gp_tests/test_acqf.py
  tests/samplers_tests/test_gp.py
Labels: feature

#5782 Simplify type annotations for `tests/samplers_tests/tpe_tests/test_parzen_estimator.py`
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
Labels: code-fix

#5781 Simplify type annotations for `tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py`
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
Labels: code-fix

#5785 Simplify type annotations for `tests/storage_tests/rdb_tests/test_storage.py`
  tests/storages_tests/rdb_tests/create_db.py
  tests/storages_tests/rdb_tests/test_models.py
  tests/storages_tests/rdb_tests/test_storage.py
Labels: code-fix

#5784 Simplify type annotations for `tests/storage_tests/rdb_tests/create_db.py`
  tests/storages_tests/rdb_tests/create_db.py
Labels: code-fix

#5787 Simplify type annotations for `tests/test_convert_positional_args.py`
  tests/test_convert_positional_args.py
Labels: code-fix

#5786 Simplify type annotations for `tests/test_deprecated.py`
  tests/test_deprecated.py
Labels: code-fix

#5792 Simplify type annotations for `tests/storages_tests/test_heartbeat.py`
  tests/storages_tests/test_heartbeat.py
Labels: code-fix

#5791 Simplify type annotations for `tests/storages_tests/test_storages.py`
  tests/storages_tests/test_storages.py
Labels: code-fix

#5790 Simplify type annotations for `tests/importance_tests/test_init.py`
  tests/importance_tests/test_init.py
Labels: code-fix

#5793 Simplify type annotations `optuna/cli.py`
  optuna/cli.py
Labels: code-fix

#5794 Simplify type annotations for `tests/trial_tests/test_frozen.py`
  tests/trial_tests/test_frozen.py
Labels: code-fix

#5799 Simplify type annotations `optuna/_transform.py`
  optuna/_transform.py
Labels: code-fix

#5789 Add python 3.12 to the Docker image CI
  .github/workflows/dockerimage.yml
Labels: CI

#5795 Simplify type annotations for `tests/trial_tests/test_trial.py`
  tests/trial_tests/test_trial.py
Labels: code-fix

#5796 Simplify type annotations for `tests/trial_tests/test_trials.py`
  tests/trial_tests/test_trials.py
Labels: code-fix

#5801 Simplify type annotations for `tests/pruners_tests/test_hyperband.py`
  tests/pruners_tests/test_hyperband.py
Labels: code-fix

#5802 Simplify type annotations for `tests/pruners_tests/test_median.py`
  tests/pruners_tests/test_median.py
Labels: code-fix

#5803 Simplify type annotations for `tests/pruners_tests/test_patient.py`
  tests/pruners_tests/test_patient.py
Labels: code-fix
