Repository optuna/optuna, pull requests merged in 2024-05, with the labels that each got.

#5416 Remove deprecated `study optimize` CLI command
  optuna/cli.py
  tests/test_cli.py
Labels: compatibility

#5365 Add a unit test for convergence of acquisition function in `GPSampler`
  optuna/_gp/optim_mixed.py
  tests/samplers_tests/test_gp.py
Labels: test

#5302 Speed up non-dominated sort
  optuna/samplers/_tpe/sampler.py
  optuna/samplers/nsgaii/_elite_population_selection_strategy.py
  optuna/study/_multi_objective.py
  tests/study_tests/test_multi_objective.py
  tests/test_multi_objective.py
Labels: enhancement

#5400 Speed up `to_internal_repr` in `CategoricalDistribution`
  optuna/distributions.py
Labels: enhancement

#5422 Fix `_normalize_value` for incomplete trials
  optuna/study/_multi_objective.py
  tests/study_tests/test_multi_objective.py
Labels: bug

#5430 Drop `--study` in `cli.py`
  optuna/cli.py
Labels: compatibility

#5424 Speed up `WFG` by NumPy vectorization
  optuna/_hypervolume/__init__.py
  optuna/_hypervolume/utils.py
  optuna/_hypervolume/wfg.py
  optuna/study/_multi_objective.py
  tests/hypervolume_tests/test_utils.py
Labels: enhancement

#5431 Fix heartbeat for race condition
  optuna/storages/_rdb/storage.py
Labels: bug

#5441 Simplify annotations in `_brute_force.py`
  optuna/samplers/_brute_force.py
Labels: code-fix

#5443 Introduce `__future__.annotations` to TPE-related modules
  optuna/samplers/_tpe/_truncnorm.py
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/samplers/_tpe/probability_distributions.py
  optuna/samplers/_tpe/sampler.py
Labels: code-fix

#5426 Support constrained optimization in `best_trial`
  optuna/study/_constrained_optimization.py
  optuna/study/_multi_objective.py
  optuna/study/study.py
  tests/study_tests/test_constrained_optimization.py
  tests/study_tests/test_study.py
Labels: compatibility

#5415 Drop implicit create-study in `ask` command
  optuna/cli.py
  tests/test_cli.py
Labels: compatibility

#5432 Suppress warnings from `numpy` in hypervolume computation
  optuna/_hypervolume/hssp.py
  optuna/_hypervolume/utils.py
  optuna/_hypervolume/wfg.py
  tests/hypervolume_tests/test_hssp.py
Labels: enhancement

#5442 Add `__future__.annotations` to base sampler
  optuna/samplers/_base.py
Labels: code-fix

#5434 Bundle experimental feature warning
  optuna/_experimental.py
  optuna/importance/__init__.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_tpe/sampler.py
  optuna/samplers/nsgaii/_sampler.py
  optuna/visualization/_pareto_front.py
Labels: code-fix

#5452 Adapt to `__future__.annotations` in `optuna/storages/_rdb/models.py`
  optuna/storages/_rdb/models.py
Labels: code-fix

#5462 Fix `_log_complete_trial` for constrained optimization
  optuna/study/study.py
Labels: bug
