Repository optuna/optuna, pull requests merged in 2024-09, with the labels that each got.

#5657 Update news section in `README.md`
  README.md
Labels: document

#5635 Add a tri-objective problem to speed benchmarking
  benchmarks/asv/optimize.py
Labels: CI

#5674 Add the news about blog of JournalStorage to `README.md`
  README.md
Labels: document

#5672 Add `InMemoryStorage` to document
  docs/source/faq.rst
  docs/source/reference/storages.rst
  optuna/search_space/group_decomposed.py
  optuna/search_space/intersection.py
  optuna/storages/_in_memory.py
  optuna/study/study.py
  tests/study_tests/test_study.py
Labels: document

#5677 Fix broken link in the artifacts tutorial
  tutorial/20_recipes/012_artifact_tutorial.py
Labels: document

#5676 Update PostgreSQL version in CI to latest
  .github/workflows/tests-storage.yml
Labels: CI

#5673 Update MySQL version in CI from 5.7 to 8
  .github/workflows/tests-storage.yml
Labels: CI, stale

#5671 Fix `GPSampler`'s suggestion failure within `torch.no_grad()` context manager
  optuna/_gp/gp.py
  tests/gp_tests/test_gp.py
Labels: bug

#5675 Remove performance benchmarks
  .github/workflows/performance-benchmarks-bayesmark.yml
  .github/workflows/performance-benchmarks-kurobako.yml
  .github/workflows/performance-benchmarks-mo-kurobako.yml
  .github/workflows/performance-benchmarks-naslib.yml
  benchmarks/README.md
  benchmarks/bayesmark/optuna_optimizer.py
  benchmarks/bayesmark/report_bayesmark.py
  benchmarks/bayesmark/report_template.md
  benchmarks/kurobako/__init__.py
  benchmarks/kurobako/mo_create_study.py
  benchmarks/kurobako/problems/wfg/problem.py
  benchmarks/kurobako/problems/wfg/shape_functions.py
  benchmarks/kurobako/problems/wfg/transformation_functions.py
  benchmarks/naslib/__init__.py
  benchmarks/naslib/problem.py
  benchmarks/run_bayesmark.py
  benchmarks/run_kurobako.py
  benchmarks/run_mo_kurobako.py
  benchmarks/run_naslib.py
  pyproject.toml
Labels: CI

#5684 Update the version of Python used in the checks from 3.8 to 3.11
  .github/workflows/checks.yml
Labels: CI

#5683 Add a comment for an unexpected bug in `CategoricalDistribution`
  optuna/distributions.py
Labels: code-fix
