Repository optuna/optuna, pull requests merged in 2024-02, with the labels that each got.

#5223 Replace legacy `plotly.graph_objs` with `plotly.graph_objects`
  optuna/multi_objective/visualization/_pareto_front.py
  optuna/visualization/_contour.py
  optuna/visualization/_edf.py
  optuna/visualization/_hypervolume_history.py
  optuna/visualization/_intermediate_values.py
  optuna/visualization/_optimization_history.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_param_importances.py
  optuna/visualization/_pareto_front.py
  optuna/visualization/_plotly_imports.py
  optuna/visualization/_rank.py
  optuna/visualization/_slice.py
  optuna/visualization/_terminator_improvement.py
  optuna/visualization/_timeline.py
Labels: document, optuna.visualization

#5181 Wilcoxon pruner
  docs/source/reference/pruners.rst
  optuna/pruners/__init__.py
  optuna/pruners/_wilcoxon.py
  tests/pruners_tests/test_wilcoxon.py
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
Labels: feature, optuna.pruners

#5211 Upgrade `FrozenTrial._validate()`
  optuna/study/_multi_objective.py
  optuna/terminator/improvement/_preprocessing.py
  optuna/trial/_frozen.py
  tests/study_tests/test_multi_objective.py
  tests/trial_tests/test_frozen.py
  tests/visualization_tests/test_edf.py
  tests/visualization_tests/test_parallel_coordinate.py
  tests/visualization_tests/test_timeline.py
  tests/visualization_tests/test_utils.py
Labels: enhancement, optuna.trial

#5195 Fix JSONDecodeError in JournalStorage
  optuna/storages/_journal/file.py
Labels: bug, optuna.storages

#5215 Import SQLAlchemy lazily
  optuna/storages/_rdb/storage.py
Labels: optuna.storages

#5185 Add GPSampler
  docs/source/reference/samplers/index.rst
  optuna/_gp/__init__.py
  optuna/_gp/acqf.py
  optuna/_gp/gp.py
  optuna/_gp/optim.py
  optuna/_gp/search_space.py
  optuna/samplers/__init__.py
  optuna/samplers/_gp/__init__.py
  optuna/samplers/_gp/sampler.py
  pyproject.toml
  tests/gp_tests/test_search_space.py
  tests/samplers_tests/test_samplers.py
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
Labels: feature, optuna.samplers

#5222 Remove dask integration
  docs/source/reference/integration.rst
  optuna/integration/dask.py
  optuna/testing/storages.py
  pyproject.toml
  tests/integration_tests/test_dask.py
  tests/integration_tests/test_integration.py
Labels: optuna.integration, optuna.testing

#5230 Remove BoTorch integration
  docs/source/faq.rst
  docs/source/reference/integration.rst
  optuna/integration/botorch.py
  pyproject.toml
  tests/integration_tests/test_botorch.py
  tests/samplers_tests/test_samplers.py
  tutorial/20_recipes/005_user_defined_sampler.py
Labels: optuna.integration

#5224 Add UCB for `optuna._gp`
  optuna/_gp/acqf.py
  optuna/_gp/gp.py
  optuna/samplers/_gp/sampler.py
  tests/gp_tests/test_acqf.py
Labels: optuna.samplers

#5234 Remove SkoptSampler
  docs/source/reference/integration.rst
  optuna/integration/skopt.py
  pyproject.toml
Labels: optuna.integration

#5233 Add a note section to explain that reseed affects reproducibility
  docs/source/reference/samplers/index.rst
Labels: document

#5235 Update links to papers
  README.md
  optuna/_hypervolume/hssp.py
  optuna/multi_objective/samplers/_nsga2.py
  optuna/pruners/_successive_halving.py
  optuna/samplers/_cmaes.py
  optuna/samplers/_tpe/sampler.py
  optuna/samplers/nsgaii/_crossovers/_blxalpha.py
  optuna/samplers/nsgaii/_crossovers/_undx.py
  optuna/samplers/nsgaii/_crossovers/_vsbx.py
  optuna/samplers/nsgaii/_sampler.py
  optuna/terminator/terminator.py
  optuna/visualization/_edf.py
Labels: document, optuna.pruners, optuna.samplers, optuna.visualization

#5236 Remove the cma integration
  docs/source/reference/integration.rst
  optuna/integration/cma.py
  optuna/samplers/_cmaes.py
  pyproject.toml
  tests/integration_tests/test_cma.py
  tests/samplers_tests/test_samplers.py
Labels: optuna.integration, optuna.samplers

#5237 Remove the wandb integration
  docs/source/reference/integration.rst
  optuna/integration/wandb.py
  pyproject.toml
  tests/integration_tests/test_wandb.py
Labels: compatibility, optuna.integration

#5239 Remove XGBoost Integration
  docs/source/reference/integration.rst
  optuna/integration/xgboost.py
  pyproject.toml
  tests/integration_tests/test_integration.py
  tests/integration_tests/test_xgboost.py
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
Labels: optuna.integration

#5240 Delete `labeler.yml` to disable the `triage` action
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: other

#5244 Replace the old example directory
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
Labels: document

#5243 adding link for module's example to documetation for the optuna.terminator module
  docs/source/reference/terminator.rst
Labels: document

#5194 Add a new section explaing how to customize figures
  tutorial/10_key_features/005_visualization.py
Labels: document

#5229 Fix trial validation
  optuna/trial/_frozen.py
  tests/trial_tests/test_frozen.py
Labels: bug, optuna.trial

#5213 Remove pytorch integration
  .github/workflows/coverage.yml
  .github/workflows/mac-tests.yml
  .github/workflows/tests-mpi.yml
  .github/workflows/windows-tests.yml
  docs/source/reference/integration.rst
  optuna/integration/pytorch_distributed.py
  optuna/integration/pytorch_ignite.py
  optuna/integration/pytorch_lightning.py
  pyproject.toml
  tests/integration_tests/test_pytorch_distributed.py
  tests/integration_tests/test_pytorch_ignite.py
  tests/integration_tests/test_pytorch_lightning.py
Labels: optuna.integration

#5241 Implement optuna.terminator using optuna._gp
  .github/workflows/tests.yml
  optuna/_gp/acqf.py
  optuna/_gp/prior.py
  optuna/samplers/_gp/sampler.py
  optuna/terminator/improvement/_preprocessing.py
  optuna/terminator/improvement/evaluator.py
  optuna/terminator/improvement/gp/__init__.py
  optuna/terminator/improvement/gp/base.py
  optuna/terminator/improvement/gp/botorch.py
  pyproject.toml
  tests/gp_tests/test_acqf.py
  tests/terminator_tests/improvement_tests/gp_tests/test_botorch.py
  tests/terminator_tests/improvement_tests/test_evaluator.py
  tests/terminator_tests/improvement_tests/test_preprocessing.py
Labels: compatibility, optuna.samplers

#5250 Add Optuna Dashboard section to docs
  docs/source/index.rst
Labels: document

#5247 Make `gp.fit_kernel_params` more robust
  optuna/_gp/gp.py
Labels: bug

#5249 Migrate LightGBM integration
  .readthedocs.yml
  docs/source/reference/integration.rst
  optuna/integration/__init__.py
  optuna/integration/_lightgbm_tuner/__init__.py
  optuna/integration/_lightgbm_tuner/_train.py
  optuna/integration/_lightgbm_tuner/alias.py
  optuna/integration/_lightgbm_tuner/optimize.py
  optuna/integration/_lightgbm_tuner/sklearn.py
  optuna/integration/lightgbm.py
  pyproject.toml
  tests/integration_tests/lightgbm_tuner_tests/__init__.py
  tests/integration_tests/lightgbm_tuner_tests/test_alias.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
  tests/integration_tests/test_integration.py
  tests/integration_tests/test_lightgbm.py
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
  tutorial/10_key_features/005_visualization.py
  tutorial/20_recipes/008_specify_params.py
Labels: compatibility

#5212 Add a super quick f-ANOVA algorithm named PED-ANOVA
  docs/source/reference/importance.rst
  optuna/importance/__init__.py
  optuna/importance/_ped_anova/__init__.py
  optuna/importance/_ped_anova/evaluator.py
  optuna/importance/_ped_anova/scott_parzen_estimator.py
  tests/importance_tests/pedanova_tests/__init__.py
  tests/importance_tests/pedanova_tests/test_evaluator.py
  tests/importance_tests/pedanova_tests/test_scott_parzen_estimator.py
  tests/importance_tests/test_fanova.py
  tests/importance_tests/test_importance_evaluators.py
  tests/importance_tests/test_mean_decrease_impurity.py
Labels: feature, optuna.importance

#5257 Replace lightgbm with PyTorch-based example to remove lightgbm dependency in visualization tutorial
  tutorial/10_key_features/005_visualization.py
Labels: document

#5261 Simplify annotations in `optuna/study/_optimize.py`
  optuna/study/_optimize.py
Labels: code-fix

#5258 Remove unnecessary comment in `Specify Hyperparameters Manually` tutorial page
  tutorial/20_recipes/008_specify_params.py
Labels: document

#5275 MInor fixes
  optuna/storages/_journal/file.py
  optuna/study/_tell.py
Labels: document

#5256 Add a safety guard to Wilcoxon pruner, and modify the docstring
  optuna/pruners/_wilcoxon.py
  tests/pruners_tests/test_wilcoxon.py
Labels: document

#5270 Clarify that pruners module does not support multi-objective optimization
  docs/source/reference/pruners.rst
  tutorial/10_key_features/003_efficient_optimization_algorithms.py
Labels: document

#5271 Unify indent size, two in toml file
  pyproject.toml
Labels: CI

#5278 Remove the Python version constraint for PyTorch
  pyproject.toml
  tests/gp_tests/test_acqf.py
  tests/samplers_tests/test_samplers.py
Labels: test

#5160 Unify implementation of fast non-dominated sort
  optuna/samplers/_nsgaiii/_elite_population_selection_strategy.py
  optuna/samplers/_tpe/sampler.py
  optuna/samplers/nsgaii/_child_generation_strategy.py
  optuna/samplers/nsgaii/_constraints_evaluation.py
  optuna/samplers/nsgaii/_elite_population_selection_strategy.py
  optuna/study/_multi_objective.py
  tests/samplers_tests/test_nsgaii.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
  tests/study_tests/test_multi_objective.py
Labels: enhancement, optuna.samplers, optuna.testing
