Repository optuna/optuna, pull requests merged in 2024-08, with the labels that each got.

#5597 Split `LICENSE` file
  LICENSE
  LICENSE_THIRD_PARTY
  MANIFEST.in
  README.md
Labels: other

#5608 Simplify annotation storages
  optuna/storages/__init__.py
  optuna/storages/_cached_storage.py
  optuna/storages/_callbacks.py
  optuna/storages/_heartbeat.py
  optuna/storages/_in_memory.py
Labels: code-fix

#5599 Add some tests for visualization functions.
  tests/visualization_tests/test_visualizations.py
Labels: test

#5598 Refactor `_bisect` in `_truncnorm.py`
  optuna/samplers/_tpe/_truncnorm.py
Labels: code-fix

#5587 Refactor `_is_categorical()` in `optuna/optuna/visualization`
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_utils.py
Labels: enhancement

#5623 Fix the expired links caused by the directory name change in optuna-examples
  optuna/pruners/_successive_halving.py
Labels: document

#5615 Add a note about `np.unique`
  optuna/study/_multi_objective.py
Labels: code-fix

#5602 Add `EMMREvaluator` and `MedianErrorEvaluator`
  docs/source/reference/terminator.rst
  optuna/terminator/__init__.py
  optuna/terminator/improvement/emmr.py
  optuna/terminator/improvement/evaluator.py
  optuna/terminator/median_erroreval.py
  tests/terminator_tests/improvement_tests/test_emmr_evaluator.py
  tests/terminator_tests/test_median_erroreval.py
Labels: feature

#5630 Fix the error caused in `plot_contour()` with an impossible pair of variables
  optuna/visualization/_contour.py
  tests/visualization_tests/test_visualizations.py
Labels: bug

#5632 Remove the use of `evaluator.evaluate` function in the example of `PedAnovaImportanceEvaluator`
  optuna/importance/_ped_anova/evaluator.py
Labels: document

#5575 Add thumbnail
  .github/workflows/sphinx-build.yml
  .gitignore
  docs/Makefile
  docs/source/_static/css/custom.css
  docs/source/conf.py
  docs/source/reference/visualization/index.rst
  docs/source/reference/visualization/matplotlib.rst
  docs/source/reference/visualization/matplotlib/index.rst
  docs/visualization_examples/GALLERY_HEADER.rst
  docs/visualization_examples/optuna.visualization.plot_contour.py
  docs/visualization_examples/optuna.visualization.plot_edf.py
  docs/visualization_examples/optuna.visualization.plot_hypervolume_history.py
  docs/visualization_examples/optuna.visualization.plot_intermediate_values.py
  docs/visualization_examples/optuna.visualization.plot_optimization_history.py
  docs/visualization_examples/optuna.visualization.plot_parallel_coordinate.py
  docs/visualization_examples/optuna.visualization.plot_param_importances.py
  docs/visualization_examples/optuna.visualization.plot_pareto_front.py
  docs/visualization_examples/optuna.visualization.plot_rank.py
  docs/visualization_examples/optuna.visualization.plot_slice.py
  docs/visualization_examples/optuna.visualization.plot_terminator_improvement.py
  docs/visualization_examples/optuna.visualization.plot_timeline.py
  docs/visualization_matplotlib_examples/GALLERY_HEADER.rst
  docs/visualization_matplotlib_examples/optuna.visualization.matplotlib.contour.py
  docs/visualization_matplotlib_examples/optuna.visualization.matplotlib.edf.py
  docs/visualization_matplotlib_examples/optuna.visualization.matplotlib.hypervolume_history.py
  docs/visualization_matplotlib_examples/optuna.visualization.matplotlib.intermediate_values.py
  docs/visualization_matplotlib_examples/optuna.visualization.matplotlib.optimization_history.py
  docs/visualization_matplotlib_examples/optuna.visualization.matplotlib.parallel_coordinate.py
  docs/visualization_matplotlib_examples/optuna.visualization.matplotlib.param_importances.py
  docs/visualization_matplotlib_examples/optuna.visualization.matplotlib.pareto_front.py
  docs/visualization_matplotlib_examples/optuna.visualization.matplotlib.rank.py
  docs/visualization_matplotlib_examples/optuna.visualization.matplotlib.slice.py
  docs/visualization_matplotlib_examples/optuna.visualization.matplotlib.terminator_improvement.py
  docs/visualization_matplotlib_examples/optuna.visualization.matplotlib.timeline.py
  optuna/visualization/_contour.py
  optuna/visualization/_edf.py
  optuna/visualization/_hypervolume_history.py
  optuna/visualization/_intermediate_values.py
  optuna/visualization/_optimization_history.py
  optuna/visualization/_parallel_coordinate.py
  optuna/visualization/_param_importances.py
  optuna/visualization/_pareto_front.py
  optuna/visualization/_rank.py
  optuna/visualization/_slice.py
  optuna/visualization/_terminator_improvement.py
  optuna/visualization/_timeline.py
  optuna/visualization/matplotlib/_contour.py
  optuna/visualization/matplotlib/_edf.py
  optuna/visualization/matplotlib/_hypervolume_history.py
  optuna/visualization/matplotlib/_intermediate_values.py
  optuna/visualization/matplotlib/_optimization_history.py
  optuna/visualization/matplotlib/_parallel_coordinate.py
  optuna/visualization/matplotlib/_param_importances.py
  optuna/visualization/matplotlib/_pareto_front.py
  optuna/visualization/matplotlib/_rank.py
  optuna/visualization/matplotlib/_slice.py
  optuna/visualization/matplotlib/_terminator_improvement.py
  optuna/visualization/matplotlib/_timeline.py
  pyproject.toml
  setup.cfg
Labels: document

#5636 Add the news section to `README.md`
  README.md
Labels: document

#5627 Fix ruff errors except for E731
  optuna/distributions.py
  tests/samplers_tests/test_brute_force.py
  tests/trial_tests/test_trial.py
  tutorial/20_recipes/002_multi_objective.py
Labels: code-fix, stale

#5634 Fix inappropriate behavior in `plot_rank()` when `None` values exist in trial
  optuna/visualization/_rank.py
  optuna/visualization/matplotlib/_rank.py
  tests/visualization_tests/test_visualizations.py
Labels: bug

#5640 Remove `optuna.samplers.MOTPESampler`
  optuna/samplers/__init__.py
Labels: compatibility

#5639 Add artifact store post link
  docs/source/reference/artifacts.rst
Labels: document

#5638 Add TPE blog post link to doc
  optuna/samplers/_tpe/sampler.py
  optuna/samplers/nsgaii/_sampler.py
Labels: document

#5641 Enhance the error message of `multi_objective` deletion
  optuna/multi_objective/__init__.py
Labels: enhancement

#5645 Remove duplicated definition of license in `pyproject.toml`
  pyproject.toml
Labels: other

#5637 Add SNS URLs to `README.md`
  README.md
Labels: document

#5648 Remove a broken link
  README.md
Labels: document

#5644 Add installation guide for visualization tutorial
  tutorial/10_key_features/005_visualization.py
Labels: document

#5649 Update the `News` section of `README.md`
  README.md
Labels: document

#5654 Bump up to version number 4.1.0dev
  optuna/version.py
Labels: other

#5655 Update news
  README.md
Labels: document
