Repository optuna/optuna, pull requests merged in 2024-01, with the labels that each got.

#5176 Fix type annotation of logging
  optuna/logging.py
Labels: code-fix

#5147 Use vectorization for categorical distance
  optuna/samplers/_tpe/parzen_estimator.py
Labels: optuna.samplers, stale

#5161 Delete tensorboard integration for migration to optuna-integration
  docs/source/reference/integration.rst
  optuna/integration/tensorboard.py
  tests/integration_tests/test_tensorboard.py
Labels: compatibility, optuna.integration

#5188 Make Methods section hidden from Artifact Docs
  docs/source/reference/artifacts.rst
Labels: document

#5189 Enhance README
  README.md
Labels: document

#5177 Fix Checks (Integration) CI for NumPy 1.23.5
  optuna/samplers/_tpe/_erf.py
Labels: CI, optuna.samplers

#5193 Update NamedTuple in _ParzenEstimatorParameters to more modern style
  optuna/samplers/_tpe/parzen_estimator.py
Labels: code-fix, optuna.samplers

#5192 Ignore auto generated files by Sphinx
  .gitignore
  docs/Makefile
Labels: other

#5198 Remove CatBoost integration for isolation.
  docs/source/reference/integration.rst
  optuna/integration/catboost.py
  pyproject.toml
  tests/integration_tests/test_catboost.py
Labels: optuna.integration

#5210 Add version constraint for black
  pyproject.toml
Labels: CI

#5214 Skip the reproducibility tests for lightgbm
  tests/artifacts_tests/test_boto3.py
  tests/integration_tests/lightgbm_tuner_tests/test_optimize.py
Labels: CI
