Repository optuna/optuna, pull requests merged in 2025-06, with the labels that each got.

#6119 Optimize `Study.best_trial` performance by avoiding unnecessary deep copy
  optuna/study/study.py
  tests/study_tests/test_study.py
Labels: enhancement, sprint-20250531

#6104 Refactor `test_base_gasampler.py`
  tests/samplers_tests/test_base_gasampler.py
Labels: test

#6115 Improve performance of `plot_hypervolume_history`
  optuna/visualization/_hypervolume_history.py
Labels: enhancement, sprint-20250531

#6120 Performance optimization for `test_study.py` by removing redundancy
  tests/study_tests/test_study.py
Labels: sprint-20250531

#6116 Improve test cases for `n_recent_trials` of `plot_timeline` (follow-up #6110).
  tests/visualization_tests/test_timeline.py
Labels: test, sprint-20250531

#6040 Add float precision tests for storages
  tests/storages_tests/test_storages.py
  tests/storages_tests/test_with_server.py
Labels: test

#6129 Add `assume_pareto` for hv calculation in `_calculate_weights_below_for_multi_objective`
  optuna/samplers/_tpe/sampler.py
Labels: enhancement

#6124 Refactor and speed up HV3D
  optuna/_hypervolume/wfg.py
Labels: enhancement

#6140 Refactor return standardization in `optim_mixed.py`
  optuna/_gp/optim_mixed.py
Labels: code-fix

#6139 Simplify tuple return in `optuna/visualization/_terminator_improvement.py`
  optuna/visualization/_terminator_improvement.py
Labels: code-fix

#6141 Simplify tuple return in `test_trial.py`
  tests/trial_tests/test_trial.py
Labels: code-fix

#6145 [hotfix] Add version constraint on blackdoc
  .github/workflows/checks.yml
  .github/workflows/reviewdog.yml
Labels: CI

#6149 Bump up version number to v4.5.0.dev
  optuna/version.py
Labels: other

#6125 Clean up GP-related docs
  optuna/_gp/gp.py
  optuna/terminator/improvement/emmr.py
Labels: code-fix

#6123 Improve parallelization document
  .github/workflows/sphinx-build.yml
  .readthedocs.yml
  docs/Makefile
  docs/source/conf.py
  tutorial/10_key_features/004_distributed.py
Labels: document

#6153 Rename `KernelParamsTensor` to `GPRegressor`
  optuna/_gp/acqf.py
  optuna/_gp/gp.py
  optuna/_gp/optim_mixed.py
  optuna/_gp/prior.py
  optuna/samplers/_gp/sampler.py
  optuna/terminator/improvement/emmr.py
  optuna/terminator/improvement/evaluator.py
  tests/gp_tests/test_acqf.py
  tests/gp_tests/test_gp.py
  tests/samplers_tests/test_gp.py
Labels: code-fix

#6154 Refactor returns in `v3.0.0.d.py`
  optuna/storages/_rdb/alembic/versions/v3.0.0.d.py
Labels: code-fix

#6159 Update News section in README
  README.md
Labels: other

#6161 Fix CI
  .github/workflows/tests-storage.yml
  .github/workflows/tests-with-minimum-versions.yml
  .github/workflows/tests.yml
Labels: CI

#6157 Add an FAQ entry about specifying optimization parameters
  docs/source/faq.rst
Labels: document

#6099 Fix: Resolve PG17 incompatibility for ENUMS in CASE statements
  .github/workflows/tests-storage.yml
  optuna/storages/_rdb/models.py
Labels: bug

#6130 Calculate hypervolume in HSSP using sum of contributions
  optuna/_hypervolume/hssp.py
Labels: enhancement

#6127 Add FAQ for case sensitivity problem with MySQL
  docs/source/faq.rst
Labels: document

#6169 Update link to survey
  README.md
Labels: document

#6177 Fix type checking in `optuna.artifacts._download.py`
  optuna/artifacts/_download.py
Labels: code-fix

#6171 Add introduction of OptunaHub in docs
  docs/image/optunahub-introduction.png
  docs/source/index.rst
Labels: document

#6166 Refactor acquisition function minimally
  optuna/_gp/acqf.py
  optuna/_gp/gp.py
  optuna/_gp/optim_mixed.py
  optuna/_gp/optim_sample.py
  optuna/samplers/_gp/sampler.py
  optuna/terminator/improvement/emmr.py
  optuna/terminator/improvement/evaluator.py
  tests/gp_tests/test_acqf.py
  tests/gp_tests/test_gp.py
  tests/samplers_tests/test_gp.py
Labels: code-fix

#6176 Add GPSampler as a sampler that supports constraints
  docs/source/faq.rst
Labels: document

#6133 Refactor `tell_with_warning` to avoid unnecessary `get_trial` call
  optuna/study/_optimize.py
  optuna/study/_tell.py
  optuna/study/study.py
  tests/study_tests/test_optimize.py
  tests/study_tests/test_study.py
Labels: enhancement
