Repository optuna/optuna, pull requests merged in 2025-02, with the labels that each got.

#5964 Bump up to version number v4.2.1
  optuna/version.py
Labels: other

#5965 [backport] Use `_LazyImport` for grpcio package
  optuna/storages/_grpc/client.py
  optuna/storages/_grpc/grpc_imports.py
  optuna/storages/_grpc/server.py
  optuna/storages/_grpc/servicer.py
Labels: bug

#5864 Add `BaseGASampler`
  optuna/samplers/__init__.py
  optuna/samplers/_ga/__init__.py
  optuna/samplers/_ga/_base.py
  optuna/samplers/nsgaii/_sampler.py
  tests/samplers_tests/test_base_gasampler.py
  tests/samplers_tests/test_nsgaii.py
Labels: code-fix

#5975 Removed `_check_and_set_param_distribution`
  optuna/storages/_rdb/storage.py
Labels: code-fix

#5972 Fix comments in `pyproject.toml`
  pyproject.toml
Labels: code-fix

#5977 Removed `testing/distributions.py`
  optuna/testing/distributions.py
Labels: code-fix

#5980 Update README with the new blog entry
  README.md
Labels: other

#5976 Update comment in `.readthedocs.yml`
  .readthedocs.yml
Labels: document

#5978 Remove `_StudyInfo`'s `param_distribution` in `_cached_storage.py`
  optuna/storages/_cached_storage.py
Labels: code-fix

#5982 Improve time complexity of IntersectionSearchSpace #5949
  optuna/search_space/intersection.py
Labels: code-fix

#5990 Use `JournalStorage` in `test_cli.py`
  optuna/testing/storages.py
  tests/test_cli.py
Labels: test
