Repository optuna/optuna, pull requests merged in 2025-08, with the labels that each got.

#6189 Fix `TPESampler` with `multivariate` and `constant_liar`
  optuna/samplers/_tpe/sampler.py
Labels: bug

#6233 Remove version constraint for torch with Python 3.13
  .github/workflows/tests.yml
  pyproject.toml
Labels: installation

#6226 Add a note about unrelated changes in PR
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: document

#6234 Speed up HSSP 4D+ by using a decremental approach
  optuna/_hypervolume/hssp.py
Labels: enhancement

#6237 Replace `torch.newaxis` with `None` for old PyTorch
  optuna/_gp/acqf.py
Labels: code-fix

#6228 Support 1D Search Spaces in `CmaEsSampler`
  .github/workflows/tests-with-minimum-versions.yml
  optuna/samplers/_cmaes.py
  pyproject.toml
  tests/samplers_tests/test_cmaes.py
Labels: feature

#6238 Document the default evaluator in Optuna Dashboard
  docs/source/reference/importance.rst
  optuna/visualization/_param_importances.py
Labels: document

#6246 Fix CI
  .github/workflows/windows-tests.yml
Labels: CI

#6245 Add hypervolume computation for a zero size array
  optuna/_hypervolume/wfg.py
  tests/hypervolume_tests/test_wfg.py
Labels: enhancement

#6249 Skip trial validation on copy_study
  optuna/study/study.py
Labels: bug

#6248 Speed up LogEI implementation
  optuna/_gp/acqf.py
Labels: enhancement

#6259 Modify `TYPE_CHECKING` in `_brute_force.py`
  optuna/samplers/_brute_force.py
Labels: code-fix

#6263 Add a link to the metric TPE paper in the `TPESampler` document
  optuna/samplers/_tpe/sampler.py
Labels: document

#6243 Move `fit_kernel_params` to `GPRegressor`
  optuna/_gp/gp.py
  tests/gp_tests/test_gp.py
Labels: code-fix
