Repository optuna/optuna, pull requests merged in 2025-05, with the labels that each got.

#6044 Fix request.values in `OptunaStorageProxyService`
  optuna/storages/_grpc/servicer.py
  optuna/testing/storages.py
  tests/storages_tests/test_grpc.py
Labels: bug

#6025 Remove `restart_strategy` and `inc_popsize` to simplify `CmaEsSampler`
  optuna/samplers/_cmaes.py
  tests/samplers_tests/test_cmaes.py
Labels: compatibility

#6052 Add `AcquisitionFuncParams` for LogEHVI
  optuna/_gp/acqf.py
  tests/gp_tests/test_acqf.py
Labels: feature

#6068 Remove `CmaEsAttrKeys` and `_attr_keys` for Simplification
  optuna/samplers/_cmaes.py
  tests/samplers_tests/test_cmaes.py
Labels: code-fix

#6059 Adapt `TYPE_CHECKING` of `samplers/_gp/sampler.py`
  optuna/samplers/_gp/sampler.py
Labels: enhancement

#6080 Replace `np.isnan` with `math.isnan`
  optuna/distributions.py
Labels: code-fix

#6081 Update the documentation string of `GPSampler`
  docs/source/reference/samplers/index.rst
  optuna/_gp/optim_mixed.py
  optuna/samplers/_gp/sampler.py
Labels: document

#6082 Refactor warning handling of `_tell_with_warning`
  optuna/study/_optimize.py
  optuna/study/_tell.py
  optuna/study/study.py
  tests/study_tests/test_optimize.py
Labels: code-fix

#6090 Update TYPE_CHECKING for ```optuna/_gp/gp.py```
  optuna/_gp/prior.py
  optuna/_gp/search_space.py
Labels: code-fix

#6102 Support mypy 1.16.0
  optuna/_gp/gp.py
  optuna/trial/_trial.py
  optuna/visualization/matplotlib/_rank.py
  optuna/visualization/matplotlib/_slice.py
  tests/trial_tests/test_frozen.py
  tests/visualization_tests/test_parallel_coordinate.py
Labels: code-fix

#6066 Fix a bug in distributed optimization using NSGA-II/III
  optuna/samplers/_ga/_base.py
  tests/samplers_tests/test_base_gasampler.py
Labels: bug

#6103 Fix to prevent daily `checks-optional` CI on the fork repositories
  .github/workflows/checks-optional.yaml
Labels: CI

#6106 Emit ExperimentalWarning if heartbeat is enabled
  optuna/storages/_rdb/storage.py
  optuna/study/_optimize.py
  tests/storages_tests/test_heartbeat.py
Labels: sprint-20250531

#6107 fix: fetch all trials in `BruteForceSampler` for `HyperbandPruner`
  optuna/samplers/_brute_force.py
  tests/pruners_tests/test_hyperband.py
Labels: bug, sprint-20250531

#6109 chore: run tests for importance only with in-memory
  tests/importance_tests/test_init.py
Labels: test, sprint-20250531

#6110 Add `n_recent_trials` to `plot_timeline`
  optuna/visualization/_timeline.py
  optuna/visualization/matplotlib/_timeline.py
  tests/visualization_tests/test_timeline.py
Labels: feature, sprint-20250531

#6112 Add `_compute_3d` for hypervolume computation
  optuna/_hypervolume/wfg.py
  tests/hypervolume_tests/test_wfg.py
Labels: enhancement, sprint-20250531
