Repository optuna/optuna, pull requests merged in 2025-04, with the labels that each got.

#6021 Made error message for `create_study`'s direction easier to understand `optuna.study`
  optuna/study/study.py
  tests/study_tests/test_study.py
Labels: code-fix

#6030 Fix type checking in `optuna._callbacks.py`
  optuna/_callbacks.py
Labels: enhancement

#6008 Enhance SBXCrossover
  optuna/samplers/nsgaii/_crossovers/_sbx.py
Labels: feature

#6009 Add arguments of versions to `convert_positional_args`
  optuna/_convert_positional_args.py
Labels: enhancement

#6037 Bump up version to 4.3.0
  optuna/version.py
Labels: other

#6038 Bump up version to 4.4.0dev
  optuna/version.py
Labels: other

#6007 Update `consider_prior` Behavior and Remove Support for `False`
  optuna/importance/_ped_anova/evaluator.py
  optuna/importance/_ped_anova/scott_parzen_estimator.py
  optuna/samplers/_tpe/parzen_estimator.py
  optuna/samplers/_tpe/sampler.py
  tests/importance_tests/pedanova_tests/test_scott_parzen_estimator.py
  tests/samplers_tests/tpe_tests/test_multi_objective_sampler.py
  tests/samplers_tests/tpe_tests/test_parzen_estimator.py
  tests/samplers_tests/tpe_tests/test_sampler.py
Labels: compatibility

#6045 Update Type-Checking for `optuna/_experimental.py`
  optuna/_experimental.py
Labels: code-fix

#6046 Update Type-Checking for `optuna/importance/_base.py`
  optuna/importance/_base.py
Labels: code-fix

#6051 Update Type-Checking for `optuna/_deprecated.py`
  optuna/_deprecated.py
Labels: code-fix

#6053 Update Type-Checking for `optuna/_gp/gp.py`
  optuna/_gp/gp.py
Labels: code-fix

#6050 Update Type-Checking for `optuna/_convert_positional_args.py`
  optuna/_convert_positional_args.py
Labels: code-fix

#6033 Update vsbx
  optuna/samplers/nsgaii/_crossovers/_vsbx.py
  tests/samplers_tests/test_nsgaii.py
Labels: bug

#6056 Add validate `eta` in sbx
  optuna/samplers/nsgaii/_crossovers/_sbx.py
Labels: enhancement

#6028 Optional mypy check
  .github/workflows/checks-optional.yaml
  optuna/_gp/gp.py
  optuna/importance/_ped_anova/scott_parzen_estimator.py
  optuna/samplers/_tpe/_erf.py
  optuna/storages/_grpc/server.py
  optuna/storages/_rdb/models.py
  optuna/testing/storages.py
  optuna/visualization/matplotlib/_contour.py
  optuna/visualization/matplotlib/_matplotlib_imports.py
  optuna/visualization/matplotlib/_param_importances.py
  optuna/visualization/matplotlib/_pareto_front.py
  optuna/visualization/matplotlib/_rank.py
  optuna/visualization/matplotlib/_slice.py
  optuna/visualization/matplotlib/_timeline.py
  tests/samplers_tests/test_nsgaii.py
  tests/storages_tests/journal_tests/test_journal.py
  tests/visualization_tests/test_slice.py
Labels: code-fix

#6039 Add a module to preprocess solutions for hypervolume improvement calculation
  optuna/_hypervolume/__init__.py
  optuna/_hypervolume/box_decomposition.py
  tests/hypervolume_tests/test_box_decomposition.py
Labels: feature
