Repository optuna/optuna, pull requests merged in 2025-03, with the labels that each got.

#5993 Add `_prev_waiting_trial_number` in `InMemoryStorage` to improve the efficiency of `_pop_waiting_trial_id`
  optuna/storages/_in_memory.py
Labels: enhancement

#5971 Prevent Lock Blocking by Adding Timeout to `JournalStorage`
  optuna/storages/journal/_file.py
  tests/storages_tests/journal_tests/test_journal.py
Labels: bug

#6001 Introduce `UpdateFinishedTrialError` to raise an error when attempting to modify a finished trial
  docs/source/reference/exceptions.rst
  optuna/exceptions.py
  optuna/storages/_base.py
  optuna/storages/_grpc/client.py
  optuna/storages/_grpc/servicer.py
  optuna/storages/_heartbeat.py
  optuna/storages/journal/_storage.py
  tests/storages_tests/test_storages.py
Labels: code-fix

#6005 Deprecate `consider_prior` in `TPESampler`
  optuna/samplers/_tpe/sampler.py
Labels: code-fix

#6006 Improve Code Readability by Following PEP8 Standards
  optuna/samplers/_tpe/sampler.py
Labels: code-fix

#6014 Add GPSampler blog to the announcement
  README.md
Labels: other

#6011 Remove warning messages for Matplotlib-based `plot_contour` and `plot_rank`
  optuna/visualization/matplotlib/_contour.py
  optuna/visualization/matplotlib/_rank.py
Labels: enhancement

#6004 Fix a bug that a gRPC server doesn't work with JournalStorage
  optuna/storages/_grpc/servicer.py
  optuna/testing/storages.py
  tests/storages_tests/test_storages.py
  tests/study_tests/test_study.py
Labels: bug

#6020 Add grpc blog to README
  README.md
Labels: other

#6019 Add workflow_dispatch trigger to all the CI
  .github/workflows/checks.yml
  .github/workflows/matplotlib-tests.yml
  .github/workflows/speed-benchmarks.yml
  .github/workflows/sphinx-build.yml
  .github/workflows/tests-storage.yml
Labels: CI

#6010 Add `wait_server_ready` method in GrpcStorageProxy
  optuna/storages/_grpc/client.py
  optuna/testing/storages.py
Labels: enhancement

#6026 Fix CI
  tests/artifacts_tests/test_gcs.py
Labels: CI

#6012 Fix `_pop_waiting_trial_id` for finished trial
  optuna/study/study.py
  tests/study_tests/test_study.py
Labels: bug
