Repository optuna/optuna, pull requests merged in 2025-01, with the labels that each got.

#5912 Avoid the input validation fail in Wilcoxon signed ranked test for Scipy 1.15
  optuna/pruners/_wilcoxon.py
Labels: bug

#5872 Introduce client-side cache in GrpcStorageProxy
  optuna/storages/_grpc/api.proto
  optuna/storages/_grpc/auto_generated/api_pb2.py
  optuna/storages/_grpc/auto_generated/api_pb2.pyi
  optuna/storages/_grpc/auto_generated/api_pb2_grpc.py
  optuna/storages/_grpc/client.py
  optuna/storages/_grpc/server.py
Labels: enhancement

#5914 Follow-up #5872: Update the docstring of `run_grpc_proxy_server`
  optuna/storages/_grpc/server.py
Labels: document

#5916 Modify doc-string of gRPC-related modules
  optuna/storages/_grpc/client.py
  optuna/storages/_grpc/server.py
Labels: document

#5898 Introduce `sphinx-notfound-page` for better 404 page
  docs/source/conf.py
  pyproject.toml
Labels: document

#5924 Fix the default sampler of `load_study` function
  optuna/study/study.py
  tests/study_tests/test_study.py
Labels: bug

#5923 Simplify annotations in `tests/study_tests/test_study.py`
  tests/study_tests/test_study.py
Labels: code-fix

#5913 Avoid the port number conflict in the copy study tests
  optuna/testing/storages.py
Labels: code-fix

#5926 Bump the version up to v4.2.0
  optuna/version.py
Labels: other

#5927 Bump the version up to v4.3.0.dev
  optuna/version.py
Labels: other

#5928 Add the article to the news section
  README.md
Labels: other

#5892 Fix contour plot of matplotlib
  optuna/visualization/matplotlib/_contour.py
Labels: bug

#5934 Update news section for 4.2.0 release
  README.md
Labels: other

#5936 Update News
  README.md
Labels: other

#5942 [backport] Backport PRs for v3.5.1 release.
  .github/workflows/pypi-publish.yml
  optuna/study/study.py
  tests/study_tests/test_study.py
  tutorial/20_recipes/012_artifact_tutorial.py
Labels: other

#5939 [backport] Backport PRs for v3.4.1 release.
  .github/workflows/pypi-publish.yml
  optuna/study/study.py
  tests/study_tests/test_study.py
  tutorial/20_recipes/012_artifact_tutorial.py
Labels: other

#5941 [backport] Backport PRs for v3.6.2 release
  .github/workflows/pypi-publish.yml
  optuna/study/study.py
  tests/study_tests/test_study.py
  tutorial/20_recipes/012_artifact_tutorial.py
Labels: other

#5943 Bump the version up to v3.4.1
  optuna/version.py
Labels: other

#5946 Bump up version number to v3.6.2
  optuna/version.py
Labels: other

#5945 Bump up version to 3.5.1.
  optuna/version.py
Labels: other

#5938 Ensure gRPC server readiness before proceeding to prevent test failures
  optuna/testing/storages.py
Labels: CI

#5952 Apply black to fix CI
  optuna/visualization/_pareto_front.py
  tests/artifacts_tests/test_boto3.py
  tests/importance_tests/test_init.py
  tests/pruners_tests/test_hyperband.py
  tests/pruners_tests/test_percentile.py
  tests/samplers_tests/test_grid.py
  tests/samplers_tests/test_nsgaii.py
  tests/samplers_tests/test_samplers.py
  tests/storages_tests/journal_tests/create_journal.py
  tests/visualization_tests/test_param_importances.py
  tests/visualization_tests/test_pareto_front.py
Labels: CI

#5922 fix(storage): Fix threading lock logic
  optuna/storages/journal/_storage.py
Labels: bug

#5954 Use `_LazyImport` for grpcio package
  optuna/storages/_grpc/client.py
  optuna/storages/_grpc/grpc_imports.py
  optuna/storages/_grpc/server.py
  optuna/storages/_grpc/servicer.py
Labels: bug
